<nav aria-label="breadcrumb">
  <div *ngIf="showBreadcrumb()" class="tw-inline-flex">
    <div *ngFor="let breadcrumb of breadcrumbs; let first = first; let last = last"
         [ngClass]="{'active': (last || breadcrumb.url === null)}"
         class="breadcrumb-item tw-text-mediumGray">
      <div *ngIf="breadcrumb.url && breadcrumb.url !== '//configuration//' &&  breadcrumb.url !== '//administration//'"
           [routerLink]="[breadcrumb.url]"
           role="button">
        <span class="tw-text-mediumGray">{{ breadcrumb.label | translate }}</span>
      </div>
      <div *ngIf="!breadcrumb.url || breadcrumb.url === '//configuration//' || breadcrumb.url === '//administration//'"
           class="breadcrumb-item tw-text-mediumGray">{{ breadcrumb.label | translate }}</div>
    </div>
    <div *ngIf="pageName" class="breadcrumb-item tw-text-mediumGray">{{ pageName | translate }}</div>
  </div>
</nav>
