<div class="form-group" [formGroup]="form">
  <label [attr.for]="property" *ngIf="label">
    {{label}}
    <sup *ngIf="required"> *</sup>
  </label>
  <kendo-upload #upload required
    [formControlName]="property"
    [saveUrl]="uploadSaveUrl"
    [removeUrl]="uploadRemoveUrl"
    [restrictions]="restrictions"
    [multiple]="multiple"
    [responseType]="responseType"
    [autoUpload]="autoUpload"
    (success)="onSuccess($event)"
    (error)="errorEventHandler($event)"
    (upload)="uploadEventHandler($event)"
    [accept]="acceptExtensions"
    [id]="controlId" [name]="controlId"
    [saveField]="saveField">
  </kendo-upload>
  <small class="form-text text-muted"><span i18n>{{textExplanation}}</span> </small>
  <!--Loop through errors-->
  <div class="help-block" *ngIf="showErrors()">
    <app-form-error [error]="formControl!.errors "></app-form-error>
  </div>
</div>
