.slide-out-component {
  //overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 40rem;
  bottom: 0;
  height: 100vh;
  z-index: 1050;
  visibility: hidden;
  overflow: hidden;
}

.slide-in-content {
  transition: transform .5s ease;
  border-radius: 4px;
  background-color: white;
  height: 97vh;
  margin: 1rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 1px 8px;
}

.slide-in.from-right .slide-in-content {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slide-in.show .slide-in-content {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.show {
  visibility: visible;
}

.header {
  width: 100%;
  padding: 1.5rem 1.7rem 1.5rem 2rem;
  @apply tw-justify-between;
  @apply tw-inline-flex;
  @apply tw-items-center;
}

.content {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.25em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  @apply tw-bg-lightGray;
  //outline: 1px solid #4c0e3c;
}

.buttons {
  @apply tw-inline-flex;
  @apply tw-justify-between;
  @apply tw-w-full;
  @apply tw-pl-4;
  @apply tw-pr-6;
  @apply tw-fixed;
  @apply tw-mb-8;
  bottom: 0;
}
