<!-- reference slide out component -->

<div [ngClass]="visible ? 'show' : ''" class="slide-out-component slide-in from-right">

  <div class="slide-in-content">
    <div class="header">
      <div class="small-title-bold"> {{ title | translate }}</div>
      <div>
        <img (click)="close()" class="p-2" src="assets/images/icons/close-icon.svg" />
      </div>
    </div>

    <div *ngIf="showHeaderBorder" class="transparent-gray-line"></div>

    <div [ngClass]="contentClass" class="content tw-h-4/6 md:tw-h-4/5">
      <ng-content></ng-content>
    </div>

    <div [ngClass]="hideCloseButton ? 'align-end' : ''"
         class="buttons">
      <button (click)="close()"
              *ngIf="!hideCloseButton"
              class="btn btn-link"
              type="submit">{{ secondaryButtonText | translate }}</button>
      <button (click)="confirm()"
              [disabled]="loading"
              class="btn btn-primary"
              type="submit">{{ primaryButtonText | translate }}</button>
    </div>
  </div>

</div>
