<div class="row">
  <div class="col-md-12">
    <app-select-input [form]="form" i18n-label label="Powerline" [property]="powerlineProperty"
      [selectOptions]="powerlineOptions | async" (selectItem)="onSelectPowerline($event)">
    </app-select-input>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="text-right bottom-align-text small"> 
      <a href="javascript:void(0);" (click)="clearDeviceSelection()" i18n>Clear</a>           
    </div> 
    <app-select-input [form]="form" i18n-label label="Device" [property]="deviceProperty"
      [selectOptions]="deviceOptions | async">
      <small small class="form-text text-muted" i18n>
        If you want to display cumulated data on powerline leave device empty
      </small>
    </app-select-input>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-input-checkbox [form]="form" [property]="historyGraphProperty" i18n-label label="Display history graph">
      <small small class="form-text text-muted" i18n>
        This will increase widget size to 3x2
      </small>
    </app-input-checkbox>
  </div>
</div>
