<div class="form tw-py-2">
  <div *ngIf="isContentLoaded">
    <div *ngFor="let activeJob of allActiveJobs" class="form-row">
      <div #divDescription [ngbTooltip]="activeJob.description" [openDelay]="500" class="col-8 text-truncate"
           container="body" placement="bottom">
        {{activeJob.description}}
      </div>
      <div [ngbTooltip]="setMomentNextRun(activeJob.nextRun)" [openDelay]="500" class="col-4 text-truncate"
           container="body" placement="bottom">
        {{setMomentNextRun(activeJob.nextRun)}}
      </div>
    </div>
  </div>
  <div *ngIf="!isContentLoaded" class="text-center pt-2 pb-2">
    <span class="ag-theme-epoint">{{ 'COMMON.LOADING-DATA' | translate }}</span>
  </div>
</div>
