<div class="form-row">
  <div class="col-auto">
    <app-input-text id="searchInput" label=""  [inputType]="'search'" [form]="form" [property]="searchProperty" class="d-inline-block" [placeholder]="'Search'" > </app-input-text>
    <button id="searchButton" type="button" class="btn btn-outline-secondary d-inline-block mb-1" (click)="onSearch()"
      ><i class="fa fa-search"><span i18n></span></i></button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-secondary d-inline-block mb-1" (click)="onFilter()"
      ><i class="fa fa-filter"><span i18n></span></i></button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-secondary d-inline-block mb-1" (click)="onColumns()"
      ><i class="fa fa-columns"><span i18n></span></i></button>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-secondary d-inline-block mb-1" (click)="onRefresh()" id="btnRedo"
      ><i class="fa fa-redo"><span i18n></span></i></button>
  </div>
</div>
