<div class="d-flex align-items-center mb-3">
  <app-header-title [headerTitle]="headerTitle"></app-header-title>
  <app-breadcrumb class="ml-auto"></app-breadcrumb>
</div>
<!--ID: {{id}}-->

<!-- row total items, selected filter name -->
<div *ngIf="!noData">
  <div class="d-flex align-items-center p-2 bg-white grid-actions" *ngIf="!selectedAtLeastOneRowOnGrid">
    <small class="text-secondary">{{totalCount}} <span i18n>items</span> &middot; {{filters}}</small>
    <app-action-form (searchChange)=searchData($event) (refresh)="refreshGrid()" class="ml-auto justify-content-end"></app-action-form>
  </div>

  <div class="d-flex align-items-center p-2 bg-primary" *ngIf="selectedAtLeastOneRowOnGrid">
    <div class="mr-3" *ngIf="!checkSelectedAll()">
      <small class="text-white">{{gridApi.getSelectedRows().length}} <span i18n>items selected</span>  &middot;
      <strong><u><a class="text-white" href="javascript:void(0);" (click)="selectAll()"><span i18n>Select all</span> ({{totalCount}})</a></u></strong></small>
    </div>
    <div class="mr-3" *ngIf="checkSelectedAll()">
      <small class="text-white"><span i18n>All ({{totalCount}}) items selected</span> &middot;
      <strong><u><a class="text-white" href="javascript:void(0);" (click)="deselectAll()"><span i18n>Clear selected</span></a></u></strong></small>
    </div>
    <button type="button" class="btn btn-link" (click)="onDelete()"><i class="far fa-trash"></i></button>
    <button type="button" class="btn btn-link" (click)="onTag()"><i class="far fa-tags"></i></button>
    <button type="button" class="btn btn-link" (click)="onScheduleReadJobs()"><i class="far fa-calendar"></i><span i18n>Read Jobs</span></button>
    <button type="button" class="btn btn-link" (click)="onBreakerStatus()"><i class="far fa-list-alt"></i><span i18n>Breaker Status</span></button>
    <button type="button" class="btn btn-link" (click)="onConnect()"><i class="far fa-plug"></i><span i18n>Connect/Reconnect</span></button>
    <button type="button" class="btn btn-link" (click)="onSetLimiter()"><i class="far fa-exclamation-triangle"></i><span i18n>Set Limiter</span></button>
    <button type="button" class="btn btn-link" (click)="onTou()"><i class="far fa-cog"></i><span i18n>TOU</span></button>
    <button type="button" class="btn btn-link" (click)="onUpgrade()"><i class="far fa-arrow-alt-square-up"></i><span i18n>Upgrade</span></button>
  </div>

  <!-- ag-grid -->
  <ag-grid-angular
    class="ag-theme-epoint"
    style="width: 100%; height: calc(100% - 25px);"
    #agGrid

    [domLayout]=agGridSettings.domLayout
    suppressSizeToFit=agGridSettings.suppressSizeToFit

    [modules]="modules"
    [icons]="icons"
    [pagination]=agGridSettings.pagination

    [paginationPageSize]=agGridSettings.paginationPageSize
    [multiSortKey]=agGridSettings.multiSortKey
    [cacheOverflowSize]="agGridSettings.cacheOverflowSize"
    [maxConcurrentDatasourceRequests]="agGridSettings.maxConcurrentDatasourceRequests"
    [frameworkComponents]="frameworkComponents"
    [cacheBlockSize]=agGridSettings.paginationPageSize
    [maxBlocksInCache]="1"
    [gridOptions]="gridOptions"
    [columnDefs]="columns"

    [suppressRowClickSelection]=agGridSettings.suppressRowClickSelection
    [rowSelection]=agGridSettings.rowSelection
    [sideBar]="sideBar"

    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    [overlayLoadingTemplate]="overlayLoadingTemplate"

    (selectionChanged)="onSelectionChanged()"
    (gridReady)="onGridReady($event)"
    (columnVisible)="onColumnVisible($event)"
    (toolPanelVisibleChanged)="toolPanelChanged($event)"
    (paginationChanged)="onPaginationChange($event)"
    (rowSelected)="onRowSelect($event)"
    (firstDataRendered)="onFirstDataRendered($event)"
    >
  </ag-grid-angular>
</div>
<div *ngIf="noData" class="d-flex flex-column justify-content-center align-items-center" style="height:80vh;">
  <div class="p-1"><i class="far fa-empty-set fa-3x text-secondary"></i></div>
  <div class="p-1"><h2 i18n>You have no Data Concentrator Units yet!</h2></div>
  <div class="p-1"><button type="button" class="btn btn-primary bg-primary" ><i class="far fa-plus"><span i18n> Add New</span></i></button></div>
</div>


<!-- za testiranje povezave na myGrid.Link ODSTRANI -->
<div class="card">
  <div class="form-row pt-3">
  <button class="btn btn-primary p-2" (click)=callGetToken()>Get myGrid.Link Token</button>
  <button class="btn btn-primary p-2" (click)=callConnect()>Connect device 221A39C5-6C84-4F6E-889C-96326862D771 </button>
  <button class="btn btn-primary p-2" (click)=callDisconnect()>Disconnect device 221A39C5-6C84-4F6E-889C-96326862D771 </button>
  </div>
  <div class="form-row pt-3">
    result: {{dataResult}}
  </div>
</div>

<div class="card">
  <div class="form-row pt-5">
    <button class="btn btn-primary p-2" (click)="getLastStatus()">Get last status</button>
    RequestId: <input class="p-2" type="text" [(ngModel)] = "requestId">
  </div>
  <div class="form-row pt-3">
    result: {{dataStatusResponse}}
  </div>
</div>