<!-- tw--m-5 -> negative margin align hack -->
<div [style.width.px]="addWidth()" class="sticky-header transparent-gray-line">

  <div [style.width.px]="addWidth()" class="tw-inline-flex tw-justify-between tw-items-center">

    <app-page-title
      [title]="'PLC-METER.METERS-OVERVIEW'"
      class="tw-h-28 tw-mt-10 tw--m-5"
    >
    </app-page-title>

    <div class="tw-mt-10 tw-pr-5 tw-pt-10">
      <div
        *ngIf="selectedRowsIds.length === 0 &&!selectAllEnabled || this.selectAllEnabled && selectedRowsIds?.length == 0 && getSelectedCount() === 0">
        <button
          (click)="onAdd()"
          [permission]="permissionMuManage"
          appHideIfPermissionUnauthorized
          class="btn btn-primary"
          href="javascript:void(0)"
        >
          {{ 'BUTTON.ADD' | translate }}
        </button>
      </div>
      <div
        *ngIf="selectedRowsIds?.length > 0 || (selectAllEnabled && selectedRowsIds?.length === 0 && getSelectedCount() !== 0)">
        <app-action-buttons [requestModel]="requestModel"
                            [searchColumnNames]="getSearchColumnNames()"
                            [selectedCount]="getSelectedCount()">

        </app-action-buttons>
      </div>
    </div>

  </div>
</div>

<div class="row tw-pt-20">
  <app-slide-out-component (closeButtonClickedEvent)="closeSlideOut()" (confirmButtonClickedEvent)="closeSlideOut()"
                           *ngIf="appliedFiltersFromUser"
                           [hideCloseButton]="true"
                           [primaryButtonText]="'BUTTON.CLOSE'"
                           [showHeaderBorder]="false"
                           [title]="'FILTER.TITLE'"
                           [visible]="filtersOpened">
    <div>
      <app-meter-unit-filter (filterChange)="applyFilters()"></app-meter-unit-filter>
    </div>

  </app-slide-out-component>

  <div>
    <div>
      <div class="mb-2">
      </div>

      <!-- load warning icon -->
      <img [src]="'assets/images/icons/warning-icon.svg'" class="display-none" />

      <div>
        <div>
        </div>
        <!-- reference component -->
        <!-- example of table grid with Pagination and fetch API calls for retrieving data -->
        <app-data-table
          (clearFilerTextClickEvent)="clearFilters($event)"
          (columnVisibilityChangedEvent)="columnVisibilityChanged($event)"
          (deSelectAllClickEvent)="deSelectAll($event)"
          (filterIconClickEvent)="filterIconClicked($event)"
          (linkClickedEvent)="openDetailsPage($event)"
          (pageChangedEvent)="loadMoreData($event)"
          (refreshButtonClickEvent)="getMetersListData(true)"
          (rowActionClickedEvent)="rowActionsClicked($event)"
          (searchInputChangedEvent)="searchData($event)"
          (selectAllClickEvent)="selectAll($event)"
          (selectedRowDataEvent)="selectedRows($event)"
          (selectionChangedEvent)="excludedIdsFromSelectAll($event)"
          (wildCardsEnabledEvent)="toggleWildcards($event)"
          *ngIf="gridData && appliedFiltersFromUser"
          [clientSideSearchAndFilters]="false"
          [disableSearch]="meterIdsFilterApplied"
          [excelExport]="true"
          [excelFileName]="'meters_overview'"
          [excludedIdsFromSelection]="requestModel.excludeIds"
          [fetchData]="true"
          [filtersCount]="getFilterCount() ? getFilterCount() : 0"
          [gridColumns]="metersColumns"
          [gridData]="gridData.data"
          [kendoGridSelectByColumn]="'deviceId'"
          [loading]="loading"
          [noDataTextAlignLeft]="true"
          [noDataText]="'COMMON.NO-DATA-FOUND'"
          [pageNumber]="pageNumber"
          [pageSize]="pageSize"
          [pageable]="true"
          [rowActions]="metersRowActionConfiguration"
          [rowHeight]="null"
          [scrollable]="'scrollable'"
          [searchText]="searchText"
          [selectAllEnabled]="selectAllEnabled"
          [selectedKeys]="selectedRowsIds"
          [showClearFiltersButton]="true"
          [showColumnChooser]="true"
          [sortable]="true"
          [sort]="[{ field: defaultSort.colId, dir: defaultSort.sort}]"
          [tableHeight]="calculateHeight()"
          [totalCount]="totalCount"
          [wildCardsEnabled]="wildCardsSearch"
          [wildCardsSearch]="true"
          [withClearFilerText]="true"
          [withFiltersIcon]="true"
          [withRefreshButton]="true"
          [withRowSelection]="true"
          (sortChangeEvent)="sortingChanged($event)"
          [withSearch]="true">
        </app-data-table>

        <div>
        </div>
      </div>
    </div>
  </div>

</div>

