<app-auto-refresh
      (timerExpired)="refresh()"
      [elapseTime]="refreshInterval"
      [hidden]="true">
</app-auto-refresh>

<div class="row">
  <div class="col-2 filter-shadow-container" *ngIf="!hideFilter">
    <div class="filter-shadow">
      <app-meter-unit-filter (filterChange)="reloadGrid(); deselectAll();" (toggleFilter)="toggleFilter()"></app-meter-unit-filter>
    </div>
  </div>

  <div class="filter-button" [ngClass]="{'col-10': !hideFilter, 'col-12': hideFilter}">

<!-- row total items, selected filter name -->
<div *ngIf="!noData">

  <div class="mb-2">
    <div class="grid-actions">
      <app-action-form
        [gridColumns]="columns"
        [isFilterOpened]="!hideFilter"
        [filtersInfo]="filtersInfo"
        (searchChange)="searchData($event)"
        (refresh)="refreshGrid()"
        (toggleFilter)="toggleFilter()">

        <div *ngIf="selectedAtLeastOneRowOnGrid" class="pr-3">
          <div dropdown class="btn-group">
            <button dropdownToggle class="btn btn-primary dropdown-toggle" type="button" id="operationsDropDown" data-toggle="dropdown"><span i18n>Operations</span></button>
            <div *dropdownMenu class="dropdown-menu" style="min-width: 13rem">
              <div>
                <a (click)="onDelete()" [disabled]="true" class="dropdown-item custom-hover-display" href="javascript:void(0)" style="pointer-events: none;cursor: default;color:gainsboro;"><span i18n>Delete</span></a>
              </div>
              <div>
                <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUReadJobs" class="dropdown-item custom-hover-display" href="javascript:void(0)"
                  (click)="onScheduleReadJobs()"><span i18n>Jobs</span></a>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
              <div class="dropdown-submenu">
                    <a dropdownToggle class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><span i18n>FW upgrade</span></a>
                  <div class="dropdown-menu">
                    <div class="dropdown-item">
                      <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUUpgrade" href="javascript:void(0)"
                        (click)="onUpgrade()"><span i18n>Upload image</span></a>
                    </div>
                    <div class="dropdown-item">
                    <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUUpgrade"  href="javascript:void(0)"
                        (click)="onActivateUpgrade()"><span i18n>Activate image</span></a>
                    </div>
                  </div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
              <div class="dropdown-item">
              <div class="dropdown-submenu">
                <a dropdownToggle class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><span i18n>Breaker</span></a>
              <div class="dropdown-menu">
                <div class="dropdown-item">
                  <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUConnect" href="javascript:void(0)"
                      (click)="onConnect()"><span i18n>Connect</span></a>
                  </div>
                  <div class="dropdown-item">
                  <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUDisconnect" href="javascript:void(0)"
                      (click)="onDisconnect()"><span i18n>Disconnect</span></a>
                  </div>
                  <div class="dropdown-item">
                    <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUBreakerStatus" href="javascript:void(0)"
                      (click)="onBreakerStatus()"><span i18n>State</span></a>
                  </div>
                  <div class="dropdown-item">
                    <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUBreakerStatus"href="javascript:void(0)"
                      (click)="onBreakerMode()"><span i18n>Mode</span></a>
                  </div>
              </div>
             </div>
            </div>
            <div class="dropdown-item">
             <div class="dropdown-submenu">
                <a dropdownToggle class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><span i18n>CII</span></a>
                <div class="dropdown-menu">
                  <div class="dropdown-item">
                    <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUCiiActivate" href="javascript:void(0)"
                      (click)="onCiiActivate()"><span i18n>Activate</span></a>
                  </div>
                  <div class="dropdown-item">
                    <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUCiiDeactivate" href="javascript:void(0)"
                      (click)="onCiiDeactivate()"><span i18n>Deactivate</span></a>
                  </div>
                  <div class="dropdown-item">
                    <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUCiiState" href="javascript:void(0)"
                      (click)="onCiiState()"><span i18n>State</span></a>
                  </div>
                </div>
              </div>
              </div>
              <div class="dropdown-divider"></div>
              <div>
                <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUTOU"  href="javascript:void(0)" class="dropdown-item custom-hover-display"
                  (click)="onTou()"><span i18n>TOU Upload</span></a>
              </div>
              <div class="dropdown-divider"></div>
              <div>
                <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUSetLimiter"  href="javascript:void(0)" class="dropdown-item custom-hover-display"
                  (click)="onSetLimiter()"><span i18n>Limiter</span></a>
              </div>
              <div>
                <a class="dropdown-item" type="button"  href="javascript:void(0)"  class="dropdown-item custom-hover-displaym" style="pointer-events: none;cursor: default;color:gainsboro;"><span i18n>Display</span></a>
              </div>
              <div>
                <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUSetLimiter" href="javascript:void(0)" class="dropdown-item custom-hover-display"
                  (click)="onSetMonitor()"><span i18n>Monitor</span></a>
              </div>
              <div>
                <a appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUSetLimiter" href="javascript:void(0)" class="dropdown-item custom-hover-display"
                  (click)="onClearFF()"><span i18n>Clear FF</span></a>
              </div>
              <div>
                <button class="dropdown-item" type="button" href="javascript:void(0)"  class="dropdown-item custom-hover-display" style="pointer-events: none;cursor: default; color:gainsboro;"><span i18n>Clear Alarms</span></button>
              </div>
            </div>
          </div>

          <button [appHideIfAuthorizedReadonly]="formFunctionality" type="button" class="btn btn-primary" [disabled]="true">
            <i class="far fa-tags"></i>
            <span i18n>Tags</span>
          </button>
          <button [appHideIfAuthorizedReadonly]="formFunctionality" type="button" class="btn btn-primary" [disabled]="true">
            <i class="far fa-chart-bar" disabled></i>
            <span i18n>Data</span>
          </button>
        </div>
      </app-action-form>
    </div>
  </div>

  <!-- ag-grid -->
  <div class="content-body-scroll">
    <div>
      <ag-grid-angular
        class="ag-theme-epoint"
        style="width: 100%; height: calc(100% - 25px);"
        #agGrid

        [domLayout]=agGridSettings.domLayout
        suppressSizeToFit=agGridSettings.suppressSizeToFit
        [localeText]="localeText"

        [modules]="modules"
        [icons]="icons"
        [pagination]=agGridSettings.pagination

        [paginationPageSize]=agGridSettings.paginationPageSize
        [multiSortKey]=agGridSettings.multiSortKey
        [cacheOverflowSize]="agGridSettings.cacheOverflowSize"
        [maxConcurrentDatasourceRequests]="agGridSettings.maxConcurrentDatasourceRequests"
        [frameworkComponents]="frameworkComponents"
        [cacheBlockSize]=agGridSettings.paginationPageSize
        [maxBlocksInCache]="1"
        [gridOptions]="gridOptions"
        [columnDefs]="columns"

        [suppressRowClickSelection]=agGridSettings.suppressRowClickSelection
        [rowSelection]=agGridSettings.rowSelection
        [sideBar]="sideBar"

        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        [overlayLoadingTemplate]="overlayLoadingTemplate"
        (selectionChanged)="onSelectionChanged()"
        (gridReady)="onGridReady($event)"
        (columnVisible)="onColumnVisible($event)"
        (paginationChanged)="onPaginationChange($event)"
        (rowSelected)="onRowSelect($event)"
        (firstDataRendered)="onFirstDataRendered($event)"
        >
      </ag-grid-angular>
      <div class="ag-paging-panel-selection">
        <div class="p-2 ml-1" *ngIf="getSelectedCount() > 0">
          <div class="mr-3" *ngIf="!checkSelectedAll() && getSelectedCount() > 0">
            <small class="link">{{getSelectedCount()}} <strong><span i18n>items selected</span> &middot;
              <a class="text-primary" href="javascript:void(0);" (click)="selectAll()">
                <span i18n>Select all</span>
                    ({{totalCount}})</a></strong></small>
          </div>

          <div class="mr-3" *ngIf="checkSelectedAll()">
            <small class="link"><strong><span i18n>All</span> ({{getTotalCountWithoutExcludedDisplay()}}) <span i18n>items selected</span> &middot;
              <a class="text-primary" href="javascript:void(0);" (click)="deselectAll()">
                <span i18n>Clear selected</span></a></strong></small>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="noData" class="d-flex flex-column justify-content-center align-items-center" style="height:80vh;">
      <div class="p-1"><i class="far fa-empty-set fa-3x text-secondary"></i></div>
      <div class="p-1"><h2 i18n>You have no Data Concentrator Units yet!</h2></div>
      <div class="p-1"><button type="button" class="btn btn-primary bg-primary" ><i class="far fa-plus">
        <span i18n> Add New</span></i>
      </button></div>
    </div>
    </div>
</div>
</div>
<ng-template #tipMoreSave><span i18n>More options</span></ng-template>
<ng-template #hidwShowFilters><span i18n>Show/hide filters</span></ng-template>
