$primary: #024d99;
$secondary: #9E9E9E;
$success: #A2D54B;
$info: #01BEBE;
$warning: #FFAE58;
$danger: #FC3C00 ;
$dark: #333333;

$navbar-fixed-background-light: #E5EDF5;
$navbar-fixed-background-dark: #2868A8;