$primary: #024d99;
$success: #14B125;
$info: #10B295;
$warning: #FC9E00;
$danger: #FC3C00;

$navbar-fixed-background-light: #024d99;
$navbar-fixed-background-dark: #024d99;

$white: #fff !default;
$gray-100: #F5F5F5 !default;
$gray-200: #F1EEEE !default;
$gray-300: #EAEAEA !default;
$gray-400: #D3D3D3 !default;
$gray-500: #C0C0C0 !default;
$gray-600: #7A7A7A !default;
$gray-700: #515151 !default;
$gray-800: #414040 !default;
$gray-900: #333333 !default;
$black: #000 !default;

$navbar-light-active-color: $danger;