$primary: #024D99;
$secondary: #FC3C00;

$success: #228739;
$info: #028199;
$warning: #FFAF14;
$danger: #EB1000;

$white: #fff !default;
$gray-100: #F9F9F9 !default;
$gray-200: #F3F3F3 !default;
$gray-300: #EAEAEA !default;
$gray-400: #D3D3D3 !default;
$gray-500: #C0C0C0 !default;
$gray-600: #7A7A7A !default;
$gray-700: #515151 !default;
$gray-800: #414040 !default;
$gray-900: #333333 !default;
$black: #000 !default;

$navbar-dark-bg: $primary;

// Kendo Charts
$orange:#E58634;

$series-a: $secondary;
$series-b: $warning;
$series-c: $success;
$series-d: $orange;
$series-e: $info;
$series-f: $danger;
