<app-modal-template (dismiss)="onDismiss()">

  <div modal-header [innerHTML]="'PLC-METER.ASSIGN-TEMPLATE' | translate:{selectedRowsCount: selectedRowsCount}"></div>

  <div modal-body>
    <ng-container>
      <div class="alert alert-warning" role="alert">
        <i class="fas fa-exclamation-triangle me-2"></i>
        <span>{{ 'PLC-METER.ASSIGN-TEMPLATE-WARNING' | translate }}</span>
      </div>
      <form class="form-horizontal" [formGroup]="form">
        <div class="form-row">
          <div class="col-12">
            <div>
              <ag-grid-angular class="ag-theme-epoint scrollable" style="width: 98%; height: 430px; overflow:auto;" #agGrid
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                [modules]="modules"
                (gridReady)="onGridReady($event)"
                (selectionChanged)="selectionChanged()"
                (firstDataRendered)="onFirstDataRendered($event)"
                suppressRowClickSelection="true"
                [pagination]="false"
                [rowSelection]="'single'"
              ></ag-grid-angular>
              <div class="help-block" *ngIf="noRegisterSelected">
                <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{requiredText}}</small>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn text-secondary" (click)="onDismiss()">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button type="submit" class="btn btn-primary" (click)="onConfirm()">
          <span>{{ 'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

