<app-modal-template (dismiss)="onDismiss()">

  <div [innerHTML]="'PLC-METER.ASSIGN-TEMPLATE' | translate:{selectedRowsCount: selectedRowsCount}" modal-header></div>

  <div modal-body>
    <ng-container>
      <div class="alert alert-warning d-flex" role="alert">
        <div class="align-self-center"><i class="fas fa-exclamation-triangle me-2"></i></div>
        <div class="tw-px-3">{{ 'PLC-METER.ASSIGN-TEMPLATE-WARNING' | translate }}</div>
      </div>
      <form [formGroup]="form" class="form-horizontal">
        <div class="form-row">
          <div class="col-12">
            <div>
              <ag-grid-angular #agGrid (firstDataRendered)="onFirstDataRendered($event)" (gridReady)="onGridReady($event)"
                               (selectionChanged)="selectionChanged()"
                               [columnDefs]="columnDefs"
                               [modules]="modules"
                               [pagination]="false"
                               [rowData]="rowData"
                               [rowSelection]="'single'"
                               class="ag-theme-epoint scrollable w-100"
                               style="height: 430px; overflow:auto;"
                               suppressRowClickSelection="true"
              ></ag-grid-angular>
              <div *ngIf="noRegisterSelected" class="help-block">
                <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{requiredText}}</small>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button (click)="onDismiss()" class="btn text-secondary" type="button">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button (click)="onConfirm()" class="btn btn-primary" type="submit">
          <span>{{ 'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

