<div class="d-flex align-items-center row-actions">
  <div *ngIf="isRowMouseOver && !hideEditDelete" class="btn-group">
    <button 
        type="button" class="btn btn-primary" (click)="editItem(params)"><i class="far fa-edit"></i></button>
    <button 
        type="button" class="btn btn-primary" (click)="deleteItem(params)"><i class="far fa-trash"></i></button>
  </div>
  <div *ngIf="isRowMouseOver && hideEditDelete" class="btn-group">
    <button 
        type="button" class="btn btn-primary" (click)="saveItem(params)"><i class="far fa-check"></i></button>
    <button 
        type="button" class="btn btn-primary" (click)="cancelItem(params)"><i class="far fa-ban"></i></button>
  </div>
</div>
