<div class="d-flex row-actions justify-content-end">
  <div *ngIf="!isRowInEditMode()" class="btn-group-sm">
    <button
        type="button" class="btn btn-primary m-0" (click)="editItem(params)"><i class="far fa-edit"
        container="body" placement="bottom" [openDelay]="500" triggers="hover" [ngbTooltip]="setToolTip('edit')"></i></button>
    <button
        type="button" class="btn btn-primary m-0" (click)="deleteItem(params)"><i class="far fa-trash"
        container="body" placement="bottom" [openDelay]="500" triggers="hover" [ngbTooltip]="setToolTip('delete')"></i></button>
  </div>
  <div *ngIf="isRowInEditMode()" class="btn-group-sm">
    <button
        type="button" class="btn btn-primary m-0" (click)="saveItem(params)"><i class="far fa-check"
        container="body" placement="bottom" [openDelay]="500" triggers="hover" [ngbTooltip]="setToolTip('save')"></i></button>
    <button
        type="button" class="btn btn-primary m-0" (click)="cancelItem(params)"><i class="far fa-ban"
        container="body" placement="bottom" [openDelay]="500" triggers="hover" [ngbTooltip]="setToolTip('cancel')"></i></button>
  </div>
</div>
