<div class="tw-inline-flex tw-items-center tw-h-52">
  <div *ngIf="title" class="tw-text-black tw-text-xl">
    {{ title }}
  </div>
  <div *ngIf="subtitle" class="tw-text-mediumGray tw-text-xl tw-ml-2">
    {{ subtitle }}
  </div>
  <div *ngIf="status"
       class="tw-inline-flex tw-ml-4 tw-text-green tw-bg-green tw-bg-opacity-20 rounded tw-h-8 tw-w-24 tw-items-center tw-justify-center tw-items-center tw-capitalize">
    <!-- create classes by enum -->
    {{ status.toLowerCase() }}
  </div>
</div>

<!--<div class="tw-inline-flex"> &lt;!&ndash; foreach tags &ndash;&gt;-->
<!--  <app-input-tag></app-input-tag>-->
<!--  <app-input-tag></app-input-tag>-->
<!--</div>-->
