<div class="form-row mt-0">
  <div class="pl-2 pr-2">
      <app-header-title></app-header-title>       
    </div>
    <div class="col-1 float-left">
      <i class="fas fa-plus-circle fa-2x text-primary"></i>
    </div>
    <div class="ml-auto pl-2 pr-2 pb-1">
     <app-breadcrumb ></app-breadcrumb>
    </div>
  </div>

<div class="form-row mt-0 bg-white">
  <div class="pl-2 align-bottom pt-3">
    <span class="align-text-bottom">{{searchResult}} items - {{filters}}</span>    
  </div>
</div>

<!-- grid -->
<div>
  <kendo-grid #grid [data]="gridData" class="no-scrollbar"
  [filterable]="true"  
  [pageSize]="state.take"  
  [skip]="state.skip"
  [sort]="state.sort"  
  [scrollable]="false"
  [pageable]="true"  
  [sortable]="true"
  [reorderable]="true"
  [resizable]="true"  
  (dataStateChange)="dataStateChange($event)">
<kendo-grid-column *ngFor="let col of columns"
           [field]="col.field"
           [title]="col.title"
           [filterable]="col.filter"
           [filter]="col.type"
           [format]="col.format"
           [locked]="col.locked"
           [width]="col.width"
           [sortable]="col.sortable">

    <!--       <ng-template *ngIf="col.isButton" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <button kendoButton (click)="col.callbackFunc(dataItem,rowIndex)" >{{ col.buttonLabel }}</button>
        </ng-template>
        <ng-template *ngIf="col.isIcon" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

          <span class="right-align">
            <div *ngIf="dataItem.iconColor === 'red'">
              <i [ngClass]="col.icon" class="text-danger font-size-sm text-right"> {{ dataItem.valuePercent }}</i>
            </div>
          </span>
          <span class="right-align">
            <div *ngIf="dataItem.iconColor === 'green'">
              <i [ngClass]="col.icon" class="text-success font-size-sm right-align"> {{ dataItem.valuePercent }}</i>
            </div>
            <div *ngIf="dataItem.iconColor === 'yellow'">
              <i [ngClass]="col.icon" class="text-warning font-size-sm right-align"> {{ dataItem.valuePercent }}</i>
            </div>
          </span>
      </ng-template>-->
    <!--  <ng-template kendoGridCellTemplate let-dataItem>
        <ng-container [ngTemplateOutlet]="colTemplate" [ngTemplateOutletContext]="{ $implicit: dataItem, column: col }">
        </ng-container>
      </ng-template>-->
</kendo-grid-column>
<ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
  <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
  <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
  <kendo-pager-next-buttons></kendo-pager-next-buttons>
  <kendo-pager-page-sizes [pageSizes]="[5, 10, 40]"></kendo-pager-page-sizes>
</ng-template>
</kendo-grid>
</div>
<!-- grid templates-->
  <ng-template #headerTemplate let-column>
    Template {{ col.title }}
  </ng-template>
  <ng-template #colTemplate let-dataItem let-column="column">
    Template {{ dataItem[column.field] }}
  </ng-template>

<div class="row"> &nbsp;</div>
<div>
  <p>Restrictions when using pinned cols:</p>
  <p>- pre-defined column width for all columns on the grid</p>
  <p>- only left side pinning possible</p>
</div>