<div class="form-group" [formGroup]="form" [ngClass]="{'has-error': showErrors()}">

  <label [attr.for]="property" *ngIf="label">
    {{label}}
    <span *ngIf="required"> *</span>
  </label>

  <input [name]="property" [placeholder]="placeholder"  [type]="inputType" class="form-control" [formControlName]="property" [attr.numberOnly]="numberOnly ? '' : ''" [readonly]="isReadOnly">

  <!--Loop through errors-->
  <div class="help-block" *ngIf="showErrors()" class="error">
    <app-form-error [error]="formControl!.errors "></app-form-error>
  </div>

</div>