<div class="form-group" [formGroup]="form" [ngClass]="{'has-error': showErrors()}">

  <label [attr.for]="property" *ngIf="label">
    {{label}}
    <span *ngIf="required && label !== ' '"> *</span>
  </label>

  <div class="d-flex">
    <div class="input-group-prepend" *ngIf="iconName !== ''">
      <span class="input-group-text"><i class="fas {{iconName}}"></i></span>
    </div>
    <input [name]="property" [placeholder]="placeholder"  [type]="inputType" class="form-control" [formControlName]="property" [attr.numberOnly]="numberOnly ? '' : ''" [readonly]="isReadOnly">
    <span *ngIf="labelRight" class="align-self-end ml-3 mb-2" i18n>{{labelRight}}</span>
  </div>

  <!--Loop through errors-->
  <div class="help-block" *ngIf="showErrors()" class="error">
    <app-form-error [error]="formControl!.errors "></app-form-error>
  </div>

</div>
