<div [formGroup]="form" [ngClass]="{ 'has-error': showErrors() }" class="mb-3">
  <label *ngIf="label" [attr.for]="property">
    {{ 'FORM.' + label.toUpperCase() | translate }}
    <span *ngIf="required && label !== ' '"> *</span>
  </label>

  <div class="d-flex">
    <div *ngIf="iconName !== ''" class="input-group-prepend">
      <span class="input-group-text"><i class="fas {{ iconName }}"></i></span>
    </div>
    <input
      (blur)="onBlur()"
      [attr.numberOnly]="numberOnly ? '' : ''"
      [formControlName]="property"
      [name]="property"
      [ngClass]="{ 'form-control': true, 'text-yellow-border': showWarning() }"
      [pattern]="regex"
      [placeholder]="placeholder"
      [readonly]="isReadOnly"
      [type]="inputType"
    />
    <span *ngIf="labelRight" class="align-self-end ms-3 mb-2">{{ 'FORM.' + labelRight.toUpperCase() | translate }}</span>
  </div>
  <!--Loop through errors-->
  <div *ngIf="showErrors()" class="help-block" class="error">
    <app-form-error [overrideErrorPatternMessage]="overrideErrorPatternMessage" [error]="formControl!.errors"></app-form-error>
  </div>

  <div *ngIf="showWarning()" class="help-block" class="error">
    <app-form-warning [warning]="warnings"></app-form-warning>
  </div>
</div>
