<div class="d-flex row-actions justify-content-end">
  <div class="btn-group-sm">
    <button
      (click)="showItem()"
      [ngbTooltip]="setToolTip('details')"
      [openDelay]="500"
      class="btn btn-primary m-0"
      triggers="hover"
      type="button"
    >
      <i class="far fa-eye" container="body" placement="bottom"></i>
    </button>
    <button
      (click)="showRegisters()"
      *ngIf="params.data.state.toLowerCase() !== DeviceStateEnum.INSTALLING.toLocaleString().toLowerCase()"
      [ngbTooltip]="setToolTip('chart')"
      [openDelay]="500"
      class="btn btn-primary m-0"
      triggers="hover"
      type="button"
    >
      <i class="far fa-chart-bar" container="body" placement="bottom"></i>
    </button>
  </div>
  <div
    *ngIf="params.data.state.toLowerCase() !== DeviceStateEnum.INSTALLING.toLocaleString().toLowerCase()"
    [permissions]="[
      permissionMuManage,
      permissionManageJobs,
      permissionAssignTemplates,
      permissionFwUpgrade,
      permissionFwUpgrade,
      permissionDisconnectorConnect,
      permissionDisconnectorDisconnect,
      permissionDisconnectorGetState,
      permissionDisconnectorSetMode,
      permissionCiiActivate,
      permissionCiiDeactivate,
      permissionCiiState,
      permissionRelaysConnect,
      permissionRelaysDisconnect,
      permissionRelaysState,
      permissionRelaysSetMode
    ]"
    appHideIfAllPermissionsUnauthorized
    class="dropdown-ag-grid btn-group-sm"
    dropdown
  >
    <button
      [ngbTooltip]="setToolTip('operation')"
      [openDelay]="500"
      aria-expanded="false"
      aria-haspopup="true"
      class="btn btn-primary btn-sm"
      data-bs-toggle="dropdown"
      dropdownToggle
      id="dropdownMenuButton"
      triggers="hover"
      type="button"
    >
      <i class="far fa-ellipsis-h"></i>
    </button>
    <div (click)="$event.stopPropagation()" *dropdownMenu aria-labelledby="dropdownMenuButton"
         class="dropdown-menu dropdown-menu-right">
      <div [permission]="permissionMuManage" appHideIfPermissionUnauthorized>
        <a (click)="onDelete()" class="dropdown-item"
           href="javascript:void(0);"><span>{{ 'BUTTON.DELETE' | translate }}</span></a>
      </div>
      <div [permission]="permissionManageJobs" appHideIfPermissionUnauthorized class="dropdown-item">
        <div class="dropdown-submenu pull-left">
          <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
             href="javascript:void(0)"><span>{{ 'COMMON.JOBS' | translate }}</span></a>
          <div class="dropdown-menu">
            <div [permission]="permissionManageJobs" appHideIfPermissionUnauthorized>
              <a (click)="onScheduleReadJobs()" class="dropdown-item"
                 href="javascript:void(0)"><span>{{ 'PLC-METER.CREATE-NEW' | translate }}</span></a>
            </div>
            <div [permission]="permissionManageJobs" appHideIfPermissionUnauthorized>
              <a (click)="onJobsAssignExisting()" class="dropdown-item"
                 href="javascript:void(0)"><span>{{ 'PLC-METER.ASSIGN-EXISTING' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>
      <div [permission]="permissionAssignTemplates" appHideIfPermissionUnauthorized>
        <a (click)="onJobsTemplates()" class="dropdown-item"
           href="javascript:void(0);"><span>{{ 'PLC-METER.TEMPLATES' | translate }}</span></a>
      </div>

      <div
        [permissionsAbove]="[permissionManageJobs, permissionAssignTemplates]"
        [permissionsBelow]="[permissionFwUpgrade]"
        appHideDividerIfPermissionsUnauthorized
        class="dropdown-divider"
      ></div>

      <div [permission]="permissionFwUpgrade" appHideIfPermissionUnauthorized class="dropdown-item">
        <div class="dropdown-submenu pull-left">
          <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
             href="javascript:void(0)"><span>{{ 'PLC-METER.FW-UPGRADE-TITLE' | translate }}</span></a>
          <div class="dropdown-menu">
            <div [permission]="permissionFwUpgrade" appHideIfPermissionUnauthorized>
              <a (click)="onUpgrade()" class="dropdown-item"
                 href="javascript:void(0);"><span>{{ 'PLC-METER.UPLOAD-IMAGE' | translate }}</span></a>
            </div>
            <div [permission]="permissionFwUpgrade" appHideIfPermissionUnauthorized>
              <a (click)="onActivateUpgrade()" class="dropdown-item"
                 href="javascript:void(0);"><span>{{ 'PLC-METER.ACTIVATE-IMAGE' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>

      <div
        [permissionsAbove]="[permissionFwUpgrade]"
        [permissionsBelow]="[
          permissionDisconnectorConnect,
          permissionDisconnectorDisconnect,
          permissionDisconnectorGetState,
          permissionDisconnectorSetMode,
          permissionCiiActivate,
          permissionCiiDeactivate,
          permissionCiiState,
          permissionRelaysConnect,
          permissionRelaysDisconnect,
          permissionRelaysState,
          permissionRelaysSetMode
        ]"
        appHideDividerIfPermissionsUnauthorized
        class="dropdown-divider"
      ></div>
      <div
        [permissions]="[
          permissionDisconnectorConnect,
          permissionDisconnectorDisconnect,
          permissionDisconnectorGetState,
          permissionDisconnectorSetMode
        ]"
        appHideIfAllPermissionsUnauthorized
        class="dropdown-item"
      >
        <div class="dropdown-submenu pull-left">
          <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
             href="javascript:void(0)"><span>{{ 'PLC-METER.BREAKER.BREAKER' | translate }}</span></a>
          <div class="dropdown-menu">
            <div [permission]="permissionDisconnectorConnect" appHideIfPermissionUnauthorized>
              <a (click)="onConnect()" class="dropdown-item"
                 href="javascript:void(0);"><span>{{ 'COMMON.CONNECT' | translate }}</span></a>
            </div>
            <div [permission]="permissionDisconnectorDisconnect" appHideIfPermissionUnauthorized>
              <a (click)="onDisconnect()" class="dropdown-item"
                 href="javascript:void(0);"><span>{{ 'COMMON.DISCONNECT' | translate }}</span></a>
            </div>
            <div [permission]="permissionDisconnectorGetState" appHideIfPermissionUnauthorized>
              <a (click)="onDisconnectorStatus()" class="dropdown-item"
                 href="javascript:void(0);"><span>{{ 'COMMON.STATE' | translate }}</span></a>
            </div>
            <div [permission]="permissionDisconnectorSetMode" appHideIfPermissionUnauthorized>
              <a (click)="onDisconnectorMode()" class="dropdown-item"
                 href="javascript:void(0);"><span>{{ 'COMMON.MODE' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>

      <div
        [permissions]="[permissionCiiActivate, permissionCiiDeactivate, permissionCiiState]"
        appHideIfAllPermissionsUnauthorized
        class="dropdown-item"
      >
        <div class="dropdown-submenu pull-left disabled">
          <a class="dropdown-toggle" data-bs-toggle="dropdown" dropdownToggle
             href="javascript:void(0)"><span>{{ 'COMMON.CII' | translate }}</span></a>
          <div class="dropdown-menu">
            <div [permission]="permissionCiiActivate" appHideIfPermissionUnauthorized>
              <a (click)="onCiiActivate()" class="dropdown-item"
                 href="javascript:void(0);"><span>{{ 'COMMON.ACTIVATE' | translate }}</span></a>
            </div>
            <div [permission]="permissionCiiDeactivate" appHideIfPermissionUnauthorized>
              <a (click)="onCiiDeactivate()" class="dropdown-item"
                 href="javascript:void(0);"><span>{{ 'COMMON.DEACTIVATE' | translate }}</span></a>
            </div>
            <div [permission]="permissionCiiState" appHideIfPermissionUnauthorized>
              <a (click)="onCiiState()" class="dropdown-item"
                 href="javascript:void(0);"><span>{{ 'COMMON.STATE' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>

      <div
        [permissions]="[permissionRelaysConnect, permissionRelaysDisconnect, permissionRelaysState, permissionRelaysSetMode]"
        appHideIfAllPermissionsUnauthorized
        class="dropdown-item"
      >
        <div class="dropdown-submenu pull-left disabled">
          <a class="dropdown-toggle" data-bs-toggle="dropdown" dropdownToggle
             href="javascript:void(0)"><span>{{ 'COMMON.RELAYS' | translate }}</span></a>
          <div class="dropdown-menu">
            <div (click)="onRelaysConnect()" [permission]="permissionRelaysConnect" appHideIfPermissionUnauthorized
                 class="dropdown-item">
              <a href="javascript:void(0)"><span>{{ 'COMMON.CONNECT' | translate }}</span></a>
            </div>
            <div (click)="onRelaysDisconnect()" [permission]="permissionRelaysDisconnect"
                 appHideIfPermissionUnauthorized
                 class="dropdown-item">
              <a href="javascript:void(0)"><span>{{ 'COMMON.DISCONNECT' | translate }}</span></a>
            </div>
            <div (click)="onRelaysState()" [permission]="permissionRelaysState" appHideIfPermissionUnauthorized
                 class="dropdown-item">
              <a href="javascript:void(0)"><span>{{ 'COMMON.STATE' | translate }}</span></a>
            </div>
            <div (click)="onRelaysSetMode()" [permission]="permissionRelaysSetMode" appHideIfPermissionUnauthorized
                 class="dropdown-item">
              <a href="javascript:void(0)"><span>{{ 'COMMON.MODE' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>

      <div [permissionsAbove]="[permissionDisconnectorConnect,
                            permissionDisconnectorDisconnect,
                            permissionDisconnectorGetState,
                            permissionDisconnectorSetMode,
                            permissionCiiActivate,
                            permissionCiiDeactivate,
                            permissionCiiState,
                            permissionRelaysConnect,
                            permissionRelaysDisconnect,
                            permissionRelaysState,
                            permissionRelaysSetMode]" [permissionsBelow]="[permissionTouUpload]"
           appHideDividerIfPermissionsUnauthorized
           class="dropdown-divider"></div>

      <div (click)="onTou()" [permission]="permissionTouUpload" appHideIfPermissionUnauthorized>
        <a class="dropdown-item" href="javascript:void(0);"><span>{{ 'PLC-METER.TOU-UPLOAD' | translate }}</span></a>
      </div>

      <div [permissionsAbove]="[permissionTouUpload]" [permissionsBelow]="[permissionSetLimiter,
                                permissionSetMonitor,
                                permissionClearFF,
                                permissionSetDisplay,
                                permissionClearAlarms]"
           appHideDividerIfPermissionsUnauthorized
           class="dropdown-divider"></div>

      <div [permission]="permissionSetLimiter" appHideIfPermissionUnauthorized class="dropdown-item">
        <div class="dropdown-submenu pull-left">
          <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
             href="javascript:void(0)"><span>{{ 'COMMON.LIMITER' | translate }}</span></a>
          <div class="dropdown-menu">
            <div (click)="onSetLimiter()" [permission]="permissionSetLimiter" appHideIfPermissionUnauthorized
                 class="dropdown-item">
              <a href="javascript:void(0)"><span>{{ 'PLC-METER.SET-THRESHOLDS' | translate }}</span></a>
            </div>
            <div (click)="onReadLimiterThreshold()" [permission]="permissionReadMeter" appHideIfPermissionUnauthorized
                 class="dropdown-item">
              <a href="javascript:void(0)"><span>{{ 'PLC-METER.READ-THRESHOLDS' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>
      <div [permission]="permissionSetMonitor" appHideIfPermissionUnauthorized class="dropdown-item">
        <div class="dropdown-submenu pull-left">
          <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
             href="javascript:void(0)"><span>{{ 'COMMON.MONITOR' | translate }}</span></a>
          <div class="dropdown-menu">
            <div (click)="onSetMonitor()" [permission]="permissionSetMonitor" appHideIfPermissionUnauthorized
                 class="dropdown-item">
              <a href="javascript:void(0)"><span>{{ 'PLC-METER.SET-THRESHOLDS' | translate }}</span></a>
            </div>
            <div (click)="onReadMonitorThreshold()" [permission]="permissionReadMeter" appHideIfPermissionUnauthorized
                 class="dropdown-item">
              <a href="javascript:void(0)"><span>{{ 'PLC-METER.READ-THRESHOLDS' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>
      <div [permission]="permissionClearFF" appHideIfPermissionUnauthorized>
        <a (click)="onClearFF()" class="dropdown-item"
           href="javascript:void(0);"><span>{{ 'PLC-METER.CLEAR-FF' | translate }}</span></a>
      </div>
      <div [permission]="permissionSetDisplay" appHideIfPermissionUnauthorized>
        <a (click)="onSetDisplaySettings()" class="dropdown-item"
           href="javascript:void(0);"><span>{{ 'PLC-METER.SET-DISPLAY-SETTINGS-TITLE' | translate }}</span></a>
      </div>
      <div [permission]="permissionClearAlarms" appHideIfPermissionUnauthorized>
        <a (click)="onClearAlarms()" class="dropdown-item gray-light-line"
           href="javascript:void(0);"><span>{{ 'PLC-METER.CLEAR-ALARMS' | translate }}</span></a>
      </div>
      <div [permission]="permissionMuManage" appHideIfPermissionUnauthorized>
        <a (click)="onEnableMeter()" class="dropdown-item item-padding" href="javascript:void(0);"><span
          i18n>{{ 'COMMON.ENABLE-METER' | translate }}</span></a>
      </div>
      <div [permission]="permissionMuManage" appHideIfPermissionUnauthorized>
        <a (click)="onDisableMeter()" class="dropdown-item item-padding" href="javascript:void(0);"><span
          i18n>{{ 'COMMON.DISABLE-METER' | translate }}</span></a>
      </div>
      <div [permission]="permissionReadMeter" appHideIfPermissionUnauthorized>
        <a (click)="onReadMeter()" class="dropdown-item item-padding" href="javascript:void(0);"><span
          i18n>{{ 'COMMON.READ-METER' | translate }}</span></a>
      </div>
    </div>
  </div>
</div>
