<div class="d-flex align-items-center" *ngIf="params.value" container="body" [openDelay]="1000" placement="bottom"
  [ngbTooltip]="setToolTip(params.value)">
  <span class="full-circle me-2 flex-shrink-0" [ngClass]="{
        'bg-danger': params.data.readStatusColor.toLowerCase() == trasholds.red,
        'bg-warning': params.data.readStatusColor.toLowerCase() == trasholds.yellow,
        'bg-success': params.data.readStatusColor.toLowerCase() == trasholds.green }">
  </span>
  <small class="text-truncate flex-shrink-1 ">{{setMomentStatusDate(params.value)}}</small>
</div>

<span class="text-muted" *ngIf="!params.value">{{notAvailableText}}</span>
