<!--<div  class="d-flex align-items-center actions-button-cell">

  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"  data-flip="false" aria-haspopup="true" aria-expanded="false">
      Actions <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li><a href='#'>Edit</a></li>
      <li><a href='#'>Delete</a></li>
      <li role="separator" class="divider"></li>
      <li><a href='#'>Print</a></li>
      <li><a href='#'>Print</a></li>
      <li><a href='#'>Print</a></li>
      <li><a href='#'>Print</a></li>
      <li><a href='#'>Print</a></li>
      <li><a href='#'>Print</a></li>
      <li><a href='#'>Print</a></li>
      <li><a href='#'>Print</a></li>
      <li><a href='#'>Print</a></li>
      <li><a href='#'>Print</a></li>
      <li><a href='#'>Print</a></li>
      <li><a href='#'>Print</a></li>
  </ul>
</div>

-->
<div class="d-flex grid2">
  <div class="btn-group">
    <button 
        type="button" class="btn btn-primary" (click)="editItem(params)"><i class="far fa-edit"></i></button>
    <button 
        type="button" class="btn btn-primary" (click)="deleteItem(params)"><i class="far fa-trash"></i></button>
  </div>
  <div class="dropdown-ag-grid">
    <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ...
    </button>
    <div id="element" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>  
  </div>  


</div>