<div class="d-flex row-actions justify-content-end" >
  <div class="btn-group-sm">
    <button
        type="button" class="btn btn-primary m-0" [openDelay]="500" triggers="hover" [ngbTooltip]="setToolTip('details')" (click)="showItem()">
          <i class="far fa-eye" container="body" placement="bottom"></i></button>
    <button
        type="button" class="btn btn-primary m-0" [openDelay]="500" triggers="hover" [ngbTooltip]="setToolTip('chart')" (click)="showRegisters()"><i class="far fa-chart-bar"
        container="body" placement="bottom"></i></button>
  </div>
  <div dropdown class="dropdown-ag-grid btn-group-sm" appHideIfAllPermissionsUnauthorized [permissions]="[
    permissionMuManage,
    permissionManageJobs,
    permissionAssignTemplates,
    permissionFwUpgrade,
    permissionFwUpgrade,
    permissionDisconnectorConnect,
    permissionDisconnectorDisconnect,
    permissionDisconnectorGetState,
    permissionDisconnectorSetMode,
    permissionCiiActivate,
    permissionCiiDeactivate,
    permissionCiiState,
    permissionRelaysConnect,
    permissionRelaysDisconnect,
    permissionRelaysState,
    permissionRelaysSetMode
  ]">
    <button dropdownToggle class="btn btn-primary btn-sm" type="button"  [openDelay]="500" triggers="hover" [ngbTooltip]="setToolTip('operation')" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="far fa-ellipsis-h"></i>
    </button>
    <div *dropdownMenu (click)="$event.stopPropagation();" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <div appHideIfPermissionUnauthorized [permission]="permissionMuManage">
        <a class="dropdown-item" href="javascript:void(0);" (click)="onDelete()"><span>{{ 'BUTTON.DELETE' | translate }}</span></a>
      </div>
      <div class="dropdown-item" appHideIfPermissionUnauthorized [permission]="permissionManageJobs">
        <div class="dropdown-submenu pull-left">
          <a dropdownToggle class="dropdown-toggle disabled" href="javascript:void(0)" data-toggle="dropdown"><span>{{ 'COMMON.JOBS' | translate }}</span></a>
          <div class="dropdown-menu">
            <div appHideIfPermissionUnauthorized [permission]="permissionManageJobs">
              <a class="dropdown-item" href="javascript:void(0)" (click)="onScheduleReadJobs()"><span>{{ 'PLC-METER.CREATE-NEW' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>
      <div appHideIfPermissionUnauthorized [permission]="permissionAssignTemplates">
        <a class="dropdown-item" href="javascript:void(0);" (click)="onJobsTemplates()"><span>{{ 'PLC-METER.TEMPLATES' | translate }}</span></a>
      </div>

      <div class="dropdown-divider" appHideDividerIfPermissionsUnauthorized [permissionsAbove]="[permissionManageJobs, permissionAssignTemplates]" [permissionsBelow]="[permissionFwUpgrade]"></div>

      <div class="dropdown-item" appHideIfPermissionUnauthorized [permission]="permissionFwUpgrade">
        <div class="dropdown-submenu pull-left">
          <a dropdownToggle class="dropdown-toggle disabled" href="javascript:void(0)" data-toggle="dropdown"><span>{{ 'PLC-METER.FW-UPGRADE-TITLE' | translate }}</span></a>
          <div class="dropdown-menu">
            <div appHideIfPermissionUnauthorized [permission]="permissionFwUpgrade">
              <a class="dropdown-item" href="javascript:void(0);" (click)="onUpgrade()"><span>{{ 'PLC-METER.UPLOAD-IMAGE' | translate }}</span></a>
            </div>
            <div appHideIfPermissionUnauthorized [permission]="permissionFwUpgrade">
              <a class="dropdown-item" href="javascript:void(0);" (click)="onActivateUpgrade()"><span>{{ 'PLC-METER.ACTIVATE-IMAGE' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="dropdown-divider" appHideDividerIfPermissionsUnauthorized
        [permissionsAbove]="[permissionFwUpgrade]"
        [permissionsBelow]="[permissionDisconnectorConnect,
                              permissionDisconnectorDisconnect,
                              permissionDisconnectorGetState,
                              permissionDisconnectorSetMode,
                              permissionCiiActivate,
                              permissionCiiDeactivate,
                              permissionCiiState,
                              permissionRelaysConnect,
                              permissionRelaysDisconnect,
                              permissionRelaysState,
                              permissionRelaysSetMode]"></div>
      <div class="dropdown-item"  appHideIfAllPermissionsUnauthorized [permissions]="[permissionDisconnectorConnect, permissionDisconnectorDisconnect, permissionDisconnectorGetState, permissionDisconnectorSetMode]">
        <div class="dropdown-submenu pull-left">
          <a dropdownToggle class="dropdown-toggle disabled" href="javascript:void(0)" data-toggle="dropdown"><span>{{ 'PLC-METER.BREAKER.BREAKER' | translate }}</span></a>
          <div class="dropdown-menu">
            <div appHideIfPermissionUnauthorized [permission]="permissionDisconnectorConnect">
              <a class="dropdown-item" href="javascript:void(0);" (click)="onConnect()"><span>{{ 'COMMON.CONNECT' | translate }}</span></a>
            </div>
            <div appHideIfPermissionUnauthorized [permission]="permissionDisconnectorDisconnect">
              <a class="dropdown-item" href="javascript:void(0);" (click)="onDisconnect()"><span>{{ 'COMMON.DISCONNECT' | translate }}</span></a>
            </div>
            <div appHideIfPermissionUnauthorized [permission]="permissionDisconnectorGetState">
              <a class="dropdown-item" href="javascript:void(0);" (click)="onDisconnectorStatus()"><span>{{ 'COMMON.STATE' | translate }}</span></a>
            </div>
            <div appHideIfPermissionUnauthorized [permission]="permissionDisconnectorSetMode">
              <a class="dropdown-item" href="javascript:void(0);" (click)="onDisconnectorMode()"><span>{{ 'COMMON.MODE' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="dropdown-item" appHideIfAllPermissionsUnauthorized [permissions]="[permissionCiiActivate, permissionCiiDeactivate, permissionCiiState]">
        <div class="dropdown-submenu pull-left disabled">
          <a dropdownToggle class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><span>{{ 'COMMON.CII' | translate }}</span></a>
          <div class="dropdown-menu">
            <div appHideIfPermissionUnauthorized [permission]="permissionCiiActivate">
              <a class="dropdown-item" href="javascript:void(0);" (click)="onCiiActivate()"><span>{{ 'COMMON.ACTIVATE' | translate }}</span></a>
            </div>
            <div appHideIfPermissionUnauthorized [permission]="permissionCiiDeactivate">
              <a class="dropdown-item" href="javascript:void(0);" (click)="onCiiDeactivate()"><span>{{ 'COMMON.DEACTIVATE' | translate }}</span></a>
            </div>
            <div appHideIfPermissionUnauthorized [permission]="permissionCiiState">
              <a class="dropdown-item" href="javascript:void(0);" (click)="onCiiState()"><span>{{ 'COMMON.STATE' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="dropdown-item" appHideIfAllPermissionsUnauthorized [permissions]="[permissionRelaysConnect, permissionRelaysDisconnect, permissionRelaysState, permissionRelaysSetMode]">
        <div class="dropdown-submenu pull-left disabled">
          <a dropdownToggle class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"><span>{{ 'COMMON.RELAYS' | translate }}</span></a>
        <div class="dropdown-menu">
          <div class="dropdown-item" appHideIfPermissionUnauthorized [permission]="permissionRelaysConnect" (click)="onRelaysConnect()">
            <a href="javascript:void(0)"><span>{{ 'COMMON.CONNECT' | translate }}</span></a>
          </div>
          <div class="dropdown-item" appHideIfPermissionUnauthorized [permission]="permissionRelaysDisconnect" (click)="onRelaysDisconnect()">
            <a href="javascript:void(0)"><span>{{ 'COMMON.DISCONNECT' | translate }}</span></a>
          </div>
          <div class="dropdown-item" appHideIfPermissionUnauthorized [permission]="permissionRelaysState" (click)="onRelaysState()">
            <a href="javascript:void(0)"><span>{{ 'COMMON.STATE' | translate }}</span></a>
          </div>
          <div appHideIfPermissionUnauthorized [permission]="permissionRelaysSetMode" class="dropdown-item" (click)="onRelaysSetMode()">
            <a href="javascript:void(0)" ><span>{{ 'COMMON.MODE' | translate }}</span></a>
          </div>
        </div>
      </div>
     </div>

     <div class="dropdown-divider" appHideDividerIfPermissionsUnauthorized
      [permissionsAbove]="[permissionDisconnectorConnect,
                            permissionDisconnectorDisconnect,
                            permissionDisconnectorGetState,
                            permissionDisconnectorSetMode,
                            permissionCiiActivate,
                            permissionCiiDeactivate,
                            permissionCiiState,
                            permissionRelaysConnect,
                            permissionRelaysDisconnect,
                            permissionRelaysState,
                            permissionRelaysSetMode]"
      [permissionsBelow]="[permissionTouUpload]"></div>

      <div appHideIfPermissionUnauthorized [permission]="permissionTouUpload" (click)="onTou()">
        <a class="dropdown-item" href="javascript:void(0);"><span>{{ 'PLC-METER.TOU-UPLOAD' | translate }}</span></a>
      </div>

      <div class="dropdown-divider" appHideDividerIfPermissionsUnauthorized
            [permissionsAbove]="[permissionTouUpload]"
            [permissionsBelow]="[permissionSetLimiter,
                                permissionSetMonitor,
                                permissionClearFF,
                                permissionSetDisplay,
                                permissionClearAlarms]"></div>

      <div class="dropdown-item" appHideIfPermissionUnauthorized [permission]="permissionSetLimiter">
        <div class="dropdown-submenu pull-left">
          <a dropdownToggle class="dropdown-toggle disabled" href="javascript:void(0)" data-toggle="dropdown"><span>{{ 'COMMON.LIMITER' | translate }}</span></a>
          <div class="dropdown-menu">
            <div class="dropdown-item" appHideIfPermissionUnauthorized [permission]="permissionSetLimiter" (click)="onSetLimiter()">
              <a href="javascript:void(0)"><span>{{ 'PLC-METER.SET-THRESHOLDS' | translate }}</span></a>
            </div>
            <div class="dropdown-item" appHideIfPermissionUnauthorized [permission]="permissionReadMeter" (click)="onReadLimiterThreshold()">
              <a href="javascript:void(0)"><span>{{ 'PLC-METER.READ-THRESHOLDS' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown-item" appHideIfPermissionUnauthorized [permission]="permissionSetMonitor">
        <div class="dropdown-submenu pull-left">
          <a dropdownToggle class="dropdown-toggle disabled" href="javascript:void(0)" data-toggle="dropdown"><span>{{ 'COMMON.MONITOR' | translate }}</span></a>
          <div class="dropdown-menu">
            <div class="dropdown-item" appHideIfPermissionUnauthorized [permission]="permissionSetMonitor" (click)="onSetMonitor()">
              <a href="javascript:void(0)"><span>{{ 'PLC-METER.SET-THRESHOLDS' | translate }}</span></a>
            </div>
            <div class="dropdown-item" appHideIfPermissionUnauthorized [permission]="permissionReadMeter" (click)="onReadMonitorThreshold()">
              <a href="javascript:void(0)"><span>{{ 'PLC-METER.READ-THRESHOLDS' | translate }}</span></a>
            </div>
          </div>
        </div>
      </div>
      <div appHideIfPermissionUnauthorized [permission]="permissionClearFF">
        <a class="dropdown-item" href="javascript:void(0);" (click)="onClearFF()"><span>{{ 'PLC-METER.CLEAR-FF' | translate }}</span></a>
      </div>
      <div appHideIfPermissionUnauthorized [permission]="permissionSetDisplay">
        <a class="dropdown-item" href="javascript:void(0);" (click)="onSetDisplaySettings()"><span>{{ 'PLC-METER.SET-DISPLAY-SETTINGS-TITLE' | translate }}</span></a>
      </div>
      <div appHideIfPermissionUnauthorized [permission]="permissionClearAlarms">
        <a class="dropdown-item" href="javascript:void(0);" (click)="onClearAlarms()"><span>{{ 'PLC-METER.CLEAR-ALARMS' | translate }}</span></a>
      </div>
    </div>
  </div>
</div>
