<div class="d-flex flex-row">
  <div class="" *ngIf="params.data && params.data.isHLS">
    <i class="fas fa-lock text-secondary px-1" container="body" placement="bottom" [ngbTooltip]="tipContentHlsEnabled"></i>
  </div>
  <div class="" *ngIf="params.data && params.data.hasActiveJobs">
    <i class="fas fa-clock text-secondary px-1" container="body"
      [placement]="['right-top']"
      [ngbPopover]="tipContentNextRead"
      [autoClose]="'outside'"
      popoverClass="scheduler-active-job-popover">
    </i>
  </div>
  <div class="" *ngIf="params.data && !params.data.templateId">
    <i class="fas fa-exclamation-triangle fa-fw text-secondary px-1" container="body" placement="bottom" [ngbTooltip]="tipContentMissingTemplate"></i>
  </div>
  <div class="" *ngIf="params.data && params.data.readyForActivation">
    <i class="fas fa-share-square text-secondary px-1" container="body" placement="bottom" [ngbTooltip]="tipContentReadyForActivation"></i>
  </div>
</div>

<ng-template #tipContentNextRead id="tipContentNextRead">
  <app-scheduler-active-jobs [deviceId]="params.data.deviceId"></app-scheduler-active-jobs>
</ng-template>
<ng-template #tipContentMissingTemplate id="tipContentMissingTemplate">
  <span i18n>Missing template!</span>
</ng-template>
<ng-template #tipContentReadyForActivation id="tipContentReadyForActivation">
  <span i18n>Ready for activation!</span>
</ng-template>
<ng-template #tipContentHlsEnabled id="tipContentHlsEnabled">
  <span i18n>High level security on management client is enabled on this device!</span>
</ng-template>
