<div class="d-flex">
  <div class="ml-auto" *ngIf="params.data && params.data.nextRead">
    <i class="far fa-clock text-secondary" container="body" placement="bottom"
      [placement]="['right-top']"
      [ngbPopover]="tipContentNextRead"
      [autoClose]="'outside'"
      popoverClass="scheduler-active-job-popover">
    </i>
  </div>
  <div class="ml-auto" *ngIf="params.data && !params.data.templateId">
    <i class="far fa-exclamation-triangle fa-fw text-secondary" container="body" placement="bottom" [ngbTooltip]="tipContentMissingTemplate"></i>
  </div>
  <div class="ml-auto" *ngIf="params.data && params.data.templateId">
    <i class="far fa-fw"></i>
  </div>
</div>

<ng-template #tipContentNextRead id="tipContentNextRead">
  <app-scheduler-active-jobs [deviceId]="params.data.deviceId"></app-scheduler-active-jobs>
</ng-template>
<ng-template #tipContentMissingTemplate id="tipContentMissingTemplate">
  <span i18n>Missing template!</span>
</ng-template>
