<div class="container-fluid pt-3 h-100 border-bottom">
  <form [formGroup]="form">
    
    <div class="d-flex">
     
        <app-select-input label="Vendor" [form]="form" [property]="vendorProperty" [selectOptions]="dcuVendors$ | async" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll">
        </app-select-input>      
     
        <app-input-text label=" 4" [form]="form" [property]="value1Property"></app-input-text>
        <i class='far fa-search'></i>
     
        <app-input-text label=" 24" [form]="form" [property]="value2Property"></app-input-text>
    
  </div>

    <fieldset [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll">
      <app-input-tag label="Status" [property]="statusesProperty" [form]="form"
        [autocompleteItemsAsObjects]="dcuStatuses$ | async" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll">
      </app-input-tag>

    
      <app-input-multiselect label="Type" [form]="form" [property]="typesProperty" name="multSelectTypes" [isReadOnly]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll"
        [options]="dcuTypes$ | async" [inOneRow]="true">
      </app-input-multiselect>

      <app-select-input label="Vendor" [form]="form" [property]="vendorProperty" [selectOptions]="dcuVendors$ | async" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll">
      </app-select-input>

      <app-input-switch label="Show only Meter units with information of child (MBus)" [form]="form" [property]="showOnlyMeterUnitsWithMBusInfoProperty"></app-input-switch>

      <app-input-tag label="Tag" [property]="tagsProperty" [form]="form" [autocompleteItemsAsObjects]="dcuTags$ | async" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll">
      </app-input-tag>
   
      <app-input-switch label="Show deleteted Meter Units" [form]="form" [property]="showDeletedMeterUnitsProperty"></app-input-switch>
     
    </fieldset>
    <div class="d-flex justify-content-end" *ngIf="!gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll">
      <button type="button" class="btn btn-link" (click)="clearButtonClicked()"><i class="far fa-times"></i><span i18n>Clear</span></button>
      <button type="submit" class="btn btn-primary bg-primary" (click)="applyButtonClicked()"><i class="far fa-check"></i><span i18n>Apply</span></button>
    </div>
  </form>
</div>
