<div class="d-flex flex-row grid-cell-link-popup" *ngIf="!areValuesEmpty()" >
  <div class="mr-1 flex-shrink-1 text-truncate" *ngIf="isConnectedVisible">
    <a class="badge {{ getBadgeClass(instantValues.connected) }} px-2"
      container="body" placement="bottom"
      [placement]="['right-top']"
      [ngbPopover]="contentForValue1"
      [autoClose]="'outside'"
      popoverClass="instant-values-popover"
      href="javascript:void(0);"
    >{{ getValuesCount(instantValues.connected) }}</a>
  </div>
  <div class="mr-1 flex-shrink-1 text-truncate" *ngIf="isReadyForReconnectionVisible">
    <a class="badge {{ getBadgeClass(instantValues.readyForConnection) }} px-2"
      container="body" placement="bottom"
      [placement]="['right-top']"
      [ngbPopover]="contentForValue2"
      [autoClose]="'outside'"
      popoverClass="instant-values-popover"
      href="javascript:void(0);"
    >{{ getValuesCount(instantValues.readyForConnection) }}</a>
  </div>
  <div class="mr-1 flex-shrink-1 text-truncate" *ngIf="isDisconnectedVisible">
    <a class="badge {{ getBadgeClass(instantValues.disconnected) }} px-2"
      container="body" placement="bottom"
      [placement]="['right-top']"
      [ngbPopover]="contentForValue0"
      [autoClose]="'outside'"
      popoverClass="instant-values-popover"
      href="javascript:void(0);"
    >{{ getValuesCount(instantValues.disconnected) }}</a>
  </div>
</div>

<span *ngIf="areValuesEmpty()" class="text-muted">{{notAvailableText}}</span>

<ng-template #contentForValue1 id="contentForValue1">
  <app-popover-instant-values [inputInstantValues]="params.value"></app-popover-instant-values>
</ng-template>

<ng-template #contentForValue2 id="contentForValue2">
  <app-popover-instant-values [inputInstantValues]="params.value"></app-popover-instant-values>
</ng-template>

<ng-template #contentForValue0 id="contentForValue0">
  <app-popover-instant-values [inputInstantValues]="params.value"></app-popover-instant-values>
</ng-template>
