<div class="d-flex flex-row grid-cell-link-popup" *ngIf="!areValuesEmpty()" >
    <ng-container *ngFor="let state of disconnectorStateEnum">
      <div class="me-1 flex-shrink-1 text-truncate" *ngIf="getDataByType(state).length > 0">
      <a
         container="body" placement="bottom"
         [placement]="['right-top']"
         [ngbPopover]="contentForValue"
         [autoClose]="'outside'"
         popoverClass="instant-values-popover"
         href="javascript:void(0);">
        <span class="badge px-2" [ngClass]="getClass(state)">{{ getValuesCount(state) }}</span>
      </a>
      </div>
      <ng-template #contentForValue id="contentForValue">
        <app-popover-instant-values [inputInstantValues]="getDataByType(state)"></app-popover-instant-values>
      </ng-template>
    </ng-container>
</div>

<span *ngIf="areValuesEmpty()" class="text-muted">{{notAvailableText}}</span>


