<div class="d-flex">
  <div class="ml-auto" *ngIf="params.data && params.data.nextRead">
    <i class="far fa-clock fa-fw text-secondary" container="body" placement="bottom" [ngbTooltip]="tipContentNextRead"></i>
  </div>
  <div class="ml-auto" *ngIf="params.data && !params.data.templateId">
    <i class="far fa-exclamation-triangle fa-fw text-secondary" container="body" placement="bottom" [ngbTooltip]="tipContentMissingTemplate"></i>
  </div>
  <div class="ml-auto" *ngIf="params.data && params.data.templateId">
    <i class="far fa-fw"></i>
  </div>
</div>

<ng-template #tipContentNextRead id="tipContentNextRead">{{setMomentNextPlannedReadTime(params.data ? params.data.nextRead: null)}}</ng-template>
<ng-template #tipContentMissingTemplate id="tipContentMissingTemplate"><span i18n>Missing template!</span></ng-template>
