<div class="d-flex align-items-center" *ngIf="params.value" container="body" [openDelay]="1000" placement="bottom"
  [ngbTooltip]="setToolTip(params.value)">
  <span class="full-circle mr-2 flex-shrink-0" [ngClass]="{
        'bg-danger': params.data.readStatusColor == 'alarm', 
        'bg-warning': params.data.readStatusColor == 'warning',
        'bg-success': params.data.readStatusColor == 'ok' }">
  </span>
  <span class="text-truncate flex-shrink-1 ">{{setMomentStatusDate(params.value)}}</span>
</div>

<span class="text-muted" *ngIf="!params.value">{{notAvailableText}}</span>