<!-- Reference mini card item component for CHART and GAUGE -->

<div class="mini-card-item align-center tw-justify-center">
  <div *ngIf="type === miniCardItemTypeEnum.CHART" class="mini-card-item-chart">

    <kendo-chart>
      <kendo-chart-series>

        <kendo-chart-series-item [color]="addColorToChart" [data]="chartData" type="column">
        </kendo-chart-series-item>

        <!--        <kendo-chart-series-item *ngFor="let chartDataItem of chartData"-->
        <!--                                 [color]="'#00000'"-->
        <!--                                 [data]="chartDataItem"-->
        <!--                                 type="column"-->
        <!--                                 width="1">-->
        <!--        </kendo-chart-series-item>-->

        <!--        <kendo-chart-series-item *ngFor="let chartDataItem of chartData" [color]="addColorToChart(chartDataItem)"-->
        <!--                                 [data]="chartData"-->
        <!--                                 type="column"-->
        <!--        >-->
        <!--        </kendo-chart-series-item>-->

      </kendo-chart-series>
    </kendo-chart>
    <div class="mini-card-item-label">{{ label }}</div>
  </div>

  <div *ngIf="type === 'gauge'">
    <kendo-circulargauge *ngIf="type == miniCardItemTypeEnum.GAUGE"
                         [colors]="colors" [scale]="{ max: 100 }" [value]="gaugeValue" class="tw-h-20 tw-w-20">
      <ng-template kendoCircularGaugeCenterTemplate let-value="value">
        <div class="tw-inline-flex">
          <div class="gauge-number">{{ value }}</div>
          <div class="gauge-percentage">%</div>
        </div>
      </ng-template>
    </kendo-circulargauge>
    <div class="mini-card-item-label">{{ label }}</div>
  </div>
</div>

<!-- Usage example: -->
<!--<app-mini-card-item [chartData]="[1, 2, 3, 5]" [label]="'Overall sla data'"-->
<!--                    [type]="miniCardItemTypeEnum.CHART">-->
<!--</app-mini-card-item>-->
<!--<app-mini-card-item [gaugeValue]="99.9" [label]="'Current'" [type]="miniCardItemTypeEnum.GAUGE">-->
<!--</app-mini-card-item>-->
