<ag-grid-angular
    class="ag-theme-epoint no-selection"
    style="width: 100%; height: calc(100% - 25px - 6rem);"
    #agGrid
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [debounceVerticalScrollbar]="true"
    suppressRowClickSelection="true"
    (firstDataRendered)="onFirstDataRendered($event)"
    [modules]="modules"
    [paginationPageSize]="gridPageSize"
    [domLayout]="agGridSettings.domLayout"
    [localeText]="localeText"
    [suppressMovableColumns]="true"
>
</ag-grid-angular>
