.row-actions .btn-group button {
  background-color: #981D78;
  color: white;
}

.row-actions .btn-group-sm button {
  background-color: #981D78;
  color: white;
}

.row-actions .dropdown-ag-grid button {
  background-color: #981D78;
  color: white;
}