.row-actions .btn-group-sm button {
  border-radius: 0 !important;
}

.ag-paging-panel-selection {
  position:relative;
  margin-top:-40px;
}

.ag-paging-page-summary-panel {
  z-index:1
}

.grid-cell-link-popup a {
  &:active, &:focus {
    outline: none;
    border: 0;
    box-shadow: none;
  }
}

span.ag-paging-page-summary-panel {
  margin-right: 0 !important;
}
