.row-actions .btn-group button {
  background-color: $primary;
  color: white;
}

.row-actions .btn-group-sm button {
  background-color: $primary;
  color: white;
}

.row-actions .dropdown-ag-grid button {
  background-color: $primary;
  color: white;
}

.ag-paging-panel-selection {
  position:relative;
  top:-40px;
}

.ag-paging-page-summary-panel {
  z-index:1
}
