.btn + .btn,
.btn + .tooltip + .btn,
.btn + .btn-group,
.btn-group + .btn {
  margin-left: $spacer/2;
}

.btn.btn-sm + .btn.btn-sm,
.btn.btn-sm + .tooltip + .btn.btn-sm {
  margin-left: $spacer/4;
}

.btn {
  &.btn-round {
    border-radius: 100%;
    height: $input-height;
    width: $input-height;
    padding: 0;
    line-height: $input-height;
  }

  &.btn-days {
    width: 40px;
  }

  &.btn-primary {
    color: $white;
  }

  &.btn-secondary {
    color: $gray-700;
  }

  i {
    font-size: $icon-size;
    line-height: 21px;
  }

  &.btn-sm i {
    font-size: $icon-size-sm;
    line-height: 18.375px;
  }

  &.btn-link {
    color: $gray-700;
    font-weight: $font-weight-bold;
  
    &:hover {
      color: $primary;
    }
  }
}

.bg-primary {
  .btn.btn-link {
    color: $white;
    font-weight: $font-weight-bold;

    &:hover {
      color: $gray-700;
    }
  }
}



