.justify-content-end {
  .btn + .btn {
    margin-left: $spacer;
    padding-left: 2 * $spacer;
    padding-right: 2 * $spacer;
  }
}

.btn {
  font-weight: 400;
  &.btn-round {
    border-radius: 100%;
    height: $input-height;
    width: $input-height;
    padding: 0;
    line-height: $input-height;
  }

  &.btn-primary {
    color: $white;
  }

  &.btn-secondary {
    color: $gray-700;
  }

  &.btn-filters {
    padding: 0rem !important;
  }

  i {
    font-size: $h3-font-size;
  }
}

#firstBtn {
  padding-left: 2 * $spacer;
  padding-right: 2 * $spacer;
}


