.justify-content-end {
  .btn + .btn {
    margin-left: $spacer;
  }
}

.btn {
  &.btn-round {
    border-radius: 100%;
    height: $input-height;
    width: $input-height;
    padding: 0;
    line-height: $input-height;
  }

  &.btn-primary {
    color: $white;
  }

  &.btn-secondary {
    color: $gray-700;
  }

  i {
    font-size: $h3-font-size;
  }
}



