@media (min-width: 876px) {
  .modal-dialog {
      max-width: 593px;
      margin: 1.75rem auto;
  }
}

@media (min-width: 1076px) {
  .modal-dialog {
      max-width: 593px;
      margin: 1.75rem auto;
  }
}
