/**************************
  drop-down button
**************************/
.dropdown {
  .btn {
    background-color: $white;
    border: $border-width solid $border-color;
    text-transform: none;
    font-weight: $input-font-weight;
    color: $input-color;
    padding: $input-padding-y $input-padding-x;
    text-align: left;

    &::after {
      position: absolute;
      right: $spacer;
      top: 50%;
    }
  }
}