.form-control.ng-invalid.ng-dirty  {
  border: 1px solid $danger;
}


input[type=radio]:checked + label {
  border-color: $secondary;
  color: $secondary;
  border-width: 3px;
}

input[type=radio] {
  margin-top: 2px;
  min-width:15px;
}

input.form-control[type=checkbox] {
  margin-bottom: 4px;
}
