.form-control.ng-invalid.ng-dirty  {
  border: 1px solid $danger;
}


input[type=radio]:checked + label {
  border-color: $secondary;
  color: $secondary;
  border-width: 3px;
}

input[type=radio] {
  margin-top: 2px;
  min-width:15px;
}

input.form-control[type=checkbox] {
  margin-top: 2px;
  min-width:15px;
}

.content-body-scroll
{
  height: calc(100vh - #{$topbar-base-height} - 5.3rem) !important;// 100vh
  overflow-y:auto;
  overflow-x:hidden;
}

.content-body-scroll-templates
{
  height: calc(100vh - #{$topbar-base-height} - 9.3rem) !important;// 100vh
  overflow-y:auto;
  overflow-x:hidden;
}

.list-for-job-body-scroll
{
  height: calc(100vh - #{$topbar-base-height} - 5.3rem) !important;// 100vh
  overflow-y:auto;
  overflow-x:hidden;
}

.jobs-body-scroll
{
  height: calc(100vh - #{$topbar-base-height} - 9rem) !important;// 100vh
  overflow-y:auto;
  overflow-x:hidden;
}

.mu-registers-body-scroll {
  height:calc(100vh - #{$topbar-base-height} - 10.85rem);
  margin-right:1rem;
  overflow-y:auto;
  overflow-x:hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.col-box-check {
  margin-left:5px;
  margin-right:5px;
  cursor:pointer;
}

label {
  &.label-primary {
    color: $primary;
    font-weight: 600;
  }
}

.k-numerictextbox.ng-dirty.ng-invalid {
  border:none;
}

.k-combobox.k-header.ng-dirty.ng-invalid {
  border:none;
}

.form-check-selected {
  background-color: $secondary;

  label {
    color: $white !important;
  }
  .k-radio {
    border-color: $white;
    color: $primary;
    background-color: $white;
  }
}

.range-picker-container {
  .range-field {
    border: solid $input-border-color $input-border-width;
    border-radius: $border-radius;
    min-width: 200px;

    &.focused {
      border-color: $input-focus-border-color;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03), 0 4px 5px 0 rgba(0, 0, 0, 0.04);
    }
  }

  .k-dateinput-wrap {
    border-radius: 0;
    box-shadow:none;
    border: none;

    &.k-state-focused {
      box-shadow: none;
    }
  }

  .edge-content {
    text-align: center;
    padding-top:6px;

    &.left {
      border-right:none;
    }

    &.right {
      border-left:none;
    }
  }

  .separator {
    width:5px;
    vertical-align: center;
    padding-top:6px
  }

  .left-date {
    width: 127px;
    .k-dateinput-wrap {
      width: 127px;
      input {
        width: 100%;
      }
    }
  }

  .right-date {
    width: 100%;

    .k-dateinput-wrap {
      border-radius: 0;
      border-right: none;
      border-left: none;
    }
  }

  .range-picker-popup {
    padding-left: 8px;
    padding-right: 8px;

    .range-50 {
      width: calc(50% - 20px);
    }
    .range-separator {
      width: 40px;
      text-align: center;
      margin-top:20px;
      padding-top:10px;
    }
  }
}
