.bg {
  background-repeat: no-repeat;
  background-size: cover;
 // background-position: top center;
}

.bottom-align-text { // for "clear" link -> above drop-down, but to the bottom of the row
  position: absolute;
  top: 30;
  right: 15px !important
}

.full-height {
  min-height: 100vh;
}