// begin - Active Job popover

.active-job-popover {
  max-width: 1050px;
  max-height: 250px;
}

// end - Scheduler Active Job

// begin - Scheduler Active Job popover

.scheduler-active-job-popover .form {
  width: 400px;
}

.scheduler-active-job-popover.bs-popover-right-top {
  max-width: none;
  margin-top: -3px;
}

// end - Scheduler Active Job popover

// begin - Instant Values popover

.instant-values-popover .form {
  width: 280px;
}

.instant-values-popover.bs-popover-right-top {
  max-width: none;
  margin-top: -3px;
}

// end - Instant Values popover

.date-range-picker-popover {
  max-width: 1000px;
  max-height: 1000px;

  .popover-body {
    padding: 32px;
  }
}
