/**************************
  dashboard widgets list component
**************************/

.ribbon {
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: 1;
  content: '';
  display: block;
  border: 3px solid $primary;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 85px;
  padding: 5px 0;
  background-color: $primary;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: $white;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  text-align: center;
  opacity: 1;
}

/* top left*/
.ribbon-top-left {
  top: -5px;
  left: -5px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -5px;
  top: 10px;
  transform: rotate(-45deg);
}