.modal.right {

.modal-dialog {
  position: fixed;
  margin: auto;
  min-width: 42% !important;
  max-width: 42% !important;
  height: 80%;
	-webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

 .modal-content {
  height: 100%;
  overflow-y: auto;
}

 .modal-body {
  padding: 0rem 1 * $spacer 1 * $spacer;
}

/*Right*/
&.fade .modal-dialog {
  padding-top: 3.5 * $spacer;
  padding-bottom: 1 * $spacer;
  right: 1 * $spacer;

  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

&.fade.in .modal-dialog {
  right: 0px;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  //border: 0;
}

}

.modal-backdrop
{
  opacity:0.5 !important;
  background-color:white;
}

