/**************************
  widget grid component
**************************/

.widget-list {
  .text-right {
    text-align: right;
  }
}

.widget-content {
  position: relative;
  margin-top: 20%;
  align-items: center;
  text-align: center;
  height: 80%;
}

.odd {
  background-color: #bbbec0;
}

.even {
  background-color: #eceff3;
}

.red-status {
  color: $danger;
}

.yellow-status {
  color: $warning;
}

.status-row-border {
  border-left-width: $spacer * .25 !important;
}

gridster {
  overflow: visible !important;
  width: calc(100% + 20px) !important;
  height: 100vh;
}

gridster .gridster-column {
  border-left: 1px solid#F7F7F7;
  border-right: 1px solid #F7F7F7;
  outline: 10px solid #F7F7F7;
}

gridster .gridster-row {
  border-top: 1px solid #F7F7F7;
  border-bottom: 1px solid #F7F7F7;
  outline: 10px solid #F7F7F7;
}

.fixed-right-widget-list {
  position: fixed;
  right: 0px !important;
  top: $topbar-base-height;
  z-index: 10;
  height: calc(100% - #{$topbar-base-height}) !important;
  overflow-y: scroll;
}