<app-modal-template (dismiss)="onDismiss()">

  <div modal-header>{{ 'COMMON.STATE' | translate }}</div>

  <div modal-body>
    <ng-container>
      <p class="text-secondary"><span>{{ 'FORM.CURRENT-VIEW' | translate}}</span><br />
        <span>{{ 'FORM.SAVE-FILTERS"' | translate }}</span>
      </p>
      <app-input-text [form]="form" [property]="nameProperty"></app-input-text>

      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="save(true)">
          <span *ngIf="sessionLayout && sessionLayout.id > 0">{{'BUTTON.SAVE-AS-NEW' | translate}}</span>
          <span *ngIf="!sessionLayout || sessionLayout.id < 1">{{'BUTTON.SAVE' | translate}}</span>
        </button>
        <button type="button" *ngIf="sessionLayout && sessionLayout.id > 0" class="btn btn-primary"
                (click)="save(false)"><i class="far fa-sync"></i><span>{{'BUTTON.UPDATE' | translate}}</span></button>
      </div>
      <h4 class="mt-5">{{ 'FORM.SAVED-STATES' | translate}}</h4>
      <div class="py-1 border-bottom" *ngFor="let layoutItem of (dcuLayouts$ | async ); let i = index"
           (mouseover)="showButtons(i)">
        <div class="d-flex align-items-center div-height-sm">
          <a id="saved-filters-{{i}}" class="flex-shrink-1"
             (click)="selectSavedLayoutClicked(i)">{{layoutItem.name}}</a>
          <div class="flex-shrink-0 ms-auto" *ngIf="isButtonVisible(i)">
            <button type="button" class="btn btn-sm btn-link mr-1 ml-2" (click)="selectSavedLayoutClicked(i)"
                    ngbTooltip="{{'BUTTON.APPLY' | translate }}"><i class="far fa-check"></i></button>
            <button type="button" class="btn btn-sm btn-link" (click)="deleteSavedLayoutClicked(i)"
                    ngbTooltip="{{'BUTTON.DELETE' | translate }}"><i class="far fa-trash text-danger"></i></button>
          </div>
        </div>
      </div>

    </ng-container>
  </div>
</app-modal-template>
