<div class="tou-units-layout">
  <div class="tou-units-content">
    <div class="tw-text-black tw-text-2xl tw-font-medium tw-mb-10">
      {{ 'TOU-CONFIG.BASICS' | translate }}
    </div>

    <app-input-text
      [form]="form"
      [overrideErrorPatternMessage]="'TOU-CONFIG.TOU-ID-ERROR-PATTERN'"
      [property]="'externalId'"
      [regex]="'[a-zA-Z0-9 ]{1,8}'"
      label="tou-external-id"
    >
    </app-input-text>

    <app-input-text [form]="form" [property]="'description'" label="description"></app-input-text>

    <div class="gray-line">
      <app-label-with-switch
        [form]="datePickerForm"
        [message]="'TOU-CONFIG.ACTIVATION-DATE'"
        [property]="'activationEnabled'"
        [secondaryMessage]="'TOU-CONFIG.ACTIVATION-DATE-SECONDARY-MESSAGE'"
        [topBorder]="false"
      ></app-label-with-switch>

      <div *ngIf="isActivationDateEnabled()" class="tw-mt-4 tw-mb-8">
        <app-date-range-picker
          (valueChange)="onDatePickerValueChange()"
          [form]="datePickerForm"
          [minDate]="tomorrow"
          [popoverPlacement]="'bottom-left'"
          [setDefaultDate]="false"
          [singleCalendar]="true"
          [startProperty]="'startDate'"
          [withButtons]="false"
          [withRefreshButton]="false"
          [withTime]="false"
          class="small-date-picker"
        >
        </app-date-range-picker>
      </div>
    </div>

    <div *ngIf="isEditMode()" class="tw-mt-8">
      <div class="tw-mt-4 tw-mb-8 tw-inline-flex tw-w-full tw-justify-end">
        <button
          (click)="updateBasic()"
          [disabled]="!isValid() || !hasUnsavedChanges() || loading"
          title="{{ updateBasicTitle() | translate }}"
          class="btn btn-link text-primary tw-ml-4 save-update-btn"
        >
          <i class="far fa-save tw-pr-2"></i>
          {{ 'BUTTON.UPDATE' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="tou-units-buttons-container">
    <div class="tou-units-buttons right">
      <button (click)="nextStep()" [disabled]="!isValid()" class="btn btn-primary">
        {{ 'TOU-CONFIG.DAY-TABLES' | translate }}
        >
      </button>
    </div>
  </div>
</div>
