<div class="d-flex">
  <app-input-searcher class="mr-2" [debounceTimeOut]="400" (insertedValue)="insertedValue($event)" [form]="form" [property]="searchProperty" [placeholder]="staticTextService.placeholderSearch"> </app-input-searcher>
  <button type="button" class="btn btn-secondary" (click)="openSaveLayoutModal($event)"
  [ngbTooltip]="tipContentFilter"><i class='uil uil-filter'></i></button>
  <button type="button" class="btn btn-secondary" (click)="onRefresh()" id="btnRedo"
  [ngbTooltip]="tipContentRefresh"><i class='uil uil-redo'></i></button>
</div>
<ng-template #tipContentSearch><span i18n>Search data</span></ng-template>
<ng-template #tipContentFilter><span i18n>Filter results</span></ng-template>
<ng-template #tipContentRefresh><span i18n>Refresh grid</span></ng-template>

<app-filter-form></app-filter-form>
