<!-- Modal -->
<div #modalFilter class="modal right fade" data-keyboard="false" data-backdrop="static" id="filterModal" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header" id="filter-header">
        <h3 class="modal-title text-left" id="myModalLabel2" i18n>Filters Results</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form">

          <div class="form-row results p-2 mb-2" id="filter-results" *ngIf="sessionFilter">
            <span class="col-12">{{sessionFilter.name}} is selected</span>
          </div>

          <div class="form-row">
            <app-input-tag class="col-12" label="Status" [property]="statusesProperty" [form]="form"
              [autocompleteItemsAsObjects]="dcuStatuses$ | async">
            </app-input-tag>
          </div>

          <div class="form-row">
            <app-input-multiselect class="col-12" label="Type" [form]="form" [property]="typesProperty" name="multSelectTypes"
              [options]="dcuTypes$ | async" [isReadOnly]="false" [inOneRow]="true" (onChange)="change()">
            </app-input-multiselect>
          </div>

          <div class="form-row">
            <app-select-input class="col-6" label="Vendor" [form]="form" [property]="vendorProperty" [selectOptions]="dcuVendors$ | async">
            </app-select-input>
          </div>

          <div class="form-row">
            <app-input-tag class="col-12" label="Tag" [property]="tagsProperty" [form]="form" [autocompleteItemsAsObjects]="dcuTags$ | async">
            </app-input-tag>
          </div>

          <div class="d-flex justify-content-end">
            <button type="button" id="firstBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary" (click)="clearButtonClicked()">Clear</button>
            <button type="button" class="btn btn-primary" (click)="saveButtonClicked()">Save Selected</button>
            <button type="submit" class="btn btn-primary" (click)="applyButtonClicked()">Apply</button>
          </div>
          <hr>
          <h4 class="modal-title text-left mb-3" id="myModalLabel3" i18n>Saved Filters</h4>
          <div class="saved-filters form-group mb-0" *ngFor="let filter of (dcuFilters$ | async ); let i = index" (click)="savedFilterClicked(i)" (mouseover)="showButtons(i)">
            <div class="form-row ml-1">
              <span id="saved-filters-{{i}}" class="col-8" (mouseout)="showButtons(-1)">{{filter.name}}</span>
              <div class="col-4">
                <button class="btn-sm btn-secondary btn-filters m-1" *ngIf="isButtonVisible(i)" (click)="selectSavedFilterClicked(i)"><i class="uil uil-check"></i></button>
                <button class="btn-sm btn-secondary btn-filters m-1" *ngIf="isButtonVisible(i)"><i class="uil uil-pen"></i></button>
                <button class="btn-sm btn-danger btn-filters m-1" *ngIf="isButtonVisible(i)" (click)="deleteSavedFilterClicked(i)"><i class="uil uil-trash"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div><!-- modal-content -->

  </div><!-- modal-dialog -->
</div><!-- modal -->
