<!-- Modal -->
<div #modalFilter class="modal right fade" data-keyboard="true" data-backdrop="static" id="filterModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" i18n>Filters Results</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form">

          <div *ngIf="sessionFilter" class="alert alert-primary"><strong>{{sessionFilter.name}}</strong> <span i18n>is selected</span></div>

          <app-input-tag label="Status" [property]="statusesProperty" [form]="form"
            [autocompleteItemsAsObjects]="dcuStatuses$ | async">
          </app-input-tag>

          <app-input-multiselect label="Type" [form]="form" [property]="typesProperty" name="multSelectTypes"
            [options]="dcuTypes$ | async" [isReadOnly]="false" [inOneRow]="true" (onChange)="change()">
          </app-input-multiselect>


          <div class="form-row">
            <app-select-input class="col-6" label="Vendor" [form]="form" [property]="vendorProperty" [selectOptions]="dcuVendors$ | async">
            </app-select-input>
          </div>

          <app-input-tag label="Tag" [property]="tagsProperty" [form]="form" [autocompleteItemsAsObjects]="dcuTags$ | async"></app-input-tag>

          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary" (click)="clearButtonClicked()" i18n>Clear</button>
            <button type="button" class="btn btn-primary" (click)="saveButtonClicked()" i18n>Save Selected</button>
            <button type="submit" class="btn btn-primary" (click)="applyButtonClicked()" i18n>Apply</button>
          </div>
        </form>
        <hr>
        <h4 i18n>Saved Filters</h4>
        <div class="py-1 border-bottom" *ngFor="let filter of (dcuFilters$ | async ); let i = index" (mouseover)="showButtons(i)" >
          <div class="d-flex align-items-center div-height-sm">
            <a id="saved-filters-{{i}}" class="flex-shrink-1" (click)="savedFilterClicked(i)" href="javascript:void(0)">{{filter.name}}</a>
            <div class="flex-shrink-0 ml-auto" *ngIf="isButtonVisible(i)">
              <button type="button" class="btn btn-sm btn-secondary mr-1 ml-2" (click)="selectSavedFilterClicked(i)" ngbTooltip="Select and apply"><i class="uil uil-check"></i></button>
              <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="savedFilterClicked(i)" ngbTooltip="Select"><i class="uil uil-pen"></i></button>
              <button type="button" class="btn btn-sm btn-danger" (click)="deleteSavedFilterClicked(i)" ngbTooltip="Delete"><i class="uil uil-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
