<app-modal-template (dismiss)="onDismiss()">

  <div [innerHTML]="'DCU.RE-KEY-CONCENTRATOR' | translate:{selectedRowsCount: selectedRowsCount}"
       modal-header></div>

  <div modal-body>
    <ng-container>
      <div *ngIf="!showSecondConfirm" class="form-row">
        <div class="col-12">
          <span>{{ 'PLC-METER.SECURITY.SELECT-KEY-TYPE' | translate }}</span>
        </div>
        <div class="col-12 pt-2">
          <label class="tw-text-darkGray tw-text-xs tw-pb-1">{{'FORM.KEY-TYPE' | translate}}:*</label>
          <div>
            <app-select-input [disabled]="false" [form]="form" [withDescription]="true" [clearButton]= "false"
                                 [property]="'keyType'" [selectOptions]="keyTypesArray" class="full-dropdown">
            </app-select-input>
          </div>
        </div>
        <div class="col-12 pt-2">
          <div class="alert alert-danger" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            <span>{{ 'DCU.CONCENTRATOR-INOPERABLE-WARNING' | translate }}</span>
            <div *ngIf="alertText" class="text-danger tw-pt-3">{{ alertText | translate }}</div>
            <div *ngIf="alertHmacText" class="text-danger tw-pt-3">{{ alertHmacText | translate }}</div>
          </div>
        </div>
      </div>
      <div *ngIf="showSecondConfirm" class="form-row pt-2 text-center">
        <div class="col-12">
          <div class="card-body">
            <div
              [innerHTML]="'DCU.RE-KEY-CONFIRM' | translate"
              class="small-title tw-pb-2"></div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button (click)="onDismiss()" class="btn text-secondary" type="button">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button (click)="onConfirm()" class="btn btn-primary" type="submit"  [disabled]=!this.form.valid>
          <span>{{ 'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>
