<app-modal-template (dismiss)="onDismiss()">

  <div [innerHTML]="'PLC-METER.SET-MONITOR-SELECTED' | translate:{selectedRowsCount: selectedRowsCount}"
       modal-header></div>

  <div modal-body>
    <ng-container>
      <form *ngIf="form" [formGroup]="form" class="form-horizontal">
        <div *ngFor="let form_elem of formTemplate" class="form-row">
          <div class="col-12"><h4><span>{{form_elem.name}}</span></h4></div>
          <div class="col-6">
            <app-input-numeric (valueChange)="onChangeField()" [allowShowError]="true"
                               [form]="form"
                               [isReadOnly]="false" [label]="'Threshold'"
                               [max]="null" [min]="0" [property]="form_elem.name" [showSpinners]="false"
                               [step]="0" labelRight="A"></app-input-numeric>
          </div>
        </div>
        <div *ngIf="showError" class="text-danger"><small>
          <span>{{ 'PLC-METER.SET-ONE-THRESHOLD' | translate }}</span></small></div>
      </form>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button (click)="onDismiss()" class="btn text-secondary" type="button">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button (click)="onSet()" class="btn btn-primary" type="submit">
          <span>{{ 'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

