<app-modal-template (dismiss)="onDismiss()">

  <div modal-header i18n>Set Monitor ({{selectedRowsCount}} selected)</div>

  <div modal-body>
    <ng-container>
      <form class="form-horizontal" *ngIf="form" [formGroup]="form">
        <div class="form-row" *ngFor="let form_elem of formTemplate">
          <div class="col-12"><h4><span>{{form_elem.name}}</span></h4></div>
          <div class="col-6">
            <app-input-numeric [label]="'Threshold'" [form]="form" [property]="form_elem.name" [showSpinners]="false" [decimals]="0" [min]="0" [max]="65535"
              [format]="'#'" [step]="1" [isReadOnly]="false" [allowShowError]="true" (valueChange)="onChangeField()" i18n-label labelRight="A"></app-input-numeric>
          </div>
        </div>
        <div class="text-danger" *ngIf="showError"><small>
          <span i18n>At least one threshold should be set!</span></small></div>
      </form>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn text-secondary" (click)="onDismiss()">
        <span i18n>Cancel</span>
      </button>
      <div class="btn-group dropdown">
        <button type="submit" class="btn btn-primary" (click)="onSet()">
          <span i18n>Confirm</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

