<div class="form-group" [formGroup]="form" [ngClass]="{'has-error': showErrors()}">
  <div>
    <label [attr.for]="property" *ngIf="label">
      {{label}}
      <sup *ngIf="required"> *</sup>
    </label>
  </div>

  <div [ngClass]="{'form-row': inline || box}">
    <div
      [ngClass]="{'form-check': inline, 'd-flex flex-nowrap justify-content-start': inline, 'col border py-2 text-center col-box-check': box, 'border-secondary form-check-selected': box && isSelected(option)}"
       *ngFor="let option of options" (click)="doSelectionChange(option)">
      <div class="d-flex" [ngbTooltip]="getTooltip(option)" placement="bottom" [openDelay]="500" triggers="hover">
        <input type="radio" id="{{option.uid}}" [name]="property" [formControlName]="property"
          value="{{option.value}}" [attr.name]="property" kendoRadioButton>
        <label for="{{option.uid}}" class="control-label ml-2 d-block text-truncate">
          {{option.label}} </label>
      </div>
      <label for="{{option.uid}}" class="control-label text-muted" *ngIf="box && !hideLabelSmall"><small>{{option.labelSmall}}</small></label>
    </div>
  </div>

  <!--Loop through errors-->
  <div class="help-block" *ngIf="showErrors()">
    <app-form-error [error]="formControl!.errors "></app-form-error>
  </div>
</div>
