<div class="form-group" [formGroup]="form" [ngClass]="{'has-error': showErrors()}">
  <div>
    <label [attr.for]="property" *ngIf="label">
      {{label}}
      <sup *ngIf="required"> *</sup>
    </label>
  </div>

  <div [ngClass]="{'row': inline || box}">
    <div
      [ngClass]="{'form-check': inline, 'd-flex flex-nowrap justify-content-start': inline, 'col mx-3 border py-3 text-center': box, 'border-secondary': box && isSelected(option)}" *ngFor="let option of options">
      <div>
        <input type="radio" id="{{option.uid}}" [name]="property" [formControlName]="property"
          value="{{option.value}}" [attr.name]="property" kendoRadioButton />
        <label for="{{option.uid}}" class="control-label ml-2" [ngbTooltip]="getTooltip(option)" placement="bottom" [openDelay]="500" triggers="hover">
          {{option.label}} </label>
      </div>
      <label for="{{option.uid}}" class="control-label text-muted" *ngIf="box"><small>{{option.labelSmall}}</small></label>
    </div>
  </div>

  <!--Loop through errors-->
  <div class="help-block" *ngIf="showErrors()">
    <app-form-error [error]="formControl!.errors "></app-form-error>
  </div>
</div>
