<app-modal-template (dismiss)="onDismiss()" style="width: 1000px;">

  <div modal-header i18n>Reading Jobs</div>

  <div modal-body>
    <ng-container>

      <app-input-radio i18n-label label="Frequency" [form]="form" [property]="readOptionsProperty" name="readOptionsRadio"
        [options]="readOptions" [inline]="true" [border]="true" (change)="changeReadOptionId()">
      </app-input-radio>

      <div class="form-row" *ngIf="selectedId == 1">
        <div class="col-4">
          <div class="d-flex">
            <app-input-text [form]="form" [property]="nMinutesProperty" i18n-label label="Read every">
            </app-input-text>
            <span class="align-self-end ml-3 mb-4" i18n>minute(s)</span>
          </div>
        </div>
      </div>

      <div class="form-row" *ngIf="selectedId == 2">
        <div class="col-4">
          <div class="d-flex">
            <app-input-text [form]="form" [property]="nHoursProperty" i18n-label label="Read every">
            </app-input-text>
            <span class="align-self-end ml-3 mb-4" i18n>hour(s)</span>
          </div>
        </div>
      </div>

      <app-input-multiselect *ngIf="selectedId == 4" i18n-label label="Week days" [form]="form" [property]="weekDaysProperty" name="weekDaysMultiselect"
         [options]="weekDays" [inline]="true">
      </app-input-multiselect>

      <label *ngIf="selectedId == 5" i18n>Days in month</label>
      <div class="d-flex flex-wrap" *ngIf="selectedId == 5">
       <button class="btn m-1" [ngClass]="isDayInMonthSelected(i) ? 'btn-primary' : 'btn-outline-primary'" *ngFor="let item of [].constructor(31); let i = index" (click)="onDayInMonthClick(i)">
          <span>{{i+1}}</span>
       </button>
      </div>

      <div class="form-row" *ngIf="selectedId > 2">
        <div class="col-3">
          <app-timepicker [form]="form" [property]="timeProperty" i18n-label label="Time" name="timeInDay">
          </app-timepicker>
        </div>
      </div>

      <app-registers-select></app-registers-select>

    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-link" (click)="cancel()"> <i class="far fa-times"></i><span
          i18n>Cancel</span></button>
      <div class="btn-group dropdown">
        <button type="submit" class="btn btn-primary" (click)="save(false)"><i class="far fa-save"></i><span
            i18n>Save</span></button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" [ngbTooltip]="tipMoreSave">
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="save(true)" i18n>Save and Add another</a>
        </div>
      </div>
    </div>
  </div>
</app-modal-template>

<ng-template #tipMoreSave><span i18n>More Save options</span></ng-template>

