<app-modal-template (dismiss)="onDismiss()">

  <div modal-header> {{ 'MENU.IMPORT-MBUS-DEVICE-CONFIGURATION' | translate }}</div>

  <div modal-body>
    <div class="form-row">
      <div class="col-12 expand-dropzone">
        <app-file-select [form]="form"
                         [property]="fileProperty"
                         [multiple]="true"
                         [allowedExtensions]="allowedExt"
                         [clearData]="clearData"
                         [acceptExtensions]="acceptExtensions"
                         (itemsChangedEvent)="itemsChangedNames($event)"
                         (selectEvent)="selected($event)"
                         (removeEvent)="removed($event)"
                         (fileValid)="isFileValid($event)"
                         [dropFileSelectSubtitle]="uploadDropSubtitle">
        </app-file-select>
        <div class="alert alert-warning" role="alert" *ngIf="uploadedFiles.length > 0 &&  errors.length > 0">
          <div *ngFor="let error of errors" class="tw-w-full tw-inline-flex gap-2">
            <div>
              <i class="fas fa-exclamation-triangle me-2"></i>
            </div>
            <div>
              <span>{{ error }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn text-secondary" (click)="onDismiss()">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="uploadedFiles.length === 0">
          <span>{{ 'BUTTON.IMPORT' | translate }}</span></button>
      </div>
    </div>
  </div>

</app-modal-template>
