<!-- No readings case -->
<ng-container *ngIf="!readings">
  <div class="widget-heading p-2">
    <div class="d-flex flex-row">
      <i class="fa {{iconClass}} fa-2x pr-2 text-secondary"></i>
      <div class="widget-type d-inline">{{widgetTitle}}</div>
    </div>
  </div>
  <div class="widget-content text-center">
    <div class="no-content">
      <i class="fa fa-cogs fa-3x" (click)="clickSettings()"></i>
    </div>
  </div>
</ng-container>

<!-- Readings case-->
<ng-container *ngIf="readings">
  
  <div class="py-1 px-2">
    <div class="d-flex flex-row align-items-center">
      <i class="fa {{iconClass}} fa-2x pr-2 text-secondary"></i>
      <div class="d-flex flex-column d-inline-block text-truncate">
        <span class="d-inline-block text-truncate">{{widgetTitle}}</span>
        <small class="text-secondary">
          {{lastUpdateTimestamp | date: 'short'}}
        </small>
      </div>
    </div>

    <div class="d-block text-center mt-3">
      {{name}}
      <i *ngIf="showExlamation" class="fa fa-exclamation-circle text-secondary ml-1" [ngbTooltip]="tipContent"
        container="body" placement="bottom"></i>
    </div>
    <ng-template #tipContent><span i18n>Data dispalyed is <br />measured on </span><b>{{deviceName}}</b></ng-template>

    <div class="d-block text-center mt-2 mb-2 display-4">
      {{currentValueWithUnit}}
    </div>    

  </div>

</ng-container>
