<!-- <div class="d-flex align-items-center mb-3">
  <app-header-title [headerTitle]="headerTitle"></app-header-title>
  <app-breadcrumb class="ml-auto"></app-breadcrumb>
</div> -->
<div class="row">
<div class="col-2  filter-shadow" *ngIf="!hide">
  <div><span class="small ml-3" i18n>Templates list</span></div>
  <div>
    <a href="javascript:void(0);" (click)="onSelect(temp)" class="list-group-item list-group-item-action border-0"
    [ngClass]="setTemplateListActivityClass(temp)"
    *ngFor="let temp of templates let first = first" >{{temp.name}}</a>
  </div>
</div>
<div class="filter-button" [ngClass]="{'col-10': !hide, 'col-12': hide}">
  <div class="d-flex align-items-center mb-3">
  <h4 class="align-items-center mb-0 ml-3" *ngIf="hide">
    {{activeElement.name}}
  </h4>
  </div>
<div class="d-flex align-items-center mb-3">
  <button id="filterToggle" class="btn btn-round position-absolute shadow" (click)="clickShowHideFilter()" [ngbTooltip]="hidwShowTemplates">
    <i class='far'
       [ngClass]="{'fa-compress-alt': !hide, 'fa-expand-alt': hide}"></i>
  </button>
  <h4 class="mb-0 mr-3">{{i18n('Rules')}}</h4>
  <button class="btn btn-primary" (click)="addNewRuleItem()" [disabled]="activeElement.templateId.length == 0">
    <i class="far fa-plus"></i> <span i18n>Add</span>
  </button>
</div>

<div>
  <ag-grid-angular
        class="ag-theme-epoint"
        style="width: 100%; height: calc(98% - 25px);"
        #agGrid
        domLayout="autoHeight"
        id="myGrid"
        [modules]="modules"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        (firstDataRendered)="onFirstDataRendered($event)"
        (gridReady)="onGridReady($event)"
        [frameworkComponents]="frameworkComponents"
        [context]="context"
        [gridOptions]="cellRendererParams"
        [getRowHeight]="getRowHeight"
        (rowEditingStopped)='rowEditingStopped($event)'
      ></ag-grid-angular>
</div>

<div *ngIf="showJobSection()">
  <div class="d-flex align-items-center mb-3 mt-5">
    <div class="form-group mr-3">
      <h4 class="mb-0">{{i18n('Jobs')}}</h4>
    </div>
    <app-select-input i18n-label [form]="form" [property]="'selectedJob'" [selectOptions]="jobList" class="align-self-center mb-0" style="width:350px"></app-select-input>
    <div class="form-group">
      <button class="btn btn-primary ml-2" (click)="addJob()" [disabled]="activeElement.templateId.length == 0">
        <i class="far fa-plus"></i> <span i18n>Add</span>
      </button>
    </div>
  </div>

  <div>
    <ag-grid-angular
          class="ag-theme-epoint"
          style="width: 100%; height: calc(98% - 25px);"
          #agGrid
          domLayout="autoHeight"
          id="myGridJobs"
          [modules]="modules"
          [columnDefs]="columnDefsJobs"
          [defaultColDef]="defaultColDefJobs"
          [rowData]="rowDataJobs"
          (firstDataRendered)="onFirstDataRenderedJobs($event)"
          (gridReady)="onGridReadyJobs($event)"
          [frameworkComponents]="frameworkComponentsJobs"
          [context]="context"
          [gridOptions]="cellRendererParamsJobs"      
        ></ag-grid-angular>
  </div>
</div>
</div>
</div>
<ng-template #hidwShowTemplates><span i18n>Show/hide templates</span></ng-template>
