<div class="mb-3" [formGroup]="form" [ngClass]="{'has-error': showErrors()}">

  <div *ngIf="label" class="d-flex" [ngClass]="cssClass">
    <kendo-switch formControlName="switch" [name]="property" [id]="controlId" [formControlName]="property"
                  (valueChange)="onValueChanged($event)"></kendo-switch>
    <div>
      <div class="text-truncate ps-2 pt-1" style="cursor:pointer;" (click)="labelClick()"
           [ngClass]="labelCss">
        {{ 'FORM.' + label.toUpperCase() | translate }}
      </div>
      <div *ngIf="subTitle" class="tw-text-mediumGray tw-text-xs ps-2 pt-1">
        {{ 'FORM.' + subTitle.toUpperCase() | translate }}
      </div>
    </div>
  </div>

  <!--Loop through errors-->
  <div class="help-block" *ngIf="showErrors()">
    <app-form-error [error]="formControl!.errors "></app-form-error>
  </div>

</div>
