<div id="container-fluid-login">
  <div class="row h-100">
    <div class="col-md-6 col-lg-8 d-none d-md-block p-0">
      <div class="bg h-100" style="background-image: url('assets/images/others/login.jpg')">
      </div>
    </div>

    <div class="col-md-6 col-lg-4 align-self-center p-5">
      <!-- LOGIN FORM -->
      <form [formGroup]="form" *ngIf="!forgotPassword && !resetPassword" class="px-4">
        <h2 class="text-uppercase">{{ 'LOGIN.TITLE' | translate }}</h2>

        <p>{{ 'LOGIN.ENTER-USERNAME-PASSWORD-TEXT' | translate }}</p>
          <app-input-text (keyup.enter)="login()" [form]="form" [property]="usernameProperty" label="Username"
            [inputType]="'text'">
          </app-input-text>
          <app-input-text (keyup.enter)="login()" [form]="form" [property]="passwordProperty" label="Password"
            [inputType]="'password'">
          </app-input-text>
        <div class="form-group">
          <button type="submit" (click)="login()" class="btn btn-primary btn-block"> {{ 'LOGIN.TITLE' | translate }}</button>
        </div>
        <div class="form-group">
          <a href="javascript:void(0);" (click)="setForgotPassword()">{{ 'LOGIN.FORGOT-PASSWORD' | translate }}</a>
        </div>
      </form>

      <!-- FORGOT PASSWORD FORM -->
      <form [formGroup]="formReset" *ngIf="forgotPassword && !resetPassword" class="px-4">
        <h2 class="text-uppercase">{{'LOGIN.RESET-PASSWORD' | translate }}</h2>
        <p>{{'LOGIN.ENTER-EMAIL' | translate }}</p>
        <div class="form-group">
          <app-input-text (keyup.enter)="reset()" [form]="formReset" [property]="emailProperty" label="Email"
            [inputType]="'text'">
          </app-input-text>
        </div>
        <div class="form-group">
          <button type="submit" (click)="reset()" class="btn btn-primary btn-block">{{ 'LOGIN.RESET' | translate }}</button>
        </div>
        <div class="form-group">
          <a href="javascript:void(0);" (click)="setLogin()">{{ 'LOGIN.BACK-TO-LOGIN' | translate }}</a>
        </div>
      </form>

       <!-- RESET PASSWORD FORM -->
      <form [formGroup]="formNewPassword" *ngIf="resetPassword" class="px-4">
        <h2 class="text-uppercase">{{'LOGIN.RESET-PASSWORD' | translate }}</h2>
        <p>{{ 'LOGIN.ENTER-NEW-PASSWORD' | translate }}</p>
        <div class="form-group">
          <app-input-text [form]="formNewPassword" [property]="newPasswordProperty" label="New password"
            [inputType]="'text'">
          </app-input-text>
        </div>
        <div class="form-group">
          <app-input-text [form]="formNewPassword" [property]="newConfirmPasswordProperty" label="Confirm password"
            [inputType]="'text'">
          </app-input-text>
        </div>
        <div class="form-group">
          <button type="submit" (click)="newPassword()" class="btn btn-primary btn-block">{{ 'LOGIN.RESET' | translate }}</button>
        </div>
        <div class="form-group">
          <a href="javascript:void(0);" (click)="setLogin()">{{ 'LOGIN.BACK-TO-LOGIN' | translate }}</a>
        </div>
      </form>

    </div>
  </div>

  <!-- VERSION -->
  <div class="fixed-bottom text-right">
    <small class="text-muted">{{version}}</small>
  </div>
</div>
