<app-modal-template (dismiss)="onDismiss()">

  <div modal-header>
    {{ 'EXPORT-DATA.TITLE' | translate }}
  </div>

  <div modal-body>

    <div class="tw-pt-3">
      <app-select-input
        [clearButton]="false"
        [disabled]="false"
        [form]="form"
        [property]="'exportType'"
        [selectOptions]="exportTypes"
        [textField]="'id'"
        [valueField]="'apiId'"
        [withDescription]="true"
        class="full-dropdown"
        label="Export-type"
      >
      </app-select-input>
    </div>

    <div class="tw-pt-5">
      <app-date-range-picker
        (valueChange)="dateChanged()"
        [alignCenter]="false"
        [endProperty]="'endDate'"
        [form]="form"
        [fullWidth]="true"
        [startProperty]="'startDate'"
        [withButtons]="false"
        [withRefreshButton]="false"
      >
      </app-date-range-picker>
    </div>

    <div *ngIf="invalidRange" class="alert alert-danger mt-3 tw-text-sm" role="alert">
      <span class="text-danger">{{ 'EXPORT-DATA.INVALID-RANGE' | translate }}</span>
    </div>

    <div class="tw-pt-5">
      <app-label-with-switch [form]="form" [property]="'upload'" message="EXPORT-DATA.UPLOAD-TO"
                             secondaryMessage="EXPORT-DATA.UPLOAD-TEXT">
      </app-label-with-switch>
    </div>

    <div *ngIf="form.controls.upload.value !== true" class="tw-pt-6">
      <app-input-text [form]="form" [property]="'location'" label="Location" placeholder="/">
      </app-input-text>
    </div>

  </div>

  <div modal-footer>

    <div class="tw-flex tw-w-full tw-justify-content-between">
      <button (click)="onDismiss()" class="btn text-secondary" type="button">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button (click)="onConfirm()" [disabled]="!form.valid" class="btn btn-primary" type="submit">
          <span>{{ 'BUTTON.EXPORT' | translate }}</span></button>
      </div>
    </div>

  </div>

</app-modal-template>

