<!-- header -->
<div [style.width.px]="addWidth()" class="sticky-header transparent-gray-line">

  <div [style.width.px]="addWidth()" class="tw-inline-flex tw-justify-between tw-items-center">

    <app-page-title
      [title]="'DCU.CONCENTRATORS-OVERVIEW'"
      class="tw-h-28 tw-mt-10 tw--m-5"
    >
    </app-page-title>

    <div [ngClass]="getSelectedCount() !== 0 ? 'tw-pr-5' : ''" class="tw-mt-10 tw-pt-10">

      <div class="tw-inline-flex tw-justify-end">
        <button
          (click)="addDcu()"
          *ngIf="getSelectedCount() === 0"
          [permission]="permissionAdd"
          appHideIfPermissionUnauthorized
          class="btn btn-primary tw-mr-3"
          href="javascript:void(0)"
        >
          {{ 'BUTTON.ADD' | translate }}
        </button>

        <div *ngIf="getSelectedCount() > 0" [permission]="permissionAdd" appHideIfPermissionUnauthorized
             class="tw-mr-2">
          <button (click)="onDelete()" class="btn btn-primary">
            <span>{{ 'COMMON.DELETE' | translate }}</span>
          </button>
        </div>

        <app-dc-operations
          [allVisibleColumns]="getAllDisplayedColumnsNames()"
          [guid]="null"
          [operationType]="componentType.OPERATION"
          [requestModel]="requestModel"
          [selectedItemsCount]="getSelectedCount()"
          [showOperations]="getSelectedCount()!==0"
          class="tw-mr-2"
        ></app-dc-operations>

        <app-dc-operations
          [allVisibleColumns]="getAllDisplayedColumnsNames()"
          [guid]="null"
          [operationType]="componentType.SECURITY"
          [requestModel]="requestModel"
          [selectedItemsCount]="getSelectedCount()"
          [showSecurities]="getSelectedCount()!==0"
        ></app-dc-operations>

      </div>
    </div>

  </div>
</div>

<!-- grid -->
<div class="row tw-pt-20">

  <app-slide-out-component (closeButtonClickedEvent)="closeSlideOut()"
                           (confirmButtonClickedEvent)="closeSlideOut()"
                           *ngIf="areSettingsLoaded"
                           [hideCloseButton]="true"
                           [primaryButtonText]="'BUTTON.CLOSE'"
                           [title]="'FILTER.TITLE'"
                           [visible]="filtersOpened">
    <div class="tw-px-8 tw-pt-6">
      <app-dc-filter (filterChange)="applyFilters()"></app-dc-filter>
    </div>

  </app-slide-out-component>

  <app-data-table
    (clearFilerTextClickEvent)="clearFilters($event)"
    (columnVisibilityChangedEvent)="columnVisibilityChanged($event)"
    (deSelectAllClickEvent)="deSelectAll($event)"
    (filterIconClickEvent)="filterIconClicked($event)"
    (linkClickedEvent)="linkClicked($event)"
    (pageChangedEvent)="loadMoreData($event)"
    (refreshButtonClickEvent)="getData()"
    (rowActionClickedEvent)="rowActionsClicked($event)"
    (searchInputChangedEvent)="searchData($event)"
    (selectAllClickEvent)="selectAll($event)"
    (selectedRowDataEvent)="selectedRows($event)"
    (selectionChangedEvent)="excludedIdsFromSelectAll($event)"
    (wildCardsEnabledEvent)="toggleWildcards($event)"
    *ngIf="gridData && areSettingsLoaded"
    [clientSideSearchAndFilters]="false"
    [excelExport]="true"
    [excelFileName]="'concentrators_overview'"
    [excludedIdsFromSelection]="requestModel.excludeIds"
    [fetchData]="true"
    [filtersCount]="getFilterInfo() ? getFilterInfo() : 0"
    [gridColumns]="concentratorsColumns"
    [gridData]="gridData.data"
    [kendoGridSelectByColumn]="'concentratorId'"
    [loading]="loading"
    [noDataTextAlignLeft]="true"
    [noDataText]="'COMMON.NO-DATA-FOUND'"
    [pageNumber]="pageNumber"
    [pageSize]="pageSize"
    [pageable]="true"
    [rowActions]="concentratorsRowActionConfiguration"
    [rowHeight]="null"
    [scrollable]="'scrollable'"
    [searchText]="searchText"
    [selectAllEnabled]="selectAllEnabled"
    [selectedKeys]="selectedRowsIds"
    [showClearFiltersButton]="true"
    [showColumnChooser]="true"
    [tableHeight]="calculateHeight()"
    [totalCount]="totalCount"
    [wildCardsEnabled]="wildCardsSearch"
    [wildCardsSearch]="true"
    [withClearFilerText]="true"
    [withFiltersIcon]="true"
    [sort]="[{ field: defaultSort.colId, dir: defaultSort.sort}]"
    (sortChangeEvent)="sortingChanged($event)"
    [sortable]="true"
    [withRefreshButton]="true"
    [withRowSelection]="true"
    [withSearch]="true">
  </app-data-table>
</div>
