<app-auto-refresh
  (timerExpired)="refresh()"
  [elapseTime]="refreshInterval"
  [hidden]="true">
</app-auto-refresh>

<div class="row">

  <div *ngIf="!hideFilter" class="col-2 filter-shadow-container">
    <div class="filter-shadow">
      <app-dc-filter (filterChange)="filterChanged()" (toggleFilter)="toggleFilter()"></app-dc-filter>
    </div>
  </div>

  <div [ngClass]="{'col-10': !hideFilter, 'col-12': hideFilter}">

    <!-- row total items, selected filter name -->
    <div *ngIf="!noData">
      <div class="mb-2">
        <div class="grid-actions">
          <app-action-form
            (addDcu)="addDcu()"
            (refresh)="refreshGrid()"
            (searchChange)=searchData($event)
            (toggleFilter)="toggleFilter()"
            (toggleWildcards)="toggleWildcards($event)"
            [filtersInfo]="filtersInfo"
            [gridColumns]="columns"
            [isFilterOpened]="!hideFilter"
            [selectedCount]="getSelectedCount()"
          >
            <div *ngIf="getSelectedCount() === 0" class="me-3">
              <button (click)="addDcu()" [permission]="permissionAdd" appHideIfPermissionUnauthorized
                      class="btn btn-primary">
                <span>{{ 'COMMON.ADD' | translate }}</span>
              </button>
            </div>
            <div *ngIf="getSelectedCount() > 0" class="me-3">
              <button class="btn btn-primary" (click)="onDelete()">
                <span>{{ 'COMMON.DELETE' | translate }}</span>
              </button>
            </div>
            <div class="pe-3">
              <app-dc-operations
                [allVisibleColumns]="getAllDisplayedColumnsNames()"
                [guid]="null" [requestModel]="requestModel"
                [selectedItemsCount]="getSelectedCount()"
                [showOperations]="getSelectedCount() === 0 ? false : true"
              ></app-dc-operations>
              <!-- other buttons as Tags,...etc -->
            </div>
          </app-action-form>
        </div>
      </div>
      <div class="content-body-scroll">
        <div>
          <!-- ag-grid -->
          <ag-grid-angular #agGrid (columnVisible)="onColumnVisible($event)"
                           (firstDataRendered)="onFirstDataRendered($event)"
                           (gridReady)="onGridReady($event)"
                           (gridSizeChanged)="gridSizeChanged()"
                           (paginationChanged)="onPaginationChange($event)"
                           (rowSelected)="onRowSelect($event)"
                           (selectionChanged)="onSelectionChanged()"
                           [cacheBlockSize]="this.selectedPageSize.id"
                           [cacheOverflowSize]="agGridSettings.cacheOverflowSize"
                           [columnDefs]="columns"
                           [domLayout]=agGridSettings.domLayout
                           [frameworkComponents]="frameworkComponents"
                           [gridOptions]="gridOptions"
                           [icons]="icons"
                           [localeText]="localeText"
                           [maxBlocksInCache]="1"
                           [maxConcurrentDatasourceRequests]="agGridSettings.maxConcurrentDatasourceRequests"
                           [modules]="modules"
                           [multiSortKey]=agGridSettings.multiSortKey
                           [overlayLoadingTemplate]="overlayLoadingTemplate"
                           [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                           [paginationPageSize]="this.selectedPageSize.id"
                           [pagination]=agGridSettings.pagination
                           [rowModelType]="'serverSide'"
                           [rowSelection]=agGridSettings.rowSelection
                           [sideBar]="sideBar"
                           [suppressColumnVirtualisation]="true"
                           [suppressRowClickSelection]=agGridSettings.suppressRowClickSelection
                           class="ag-theme-epoint custom-paging"
                           style="width: 100%; height: calc(100% - 25px);"
          >
          </ag-grid-angular>

          <div class="ag-paging-panel-selection d-flex">
            <div *ngIf="getSelectedCount() > 0" class="p-2 ms-1">
              <div *ngIf="!checkSelectedAll() && getSelectedCount() > 0" class="me-3">
                <small class="link text-secondary">{{getSelectedCount()}}
                  <strong><span>{{ 'COMMON.ITEMS-SELECTED' | translate }}</span>&middot;
                    <a (click)="selectAll()" class="text-primary" href="javascript:void(0);">
                      <span>{{ 'GRID.SELECT-ALL' | translate }}</span>
                      ({{totalCount}})</a> &middot;
                    <a (click)="deselectAll()" class="text-primary" href="javascript:void(0);">
                      <span>{{ 'GRID.CLEAR-SELECTED' | translate }}</span></a>
                  </strong></small>
              </div>

              <div *ngIf="checkSelectedAll()" class="me-3">
                <small class="link text-secondary"><strong><span>{{ 'COMMON.ALL' | translate }}</span>
                  ({{getTotalCountWithoutExcluded()}}) <span>{{ 'COMMON.ITEMS-SELECTED' | translate }}</span> &middot;
                  <a (click)="deselectAll()" class="text-primary" href="javascript:void(0);">
                    <span>{{ 'GRID.CLEAR-SELECTED' | translate }}</span></a></strong></small>
              </div>
            </div>
            <div class="ms-auto">
              <app-select-dropdown (selectedValueChanged)="pageSizeChanged($event)" [disabled]="false" [form]="form"
                                   [property]="pageSizeProperty" [selectOptions]="pageSizes">
              </app-select-dropdown>
            </div>
          </div>
        </div>
        <div *ngIf="noData" class="d-flex flex-column justify-content-center align-items-center" style="height: 30vh;">
          <i class="far fa-empty-set fa-5x text-secondary mb-4"></i>
          <h3 class="mb-3">{{ 'DCU.NO-DATA-CONCENTRATOR-UNITS' | translate }}</h3>
          <button (click)="addDcu()" class="btn btn-lg btn-primary" type="button"><i class="far fa-plus"></i>
            <span>{{ 'DCU.ADD-FIRST' | translate }}</span></button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #hideShowFilter><span>{{ 'GRID.SHOW-HIDE-FILTERS' | translate }}</span></ng-template>
