
<div class="col-10 d-none d-md-block">
<app-header-title></app-header-title>         
</div>
<div class="d-none d-md-block pull-right">
  <app-breadcrumb ></app-breadcrumb>
</div>


<div class="d-none d-md-block">
add rich grid
SMAPLE
<br/>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/><br/>

one two
<br/><br/>
<br/><br/>
<br/>323232323
<br/>323232323
<br/>323232323
<br/>323232323
<br/>323232323
<br/>323232323
<br/>323232323
three  four
</div>