  <!-- Topbar -->
       <nav class="navbar navbar-expand mb-4">
         <app-header-title></app-header-title>
         <div class="navbar-collapse mr-5" id="navbarContent">
            <ul class="navbar-nav ml-auto">
        <!--  <app-breadcrumb class="d-none d-md-block"></app-breadcrumb>-->
        </ul>
      </div>
        </nav> 

add rich grid

432534534
5
345
345
34
5
5345
<br/>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/><br/>

efrewerer
<br/><br/>
<br/><br/>
<br/>323232323