<!-- header -->
<div class="container-fluid">

  <div class="d-flex align-items-center">
    <app-header-title></app-header-title>
    <button class="btn btn-primary btn-round">
      <i class="uil uil-plus" id="tipContentAdd"></i>
    </button>
    <app-breadcrumb class="ml-auto"></app-breadcrumb>
  </div>

  <!-- row total items, selected filter name -->
  <div class="form-row mt-0 bg-white" *ngIf="!selectedAtLeastOneRowOnGrid">
    <div class="pl-2 align-bottom pt-3">
      <span class="align-text-bottom" i18n>{{totalCount}} items &middot; {{filters}}</span>
    </div>
    <div class="ml-auto mt-2 mb-2 mr-2">
      <app-action-form (searchChange)=searchData($event) (refresh)="refreshGrid()"></app-action-form>
    </div>    
  </div>
</div>

  <div class="form-row mt-0 bg-primary" *ngIf="selectedAtLeastOneRowOnGrid">
    <div class="pl-2 col-4 align-bottom pt-3 text-white" *ngIf="!selectedAll()">
      <span class="align-text-bottom" i18n>{{gridApi.getSelectedRows().length}} items selected</span> - 
      <a class="align-text-bottom text-white" href="javascript:void(0);" (click)="selectAll()" ><span i18n>Select all</span> ({{totalCount}}) <span i18n>items</span></a>
    </div>
    <div class="pl-2 col-4 align-bottom pt-3 text-white" *ngIf="selectedAll()">
      <span class="align-text-bottom" i18n>All ({{totalCount}}) items selected</span> - 
      <a class="align-text-bottom text-white" href="javascript:void(0);" (click)="deselectAll()" ><span i18n>Deselect all</span></a>
    </div>
    <div class="col-auto pt-1">
      <button type="button" class="btn btn-secondary d-inline-block mb-1" (click)="onUploadConfiguration()"><span
          i18n>Upload Configuration</span></button>
    </div>
    <div class="col-auto pt-1">
      <button type="button" class="btn btn-secondary d-inline-block mb-1" (click)="onUpgrade()"><span
          i18n>Upgrade</span></button>
    </div>
  </div>

  <!-- ag-grid -->
  <div class="form-row mt-0 bg-white">
    <ag-grid-angular
      class="ag-theme-balham"            
      style="width: 100%; height: calc(100% - 25px);"
      #agGrid

      [domLayout]=agGridSettings.domLayout
      suppressSizeToFit=agGridSettings.suppressSizeToFit
          
      [modules]="modules"
      [icons]="icons"
      [pagination]=agGridSettings.pagination
    
      [paginationPageSize]=agGridSettings.paginationPageSize
      [multiSortKey]=agGridSettings.multiSortKey
      [cacheOverflowSize]="agGridSettings.cacheOverflowSize"
      [maxConcurrentDatasourceRequests]="agGridSettings.maxConcurrentDatasourceRequests"
      [frameworkComponents]="frameworkComponents"
      [cacheBlockSize]=agGridSettings.paginationPageSize
      [maxBlocksInCache]="2"

      [gridOptions]="gridOptions"    
      [columnDefs]="columns"

      [suppressRowClickSelection]=agGridSettings.suppressRowClickSelection
      [rowSelection]=agGridSettings.rowSelection
      [sideBar]="sideBar"

      (selectionChanged)="onSelectionChanged()"
      (gridReady)="onGridReady($event)"
      (columnVisible)="onColumnVisible($event)"
      (toolPanelVisibleChanged)="toolPanelChanged($event)"
      (paginationChanged)="onPaginationChange($event)"
      (rowSelected)="onRowSelect($event)"
      >
    </ag-grid-angular>
    
  </div>
</div>
