<app-modal-template (dismiss)="onDismiss()">

  <div modal-header>{{ actionName }}</div>

  <div modal-body>
    <ng-container>
      <div class="container">
        <div class="row">
          <div class="col-4 ps-0">
            <label class="ng-star-inserted" labelFor="search">{{ 'COMMON.SEARCH-OBJECTS' | translate }}</label>
            <app-input-searcher (insertedValue)="insertedValue($event)" [debounceTimeOut]="300" [form]="form"
                                [property]="searchProperty"
                                label="Search registers"
                                placeholder="{{ 'COMMON.SEARCH-TERM' | translate }}"></app-input-searcher>
          </div>
          <div class="col-8">
            <div>
              <div class="d-flex align-items-center">
                <app-input-text #popover="ngbPopover"
                                [autoClose]="'outside'"
                                [form]="form"
                                [iconName]="'fa-calendar'"
                                [isReadOnly]="true"
                                [ngbPopover]="popDateTimePicker"
                                [property]="'labelText'"
                                class="w-100"
                                container="body"
                                label="SELECT-DATE"
                                placement="bottom"
                                popoverClass="date-range-picker-popover">
                </app-input-text>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form [formGroup]="form" class="form-horizontal">
        <div class="form-row">
          <div class="col-12 pt-3">
            <div class="text-normal-bold tw-mt-2 tw-mb-3 tw-pl-1">
              {{ totalCount }} {{ foundText }}
            </div>
            <div>
              <ag-grid-angular #agGrid (firstDataRendered)="onFirstDataRendered($event)"
                               (gridReady)="onGridReady($event)"
                               (selectionChanged)="selectionChanged()"
                               [columnDefs]="columnDefs"
                               [isRowSelectable]="isRowSelectable"
                               [modules]="modules"
                               [paginationPageSize]="10"
                               [pagination]="true"
                               [rowData]="rowData"
                               class="ag-theme-epoint scrollable"
                               rowSelection="multiple"
                               style="width: 98%; height: 430px; overflow:auto;"
                               suppressRowClickSelection="true"
              ></ag-grid-angular>

              <div *ngIf="templateError" class="alert alert-danger mt-3" role="alert">
                <span class="text-danger">{{ templateErrorText }}</span>
              </div>

              <div *ngIf="noRegisterSelected" class="help-block">
                <i class="far fa-info-circle text-danger pe-2"></i><small class="text-danger">{{ requiredText }}</small>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>

  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button (click)="onDismiss()" class="btn text-secondary" type="button">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button (click)="onConfirm()" class="btn btn-primary" type="submit">
          <span>{{ 'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

<ng-template #popDateTimePicker>
  <app-datetime-range-picker (formClosed)="closePopover()" [form]="form"
                             [initValues]="true"></app-datetime-range-picker>
</ng-template>
