<app-modal-template (dismiss)="onDismiss()">

  <div modal-header>{{ actionName }}</div>

  <div modal-body>
    <ng-container>
      <div class="container">
        <div class="row">
          <div class="col-4 ps-0">
            <label labelFor="search" class="ng-star-inserted">{{ 'COMMON.SEARCH-OBJECTS' | translate }}</label>
            <app-input-searcher label="Search registers" [debounceTimeOut]="300" (insertedValue)="insertedValue($event)"
                                [form]="form"
                                [property]="searchProperty" placeholder="{{ 'COMMON.SEARCH-TERM' | translate }}"></app-input-searcher>
          </div>
          <div class="col-8">
            <div>
              <div class="d-flex align-items-center">
                <app-input-text container="body"
                                placement="bottom"
                                class="w-100"
                                [ngbPopover]="popDateTimePicker"
                                [autoClose]="'outside'"
                                #popover="ngbPopover"
                                popoverClass="date-range-picker-popover"
                                [iconName]="'fa-calendar'"
                                [isReadOnly]="true"
                                [form]="form"
                                [property]="'labelText'"
                                label="SELECT-DATE">
                </app-input-text>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form class="form-horizontal" [formGroup]="form">
        <div class="form-row">
          <div class="col-12 pt-3">
            <div class="text-normal-bold mt-2 mb-3 pl-1">
              {{ totalCount }} {{ foundText }}
            </div>
            <div>
              <ag-grid-angular class="ag-theme-epoint scrollable" style="width: 98%; height: 430px; overflow:auto;"
                               #agGrid
                               [rowData]="rowData"
                               [columnDefs]="columnDefs"
                               [modules]="modules"
                               (gridReady)="onGridReady($event)"
                               (selectionChanged)="selectionChanged()"
                               (firstDataRendered)="onFirstDataRendered($event)"
                               suppressRowClickSelection="true"
                               rowSelection="multiple"
                               [pagination]="true"
                               [paginationPageSize]="10"
                               [isRowSelectable]="isRowSelectable"
              ></ag-grid-angular>

              <div class="alert alert-danger mt-3" role="alert"  *ngIf="templateError">
                <span class="text-danger">{{ templateErrorText }}</span>
              </div>

              <div class="help-block" *ngIf="noRegisterSelected">
                <i class="far fa-info-circle text-danger pe-2"></i><small class="text-danger">{{ requiredText }}</small>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>

  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn text-secondary" (click)="onDismiss()">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button type="submit" class="btn btn-primary" (click)="onConfirm()">
          <span>{{ 'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

<ng-template #popDateTimePicker>
  <app-datetime-range-picker [form]="form" [initValues]="true" (formClosed)="closePopover()"></app-datetime-range-picker>
</ng-template>
