<div class="pt-1 h-100">
  <form [formGroup]="form">
    <div class="d-flex mb-2">
      <h3 class="mb-0 text-truncate" container="body" placement="bottom" [openDelay]="500" [ngbTooltip]="'FILTER.TITLE' | translate">{{ 'FILTER.TITLE' | translate}}</h3>
      <button type="button" class="close ml-auto" (click)="doToggleFilter()">
        <i class="far fa-times"></i>
      </button>
    </div>
    <div class="filter-scroll">
      <fieldset [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll">
        <app-input-tag label="Status" [property]="statusesProperty" [form]="form"
          [autocompleteItemsAsObjects]="dcuStatuses$ | async" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll" i18n-label
          (valueChanged)="applyFilter()">
        </app-input-tag>

        <!--<div class="form-row">
          <div class="col-6">
            <app-select-input label="Read status" [form]="form" [property]="operationProperty"  [selectOptions]="operatorsList$" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll" i18n-label>
            </app-select-input>
          </div>
          <div class="col-3">
            <app-input-numeric [label]="'&nbsp;'" [form]="form" [property]="value1Property" [showSpinners]="false" [decimals]="2" [min]="0" [max]="100"
            [format]="'#.## \\%'" [step]="1" [isReadOnly]="false" [allowShowError]="false"></app-input-numeric>
          </div>
          <div class="col-3" *ngIf="form.get(operationProperty).value != null &&  form.get(operationProperty).value.id === 'In Range'">
            <app-input-numeric [label]="'&nbsp;'" [form]="form" [property]="value2Property" [showSpinners]="false" [decimals]="2" [min]="0" [max]="100"
            [format]="'#.## \\%'" [step]="1" [isReadOnly]="false" [allowShowError]="false"></app-input-numeric>
          </div>
        </div>-->
        <div class="form-row text-danger" *ngIf="!form.valid">
          <div class="col-6"></div>
          <div class="col-6"><i class="far fa-info-circle"></i><span class="small">{{errorValidatorReadStatusComponents()}}</span></div>
        </div>

        <app-input-tag label="Type" [form]="form" [property]="typesProperty" [autocompleteItemsAsObjects]="dcuTypes$ | async"
         [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll"
          (valueChanged)="applyFilter()">
        </app-input-tag>

        <app-input-tag label="Vendor" [form]="form" [property]="vendorsProperty" [autocompleteItemsAsObjects]="dcuVendors$ | async"
          [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll"
          (valueChanged)="applyFilter()">
        </app-input-tag>

        <app-input-tag label="Tag" [property]="tagsProperty" [form]="form" [autocompleteItemsAsObjects]="dcuTags$ | async"
          [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll"
          (valueChanged)="applyFilter()">
        </app-input-tag>

      </fieldset>
      <div class="form-group link mt-2">
        <strong><a class="text-primary" href="javascript:void(0);" (click)="clearButtonClicked()">
          <span>{{ 'FILTER.CLEAR-FILTERS' | translate}}</span></a>
        </strong>
      </div>
    </div>
  </form>
</div>
