<div class="pt-1 h-100">
  <form [formGroup]="form">
    <fieldset>
      <app-input-tag (valueChanged)="applyFilter()" [autocompleteItemsAsObjects]="dcuStatuses$ | async"
                     [form]="form"
                     [property]="statesProperty"
                     label="State">
      </app-input-tag>

      <app-input-tag (valueChanged)="applyFilter()" [autocompleteItemsAsObjects]="dcuTypes$ | async"
                     [form]="form"
                     [property]="typesProperty"
                     label="Type">
      </app-input-tag>

      <app-input-tag (valueChanged)="applyFilter()" [autocompleteItemsAsObjects]="dcuVendors$ | async"
                     [form]="form"
                     [property]="vendorsProperty"
                     label="Vendor">
      </app-input-tag>

      <div>
        <div>
          <label>{{'FORM.SLA' | translate }}</label>
        </div>
        <div class="tw-inline-flex tw-w-full tw-gap-4">
          <app-select-input
            class="tw-w-1/2"
            [form]="form"
            (selectedValueChanged)="applyFilter(true, false)"
            [disabled]="false"
            [selectOptions]="slaOperations"
            [property]="slaOperation"
          >
          </app-select-input>

          <div class="tw-w-24 tw-w-1/2" *ngIf="form.controls.slaOperation.value !== null">
            <app-input-numeric [form]="form" [max]="100" [min]="1" [property]="slaValue"
                               (inputTextBlurValue)="applyFilter()"></app-input-numeric>
          </div>
        </div>
      </div>

      <div>
        <div>
          <label>{{'FORM.LASTCOMMUNICATION' | translate }}</label>
        </div>
        <div class="tw-inline-flex tw-w-full tw-gap-4">
          <app-select-input
            class="tw-w-1/2"
            [form]="form"
            (selectedValueChanged)="applyFilter(false, true)"
            [disabled]="false"
            [selectOptions]="lastCommunicationOptions"
            [property]="lastCommunicationOption"
          >
          </app-select-input>

          <div class="tw-w-24 tw-inline-flex tw-items-center tw-w-1/2"
               *ngIf="form.controls.lastCommunicationOption.value !== null">
            <app-input-numeric [form]="form" [min]="1" [max]="120"
                               [property]="lastCommunicationValue"
                               (inputTextBlurValue)="applyFilter(false, true)"></app-input-numeric>
          </div>
          <label *ngIf="form.controls.lastCommunicationOption.value !== null"
                 class="tw-ml-2 tw-pt-[9px]">{{'FORM.DAYS' | translate }}</label>
        </div>

      </div>

      <!--      <app-input-tag (valueChanged)="applyFilter()" [autocompleteItemsAsObjects]="dcuTags$ | async"-->
      <!--                     [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll"-->
      <!--                     [form]="form"-->
      <!--                     [property]="tagsProperty"-->
      <!--                     label="Tag">-->
      <!--      </app-input-tag>-->

    </fieldset>
    <div class="mb-3 link mt-2">
      <strong><a (click)="clearButtonClicked()" class="text-primary" href="javascript:void(0);">
        <span>{{ 'FILTER.CLEAR-FILTERS' | translate}}</span></a>
      </strong>
    </div>
  </form>
</div>
