<app-modal-template (dismiss)="onDismiss()">

  <div modal-header i18n>Active Jobs</div>

  <div modal-body>
    <ng-container>
      <ag-grid-angular class="ag-theme-epoint" style="width: 100%; height: 240px;" #agGrid
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        headerHeight="0"
        [modules]="modules"
        (gridReady)="onGridReady($event)"
        suppressRowClickSelection="true">
      </ag-grid-angular>
    </ng-container>
  </div>
  <div modal-footer>

  </div>
</app-modal-template>
