<div class="mb-3" [formGroup]="form" [ngClass]="{'has-error': showErrors()}">

  <label [attr.for]="property" *ngIf="label">
    <ng-container *ngIf="label !== ' '; else blank">
      {{ 'FORM.' + label.toUpperCase() | translate }}
    </ng-container>
    <ng-template #blank>
      {{ '&nbsp;' }}
    </ng-template>
    <span *ngIf="required && label !== ' '"> *</span>
  </label>


  <div [ngClass]="{'d-flex': !noFlex}">
    <kendo-numerictextbox
      [name]="property"
      class="form-control"
      [formControlName]="property"
      [decimals]="decimals"
      [format]="format"
      [min]="min"
      [max]="max"
      [step]="step"
      [readonly]="isReadOnly"
      [spinners]="showSpinners"
      (valueChange)="onChange($event)"
    ></kendo-numerictextbox>
    <span *ngIf="labelRight" class="align-self-end ml-3 mb-2">{{ labelRight | translate }}</span>
  </div>

  <!--Loop through errors-->
  <div class="help-block" *ngIf="showErrors() && allowShowError" class="error">
    <app-form-error [error]="formControl!.errors"></app-form-error>
  </div>

</div>
