<div [formGroup]="form" [ngClass]="{'has-error': showErrors()}" class="mb-3">

  <label *ngIf="label" [attr.for]="property">
    <ng-container *ngIf="label !== ' '; else blank">
      {{ 'FORM.' + label.toUpperCase() | translate }}:
    </ng-container>
    <ng-template #blank>
      {{ '&nbsp;' }}
    </ng-template>
    <span *ngIf="required && label !== ' '"> *</span>
  </label>


  <div [ngClass]="{'d-flex': !noFlex}">
    <kendo-numerictextbox
      (valueChange)="onChange($event)"
      (blur)="onBlur()"
      [decimals]="decimals"
      [formControlName]="property"
      [format]="format"
      [max]="max"
      [min]="min"
      [name]="property"
      [readonly]="isReadOnly"
      [spinners]="showSpinners"
      [step]="step"
      class="form-control p-0"
    ></kendo-numerictextbox>
    <span *ngIf="labelRight" class="align-self-end ms-3 tw-mb-2">{{ labelRight | translate }}</span>
  </div>

  <!--Loop through errors-->
  <div *ngIf="showErrors() && allowShowError" class="help-block" class="error">
    <app-form-error [error]="formControl!.errors"></app-form-error>
  </div>

</div>
