.vault-access-tabs ::ng-deep ul.k-reset.k-tabstrip-items {
  position: fixed;
  width: 100%;
  z-index: 30;
  top: 10.875rem;
  @apply tw-bg-white;
  margin-left: -2.5rem; // kendoUI tabs full screen line hack
  box-shadow: 0 4px 5px -5px #6F7072;
}

.vault-access-tabs ::ng-deep li#k-tabstrip-tab-0 {
  margin-left: 2.5rem;
}

.vault-data-table ::ng-deep .grid-row-button {
  bottom: 5px !important;
  position: sticky;
}
