<div class="d-flex">
  <button type="button" class="btn btn-light pl-2 pr-2 position-relative" [ngClass]="{'active': isFilterOpened}" (click)="doToggleFilter()" [ngbTooltip]="hideShowFilter">
    <i class="far fa-filter"></i>
    <span class="badge badge-primary" *ngIf="filtersInfo.isSet">{{filtersInfo.count}}</span>
  </button>

  <div class="btn-group ml-2">
    <button type="button" class="btn btn-light pl-2 pr-2"  [ngbTooltip]="tipContentColumns" data-toggle="dropdown"><i class="far fa-columns"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <div class="dropdown-item">
        <app-input-checkbox-grid [form]="form" [property]="selectAllProperty" (change)="showHideAll()" label="Select/deselect all columns"></app-input-checkbox-grid>
      </div>
      <div class="dropdown-divider"></div>
      <app-input-multiselect [form]="form" [property]="columnsProperty" (change)="showHideFromArrayOfCheckBoxes()" name="multSelectTypes"
        [isReadOnly]="false" [options]="columns$" [inline]="false" class="dropdown-item" i18n-label>
      </app-input-multiselect>
    </div>
  </div>

  <button type="button" class="btn btn-light pl-2 pr-2 mr-3" (click)="onRefresh()" [ngbTooltip]="tipContentRefresh">
    <i class="far fa-redo"></i></button>

  <ng-content></ng-content>

  <div class="ml-auto">
    <app-input-searcher [debounceTimeOut]="700" (insertedValue)="insertedValue($event)" [form]="form"
      [property]="searchProperty" [placeholder]="staticTextService.placeholderSearch"> </app-input-searcher>
  </div>

  <div *ngIf="false"> <!-- TODO uncomment when implemented (remove div) -->
    <button type="button" class="btn btn-link" (click)="openSaveLayoutModal($event)"
    [ngbTooltip]="tipContentFilter"><i class="far fa-bookmark"></i></button>
  </div>

  <div *ngIf="false"> <!-- TODO uncomment when implemented (remove div) -->
    <button type="button" class="btn btn-link" [ngbTooltip]="tipContentExport"><i class="far fa-file-excel"></i></button>
  </div>
</div>
<ng-template #tipContentSearch><span i18n>Search data</span></ng-template>
<ng-template #tipContentFilter><span i18n>Apply saved state or save new</span></ng-template>
<ng-template #tipContentRefresh><span i18n>Refresh grid</span></ng-template>
<ng-template #tipContentExport><span i18n>Export in excel</span></ng-template>
<ng-template #tipContentColumns><span i18n>Show/hide grid columns</span></ng-template>
<ng-template #hideShowFilter><span i18n>Show/hide filters</span><span><br />{{filtersInfo?.text}}</span></ng-template>


