<div class="d-flex">
  <button type="button" class="btn btn-light pl-2 pr-2 position-relative" [ngClass]="{'active': isFilterOpened}" (click)="doToggleFilter()" [ngbTooltip]="hideShowFilter">
    <i class="fas fa-filter"></i>
    <span class="badge badge-primary" *ngIf="filtersInfo.isSet">{{filtersInfo.count}}</span>
  </button>

  <div class="btn-group ml-2" dropdown>
    <button dropdownToggle type="button" class="btn btn-light pl-2 pr-2" (click)="$event.stopPropagation();" [ngbTooltip]="tipContentColumns" data-toggle="dropdown"><i class="fas fa-columns"></i>
    </button>
    <div *dropdownMenu (click)="$event.stopPropagation();" class="dropdown-menu">
      <div class="dropdown-item custom-color-grid-columns">
        <app-input-checkbox-grid [form]="form" [property]="selectAllProperty" (change)="showHideAll()" label="Select/deselect all columns"></app-input-checkbox-grid>
      </div>
      <div class="dropdown-divider"></div>
      <app-input-multiselect [form]="form" [property]="columnsProperty" (inputMultiselectChange)="showHideFromArrayOfCheckBoxes()" name="multSelectTypes"
        [isReadOnly]="false" [options]="columns$" [inline]="false" class="dropdown-item custom-color-grid-columns">
      </app-input-multiselect>
    </div>
  </div>

  <button type="button" class="btn btn-light pl-2 pr-2 mr-3" (click)="onRefresh()" [ngbTooltip]="tipContentRefresh">
    <i class="fas fa-sync-alt"></i></button>

  <ng-content></ng-content>

  <div class="ml-auto">
    <app-input-searcher [debounceTimeOut]="700" (insertedValue)="insertedValue($event)" [form]="form"
      [property]="searchProperty" [placeholder]="staticTextService.placeholderSearch"
      [showUseWildcard]="true" [useWildcards]="useWildcards" (toggleWildcards)="doToggleWildcards($event)"> </app-input-searcher>
  </div>
</div>
<ng-template #tipContentSearch><span>{{ 'GRID.SEARCH-DATA' | translate }}</span></ng-template>
<ng-template #tipContentFilter><span>{{ 'GRID.APPLY-SAVED-STATE' | translate }}</span></ng-template>
<ng-template #tipContentRefresh><span>{{ 'GRID.REFRESH-GRID' | translate }}</span></ng-template>
<ng-template #tipContentColumns><span>{{ 'GRID.SHOW-HIDE-COLUMNS' | translate }}</span></ng-template>
<ng-template #hideShowFilter><span>{{ 'GRID.SHOW-HIDE-FILTERS' | translate }}</span><span><br />{{filtersInfo?.text}}</span></ng-template>


