<div #tableWrapper>
<ngx-datatable #table class="ngx-datatable" [rows]="rows" [columnMode]="'force'" [columns]="columns"
              [scrollbarH]="true"
              [reorderable]="false" [externalPaging]="false" [count]="recordCount"
              [limit]="pageSize" [externalSorting]="false"               
              [footerHeight]="50" [cssClasses]="state.cssClasses" [sorts]="[state.initialSort]"
              [messages]="state.messages"
              [rowHeight]="'auto'"
              [selected]="selected" (select)='onSelect($event)'
              [selectionType]="'single'"
              (activate)="onActivate($event)">
  <ngx-datatable-row-detail [rowHeight]="null" #myDetailRow>
    <ng-template #details
                 let-row="row"
                 let-expanded="expanded"
                 ngx-datatable-row-detail-template>
      
    </ng-template>
  </ngx-datatable-row-detail>
</ngx-datatable>
</div>