<div #tableWrapper>
<ngx-datatable #table class="ngx-datatable" [rows]="rows" [columnMode]="'force'" [columns]="columns"
              [scrollbarH]="true"
              [reorderable]="false" [externalPaging]="false" [count]="recordCount"
              [limit]="pageSize" [externalSorting]="false"               
              [footerHeight]="50" [cssClasses]="state.cssClasses" [sorts]="[state.initialSort]"
              [messages]="state.messages"
              [rowHeight]="'auto'">
</ngx-datatable>
</div>