// Global component styles
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
}

#content-wrapper {
  height: 100%;
  margin-left: $sidebar-base-width  + 3.5rem ;
  transition: margin-left .3s;
  width: auto;
  padding: $spacer;

  &.menu-collapsed {
    margin-left: $sidebar-collapsed-width  + 3.5rem !important;
  }
}

/****************************************/

a,
button {
  &:focus {
    outline: none;
  }
}

.btn {
  i+span {
    margin-left: $spacer * 0.5;
  }
}

i.text-secondary {
  color: $gray-500 !important;
}

label:not(.control-label) {
  font-size: $font-size-base * .9 !important;
  color: $gray-600;
  // text-transform: uppercase;
  font-weight: 500;

  &.small {
    font-size: $font-size-base * .75;
  }
}

.div-height {
  min-height: $input-height;
}

.div-height-sm {
  min-height: $input-height-sm;
}

.div-height-lg {
  min-height: $input-height-lg;
}
