@use 'sass:math';
// Global component styles
html {
  position: relative;
  min-height: 100%;
  font-size: 16px; // 16px == 1rem
}

body {
  height: 100%;
}

#content-wrapper {
  height: 100%;
  margin-left: $sidebar-base-width;
  transition: margin-left 0.3s;
  width: auto;
  padding: $spacer 0 0 0;

  &.menu-collapsed {
    margin-left: $sidebar-collapsed-width !important;
  }
}

#content {
  margin-top: calc(#{$topbar-base-height} + #{math.div($spacer,2)});
}

/****************************************/

//a:not([href]) {
//  color: $link-color;
//  text-decoration: $link-decoration;
//  background-color: transparent; // Remove the gray background on active links in IE 10.
//
//  @include hover() {
//    color: $link-hover-color;
//    text-decoration: $link-hover-decoration;
//  }
//}

a,
button {
  &:focus {
    outline: none;
  }
}

.btn {
  i + span {
    margin-left: $spacer * 0.5;
  }
}

.text-secondary {
  color: $gray-600 !important;
}

small.text-secondary {
  font-weight: $font-weight-bold;
}

label {
  &:not(.control-label) {
    font-size: $font-size-sm !important;
    color: $darkGray;
    font-weight: $font-weight-bold;
  }

  &.control-label {
    //font-size: $font-size-sm !important;
    //font-weight: $font-weight-bold;
    margin-bottom: 0 !important;
    cursor: pointer;
  }
}

.div-height {
  min-height: $input-height;
}

.div-height-sm {
  min-height: $input-height-sm;
}

.div-height-lg {
  min-height: $input-height-lg;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.grid-actions {
  .mb-3 {
    margin-bottom: 0 !important; // dirty hack
  }
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  margin: 0 0.2em;
  text-align: center;
}

.modal-footer {
  padding: 1.714rem; // 24px
}

.modal-checkbox-label {
  margin-right: 12px;
  margin-top: 4px;
}

.gray-box {
  width: 31%;
  height: 76px;
  background: rgba(242, 243, 247, 0.5);
  border-radius: 4px;
}

.box-data {
  padding: 12px 20px;
  height: 100%;
}

// grays from figma
// todo check text-darkGray
.gray-color {
  color: $mediumGray;
}

.gray-color-dark {
  color: $darkGray;
}

.gray-line {
  border-bottom: 1px solid $border-color;
}

.gray-light-line {
  border-bottom: 1px solid $gray-200;
}

.gray-line-top {
  border-top: 1px solid $border-color;
}

.gray-background {
  background-color: $lightestGray;
}

.white-background {
  background-color: white;
}

.custom-datatable {
  position: relative;
  height: 300px;
  overflow: auto;

  & table th {
    padding: 0 10px 5px !important;
  }

  thead {
    position: static;
  }
}

.modal-header {
  button.btn-close {
    height: 72px;

    .far {
      font-weight: 100;
    }
  }
}

.progress-bar {
  &.red {
    background-color: $progress-bar-bg-red;
  }
}

.display-none {
  display: none;
}

.red-warning-text {
  font-weight: 500;
  font-size: $tinyText;
  color: $danger;
  padding: 3px 8px;
  background: rgba(228, 52, 88, 0.1);
  border-radius: 2px;
}

.item-padding {
  margin: 0.5rem 0;
}

.modal-body {
  .card-body {
    padding: 0;
  }
}

.align-div-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gray-border {
  border: 1px solid $lightestGray;
  background-clip: padding-box;
}
