@import "kendoUI/kendo-forms";
@import "kendoUI/kendo-icons";
@import "kendoUI/kendo-charts";
@import "kendoUI/kendo-tabstrip";

// kendo UI
.ag-cell {
  .k-switch {
    transform: scale(0.85);
  }

  span.k-switch-container {
    padding: 1px;
  }
}

.k-switch-on .k-switch-container {
  border-color: $primary !important;
  background-color: $primary !important;
}

// kendo UI overrides
.k-multiselect .k-multiselect-wrap, .k-dropdowntree .k-multiselect-wrap .k-combobox .k-dropdown-wrap {
  border-style: hidden;
}

.k-dateinput .k-dateinput-wrap {
  border-style: hidden;
}

.k-combobox .k-dropdown-wrap {
  border-style: hidden;
}
.k-numerictextbox .k-numeric-wrap {
  border-style: hidden;
}

.k-checkbox {
  width: 1.145rem;
  height: 1.145rem;
}

.k-datetimepicker .k-picker-wrap {
  border-style: hidden;
}

.k-dateinput-wrap {
  min-width: 130px;
}

span[class^='k-'] {
  border-style: hidden !important;
}
