$fa-font-path: "assets/fonts/font-awesome";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
$fa-font-path: "assets/fonts/font-awesome";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

$FontPathOpenSans: "assets/fonts/open-sans";

@import '../../node_modules/npm-font-open-sans/open-sans';

/* import Bootstrap files */
@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "bootstrap";

// Import SB Admin 2
@import "global";
@import "utilities";
@import "navs";

// Custom STYLES
@import 'custom-style/form';
@import 'custom-style/buttons';
@import 'custom-style/dropdown-button';
@import 'custom-style/ribbon';
@import 'custom-style/helper';
@import 'custom-style/datetime-range-picker';
@import 'custom-style/kendoUI/kendo-grid';
@import 'custom-style/devextreme/devextreme-grid';
@import 'custom-style/right-modal';
@import 'custom-style/tag-input';

// Custom dashboard: gridster + widget
@import 'custom-style/widget-grid';
@import 'custom-style/widget';

//@import "~ag-grid-community/dist/styles/ag-grid.css";
//@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~@ag-grid-enterprise/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-enterprise/all-modules/dist/styles/ag-theme-balham.css";
@import "~@ag-grid-enterprise/all-modules/dist/styles/ag-theme-bootstrap.css";

@import "custom-style/devextreme/dx.light";
