<div class="d-flex justify-content-between">
  <div>
    <label class="control-label" i18n>Register</label>
    <sup> *</sup>
  </div>
  <app-input-searcher class="mr-2" [debounceTimeOut]="300" (insertedValue)="insertedValue($event)" [form]="form"
    [property]="searchProperty" [placeholder]="staticTextService.placeholderSearch"> </app-input-searcher>
</div>

<div>
  <ag-grid-angular
      class="ag-theme-epoint" style="width: 100%; height: 240px;" #agGrid
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [modules]="modules"
      (gridReady)="onGridReady($event)"
      (rowSelected)="selectionChanged($event)"
      rowSelection="multiple">
  </ag-grid-angular>
</div>
