<label><span>{{ 'GRID.REGISTER' | translate }}</span><sup> *</sup></label>

<div class="d-flex justify-content-between align-items-center p-2 grid-actions">
  <div>
    <small class="text-primary" *ngIf="selectedAtLeastOneRowOnGrid"><strong>{{gridApi.getSelectedRows().length}}
      <span>{{ 'COMMON.ITEMS-SELECTED' | translate }}</span></strong></small>
    <span class="text-secondary mx-1" *ngIf="selectedAtLeastOneRowOnGrid">&middot;</span>
    <small class="text-secondary">{{totalCount}} <span>{{ 'COMMON.ITEMS-FOUND' | translate }}</span></small>

  </div>
  <app-input-searcher [debounceTimeOut]="300" (insertedValue)="insertedValue($event)" [form]="form"
    [property]="searchProperty" [placeholder]="staticTextService.placeholderSearch"> </app-input-searcher>
</div>

<ag-grid-angular class="ag-theme-epoint" style="width: 98%; height: 430px;" #agGrid
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [modules]="modules"
  (gridReady)="onGridReady($event)"
  (rowSelected)="selectionChanged($event)"
  (firstDataRendered)="onFirstDataRendered($event)"
  suppressRowClickSelection="true"
  rowSelection="multiple"
  [pagination]="true"
  [paginationPageSize]="10"
  [isRowSelectable]="isRowSelectable"
  >
</ag-grid-angular>
