<div class="card shadow">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-auto mb-1 mr-auto">
        <h4 class="text-uppercase" i18n>Users</h4>
        <small small class="form-text text-muted" i18n>
          Sample with client side actions: sort, search, paging
        </small>
      </div>
      <div class="col-auto mr-auto">
        <app-users-search (search)="onSearch($event)"></app-users-search>
      </div>
      <div class="col-auto mb-1">
        <button [appHideIfAuthorizedReadonly]="formFunctionality" class="btn btn-outline-primary"
          (click)="onAddClicked()"><i class="fa fa-plus-circle"></i><span i18n>Add</span></button>
      </div>
    </div>
    <form *ngIf="data && data.results">
      <app-table-client [rows]="data.results" tableHeading="" [columns]="columns" [defaultSort]="sort"
        [recordCount]="data.recordCount" [pageSize]="data.pageSize" (selectRow)="onSelect($event)"> </app-table-client>
    </form>
  </div>
</div>
<ng-template #actionsColumnTmpl let-rowIndex="rowIndex" let-row="row" >
  <div class="datatable-body-cell-right">
    <button [appHideIfAuthorizedReadonly]="formFunctionality" class="btn btn-sm btn-outline-secondary" (click)="onDelete($event, row)" 
    title="Delete" i18n><i class="fa fa-trash"></i></button>
  </div>
</ng-template>
