<div class="row mb-3" *ngIf="isReadonlyMode()">
  <div class="col-md-3 col-sm-6">
    <app-input-select [form]="form" [property]="dashboardProperty" [options]="dashboardOptions"
      [config]="configInputSelect" (changeSelection)="onSelectItem($event)" (addNew)="onAddNewDashboard()">
    </app-input-select>
  </div>
  <div class="col-auto d-none d-sm-block">
    <button [appHideIfAuthorizedReadonly]="formFunctionality" class="btn btn-outline-primary"
      (click)="onSettingsButtonClick()"><i class="fas fa-cog"></i><span i18n>Settings</span></button>
  </div>
  <div class="col-auto d-none d-sm-block">
    <button [appHideIfAuthorizedReadonly]="formFunctionality" class="btn btn-outline-primary"
      (click)="onEditButtonClick()"><i class="fas fa-grip-horizontal"></i><span i18n>Edit</span></button>
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-primary" *ngIf="canShowRefreshButton()" (click)="onRefreshClick()">
      <i class="fas fa-sync"></i><span i18n>Refresh</span>
    </button>
  </div>
</div>

<div class="row mb-3" *ngIf="isEditMode()">
  <div class="col-auto align-self-center">
    <span i18n>Add, edit, move or resize your widgets</span>
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-primary readonly-button" (click)="onReadonlyButtonClick()">
      <i class="fa fa-grip-horizontal"></i>
      <span i18n>Done editing</span>
    </button>
  </div>
</div>
