<div class="form-group" *ngIf="!edit">
  <button class="btn btn-primary mr-2" (click)="editDcu()">
    <span i18n>Edit</span>
  </button>
  <app-dc-operations [showOperations]="true" [requestModel]="null"
    [guid]="concentratorId" [selectedItemsCount]="1"></app-dc-operations>
</div>
<div class="form-group" *ngIf="edit">
    <button type="button" class="btn btn-light" (click)="cancel()" i18n>Cancel</button>
    <button class="btn btn-primary" (click)="saveDcu()" i18n>Save</button>
  </div>
<div *ngIf="data">
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="saveError">
  <strong><span i18n>Error saving DCU!</span></strong> <br/> {{saveError}}
</div>
<div class="form-group" *ngIf="!edit">
  <div class="form-row mb-4">
    <div class="col-4">
      <div><label i18n>Name</label></div>
      <div><span>{{form.get(nameProperty).value}}</span></div>
    </div>
  </div>
  <div class="form-row mb-4">
    <div class="col-4">
      <div><label i18n>Serial number</label></div>
      <div><span>{{form.get(serialNumberProperty).value}}</span></div>
    </div>
  </div>
  <div class="form-row mb-4">
    <div class="col-4">
      <div><label i18n>MAC</label></div>
      <div><span>{{form.get(macProperty).value}}</span></div>
    </div>
  </div>
  <div class="form-row mb-4">
    <div class="col-4">
      <div><label i18n>State</label></div>
      <div><span>{{form.get(statusProperty).value?.value}}</span></div>
    </div>
  </div>
  <div class="form-row mb-4">
    <div class="col-4">
      <div><label i18n>Type</label></div>
      <div><span>{{form.get(typeProperty).value?.value}}</span></div>
    </div>
  </div>
  <div class="form-row mb-4">
    <div class="col-4">
      <div><label i18n>Manufacturer</label></div>
      <div><span>{{form.get(vendorProperty).value?.value}}</span></div>
    </div>
  </div>
  <div class="form-row mb-4">
    <div class="col-3">
      <div><label i18n>IP</label></div>
      <div><span>{{form.get(ipProperty).value}}</span></div>
    </div>
    <div class="col-1">
        <div><label i18n>Port</label></div>
        <div><span>{{form.get(portProperty).value}}</span></div>
      </div>
  </div>
  <div class="form-row mb-4">
    <div class="col-4">
      <div><label i18n>Address</label></div>
      <div><span>{{form.get(addressProperty).value}}</span></div>
    </div>
  </div>
  <div class="form-row mb-4">
    <div class="col-4">
      <div><label i18n>Tags</label></div>
      <div><span>{{form.get(tagsProperty).value}}</span></div>
    </div>
  </div>
  <div class="form-row mb-4" *ngIf="credentialsVisible">
    <div class="col-4">
        <div><label i18n>Username</label></div>
        <div><span>{{form.get(userNameProperty).value}}</span></div>
      </div>
  </div>
</div>

<div class="form-group" *ngIf="edit">
  <div class="form-row">
    <div class="col-4">
        <app-input-text [form]="form" [property]="nameProperty" i18n-label label="Name">
        </app-input-text>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
        <app-input-text [form]="form" [property]="serialNumberProperty" i18n-label label="Serial number">
        </app-input-text>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <fieldset [disabled]="true">
        <app-input-text [form]="form" [property]="macProperty" i18n-label label="MAC">
        </app-input-text>
      </fieldset>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <app-select-input i18n-label label="State" [form]="form" [property]="statusProperty" [selectOptions]="dcuStatuses$ | async"
        [disabled]="true">
      </app-select-input>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <app-select-input i18n-label label="Type" [form]="form" [property]="typeProperty" [selectOptions]="dcuTypes$ | async"
        [disabled]="true" (selectedValueChanged)="onTypeChanged($event)">
      </app-select-input>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <app-select-input i18n-label label="Manufacturer" [form]="form" [property]="vendorProperty" [selectOptions]="dcuVendors$ | async"
        [disabled]="true">
      </app-select-input>
    </div>
  </div>
  <div class="form-row">
    <div class="col-3">
        <app-input-text [form]="form" [property]="ipProperty" i18n-label label="IP">
        </app-input-text>
    </div>
    <div class="col-1">
        <app-input-text [form]="form" [property]="portProperty" i18n-label label="Port">
        </app-input-text>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
        <app-input-text [form]="form" [property]="addressProperty" i18n-label label="Address">
        </app-input-text>
    </div>
  </div>
  <div class="form-row">
    <div class="col-4">
      <fieldset [disabled]="true">
        <app-input-text [form]="form" [property]="tagsProperty" i18n-label label="Tags">
        </app-input-text>
      </fieldset>
    </div>
  </div>

  <div *ngIf="credentialsVisible">
    <div class="form-row">
      <div class="col-4">
        <app-input-text [form]="form" [property]="userNameProperty" i18n-label label="Username"></app-input-text>
      </div>
    </div>
    <div class="form-row">
      <div class="col-4">
        <app-input-text [form]="form" [property]="passwordProperty" i18n-label label="Password" inputType="password"></app-input-text>
      </div>
      <div class="col-4">
        <app-input-text [form]="form" [property]="confirmPasswordProperty" i18n-label label="Confirm password" inputType="password"></app-input-text>
      </div>
    </div>
  </div>

</div>
</div>
