.dcu-tabs ::ng-deep ul.k-reset.k-tabstrip-items {
  position: fixed;
  width: 100%;
  z-index: 30;
  top: 10.875rem;
  @apply tw-bg-white;
  margin-left: -2.5rem; // kendoUI tabs full screen line hack
  box-shadow: 0 4px 5px -5px #6F7072;
}

.dcu-tabs ::ng-deep li#k-tabstrip-tab-0 {
  margin-left: 2.5rem;
}

.table-header {
  @apply tw-h-11;
}

.table-row {
  @apply tw-h-10;
}

.description-text {
  @apply tw-truncate;
  max-width: 172px;
}

.leafet-map {
  height: 312px;
}

.bold-text {
  font-weight: bold;
}


//.dcu-tabs ::ng-deep .k-tabstrip {
//  height: 85vh;
//}
