<div *ngIf="data" [style.width.px]="addWidth()" class="sticky">
  <div class="tw-inline-flex tw-justify-between tw-items-center tw-w-full">
    <app-page-title
      [status]="data.statusValue"
      [subtitle]="data.typeValue"
      [title]="data.name"
      class="tw-h-52"
    >
    </app-page-title>

    <app-dc-operations [guid]="concentratorId" [requestModel]="null"
                       [selectedItemsCount]="1" [showOperations]="true"></app-dc-operations>
  </div>
</div>

<div *ngIf="data" class="tw-py-10 dcu-tabs">
  <kendo-tabstrip [keepTabContent]="true" class="tw-pt-5">

    <kendo-tabstrip-tab [selected]="true"
                        title="{{ 'COMMON.OVERVIEW' | translate }}">
      <ng-template kendoTabContent>

        <div class="tw-py-10">

          <!--          <div class="tw-inline-flex tw-w-full">-->
          <!--            <app-mini-card-item [chartData]="[1, 2, 3, 5]" [label]="'Overall sla data'" [type]="'chart'">-->
          <!--            </app-mini-card-item>-->

          <!--            <app-mini-card-item [gaugeValue]="99.9" [label]="'Current'" [type]="'gauge'">-->
          <!--            </app-mini-card-item>-->

          <!--            <app-mini-card-item [gaugeValue]="96.9" [label]="'24h'" [type]="'gauge'">-->
          <!--            </app-mini-card-item>-->

          <!--            <app-mini-card-item [gaugeValue]="65" [label]="'48h'" [type]="'gauge'">-->
          <!--            </app-mini-card-item>-->
          <!--          </div>-->

          <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 2xl:tw-grid-cols-3 tw-gap-6">

            <app-card-item (buttonClickEvent)="editButtonClicked()" [buttonIconName]="'edit-icon'"
                           [buttonLabel]="'BUTTON.EDIT'" [form]="form"
                           [paginationLimit]="7"
                           [showMoreButton]="true" [title]="'COMMON.OVERVIEW'">

            </app-card-item>

            <app-card-item [meterUnitData]="meterStatusData" [title]="'COMMON.METER-STATUS'">
            </app-card-item>

          </div>
        </div>

      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>


<!--<div class="mb-3" *ngIf="!edit">-->
<!--  <button class="btn btn-primary me-2" (click)="editDcu()" appHideIfPermissionUnauthorized [permission]="permissionEdit">-->
<!--    <span>{{ 'COMMON.EDIT' | translate }}</span>-->
<!--  </button>-->
<!--  <app-dc-operations [showOperations]="true" [requestModel]="null"-->
<!--    [guid]="concentratorId" [selectedItemsCount]="1"></app-dc-operations>-->
<!--</div>-->
<!--<div class="mb-3" *ngIf="edit">-->
<!--    <button type="button" class="btn btn-light" (click)="cancel()">{{ 'BUTTON.CANCEL' | translate }}</button>-->
<!--    <button class="btn btn-primary" (click)="saveDcu()">{{ 'BUTTON.SAVE' | translate }}</button>-->
<!--  </div>-->
<!--<div *ngIf="data">-->
<!--<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="saveError">-->
<!--  <strong><span>{{ 'FORM.ERROR.DCU-ERROR' | translate }}</span></strong> <br/> {{saveError}}-->
<!--</div>-->
<!--<div class="mb-3" *ngIf="!edit">-->
<!--  <div class="form-row mb-4">-->
<!--    <div class="col-4">-->
<!--      <div><label>{{ 'COMMON.NAME' | translate }}</label></div>-->
<!--      <div><span>{{form.get(nameProperty).value}}</span></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-row mb-4">-->
<!--    <div class="col-4">-->
<!--      <div><label>{{ 'FORM.SERIAL-NUMBER' | translate }}</label></div>-->
<!--      <div><span>{{form.get(serialNumberProperty).value}}</span></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-row mb-4">-->
<!--    <div class="col-4">-->
<!--      <div><label>{{ 'FORM.EXTERNAL-ID' | translate }}</label></div>-->
<!--      <div><span>{{form.get(externalIdProperty).value}}</span></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-row mb-4">-->
<!--    <div class="col-4">-->
<!--      <div><label>{{ 'FORM.MAC' | translate }}</label></div>-->
<!--      <div><span>{{form.get(macProperty).value}}</span></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-row mb-4">-->
<!--    <div class="col-4">-->
<!--      <div><label>{{ 'FORM.STATE' | translate }}</label></div>-->
<!--      <div><span>{{form.get(statusProperty).value?.value}}</span></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-row mb-4">-->
<!--    <div class="col-4">-->
<!--      <div><label>{{ 'FORM.TYPE' | translate }}</label></div>-->
<!--      <div><span>{{form.get(typeProperty).value?.value}}</span></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-row mb-4">-->
<!--    <div class="col-4">-->
<!--      <div><label>{{ 'FORM.MANUFACTURER' | translate }}</label></div>-->
<!--      <div><span>{{form.get(vendorProperty).value?.value}}</span></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-row mb-4">-->
<!--    <div class="col-3">-->
<!--      <div><label>{{ 'FORM.IP' | translate }}</label></div>-->
<!--      <div><span>{{form.get(ipProperty).value}}</span></div>-->
<!--    </div>-->
<!--    <div class="col-1">-->
<!--        <div><label>{{ 'COMMON.PORT' | translate }}</label></div>-->
<!--        <div><span>{{form.get(portProperty).value}}</span></div>-->
<!--      </div>-->
<!--  </div>-->
<!--  <div class="form-row mb-4">-->
<!--    <div class="col-4">-->
<!--      <div><label>{{ 'COMMON.ADDRESS' | translate }}</label></div>-->
<!--      <div><span>{{form.get(addressProperty).value}}</span></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-row mb-4">-->
<!--    <div class="col-4">-->
<!--      <div><label>{{ 'COMMON.TAGS' | translate }}</label></div>-->
<!--      <div><span>{{form.get(tagsProperty).value}}</span></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="form-row mb-4" *ngIf="credentialsVisible">-->
<!--    <div class="col-4">-->
<!--        <div><label>{{ 'COMMON.USERNAME' | translate }}</label></div>-->
<!--        <div><span>{{form.get(userNameProperty).value}}</span></div>-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
