<div [formGroup]="form" class="mb-3">
  <label *ngIf="label" [attr.for]="property">
    {{ 'FORM.' + label.toUpperCase() | translate }}
    <sup *ngIf="required"> *</sup>
  </label>

  <div
    #customDropzone
    (dragend)="onDropZoneEnd($event)"
    (dragenter)="onDropZoneEnter($event)"
    (dragleave)="onDropZoneLeave($event)"
    (drop)="onDropZoneEnd($event)"
    *ngIf="isDropZoneCustom"
    [kendoUploadDropZone]="'customZone'"
    [ngClass]="{ 'hover-mouse-down': isDropZoneHover }"
    class="dropzone-custom"
  >
    <div class="text-center" style="width: 100%">
      <div *ngIf="!isFileSelectOk && !isFileSelectFailed">
        <div class="pb-1">
          <i class="fas fa-cloud-upload-alt"></i>
        </div>
        <div class="title">
          <a (click)="onFileSelectClick()" href="javascript:void(0);">{{ 'FORM.CHOOSE-FILE' | translate }}</a
          ><span>{{ 'FORM.DRAG-HERE' | translate }}</span>
        </div>
        <div class="subtitle pt-2">{{ dropFileSelectSubtitle | translate }}</div>
      </div>

      <!-- <div *ngIf="isUploadInProgress">
        <div class="pb-1">
          <i class="fas fa-cloud-upload-alt"></i>
        </div>
        <div class="title"><span>Uploading file:</span> {{ fileName }}</div>
        <kendo-progressbar [label]="false" [min]="0" [max]="100" style="width:50%;" [value]="uploadProgressValue"></kendo-progressbar>
      </div> -->

      <div *ngIf="isFileSelectOk">
        <div class="pb-1">
          <i class="fas fa-file"></i>
        </div>
        <div class="title">
          <span>{{ 'FORM.SELECTED-FILE' | translate }}:</span><span> {{ fileName }}</span>
        </div>
        <div class="subtitle pt-2">
          <span>{{ 'FORM.DRAG-UPLOAD' | translate }} </span
          ><a (click)="onFileSelectClick()" href="javascript:void(0)">{{ 'FORM.CHOOSE-NEW-FILE' | translate }}</a>
        </div>
      </div>

      <div *ngIf="isFileSelectFailed">
        <div class="pb-2">
          <span class="fa-stack">
            <i class="fas fa-cloud-upload-alt fa-stack-1x"></i>
            <i class="fas fa-exclamation-triangle fa-stack-1x"></i>
          </span>
        </div>
        <div class="title">
          <span>{{ 'FORM.FILE-NOT-SUPPORTED' | translate }}:</span><span> {{ fileName }}</span>
        </div>
        <div class="subtitle pt-2">
          <a (click)="onFileSelectClick()" href="javascript:void(0)">{{ 'FORM.SELECT-HERE' | translate }}</a
          ><span> {{ 'FORM.DRAG-ANOTHER' | translate }}</span>
        </div>
      </div>
    </div>
  </div>

  <kendo-fileselect
    #uploadSample
    (remove)="onRemove($event)"
    (select)="fileSelected($event)"
    [accept]="accept"
    [formControlName]="property"
    [id]="controlId"
    [multiple]="multiple"
    [name]="controlId"
    [required]="isRequired"
    [restrictions]="restrictions"
    zoneId="customZone"
  >
  </kendo-fileselect>
  <small class="form-text text-muted"
  ><span>{{ textExplanation | translate }}</span>
  </small>
  <!--Loop through errors-->
  <div *ngIf="showErrors()" class="help-block">
    <app-form-error [error]="formControl!.errors"></app-form-error>
  </div>
</div>
