<div class="mb-3" [formGroup]="form">
  <label [attr.for]="property" *ngIf="label">
    {{label !== ' ' ? label : '&nbsp;' | translate }}
    <span *ngIf="required && label !== ' '"> *</span>
  </label>
  <kendo-dropdownlist [name]="property"
    [disabled]="disabled"
    isRequired="false"
    [formControlName]="property"
    [data]="selectOptions"
    [textField]="withDescription ? 'id' : 'value'"
    [valueField]="'id'"
    [clearButton]="clearButton"
  >
    <ng-template *ngIf="withDescription" kendoMultiSelectItemTemplate let-dataItem>
      <div class="tw-p-0">
        <div class="tw-text-black">{{ dataItem.id }}</div>
        <div class="tw-text-darkGray tw-text-xs">{{ dataItem.value }}</div>
      </div>
    </ng-template>

  </kendo-dropdownlist>
  <!--Loop through errors-->
  <div class="help-block" *ngIf="showErrors()">
    <app-form-error [error]="formControl!.errors "></app-form-error>
  </div>
</div>
