<div class="d-flex">

  <button type="button" class="btn btn-light ps-2 pe-2 me-3" (click)="onRefresh()" [ngbTooltip]="tipContentRefresh">
    <i class="fas fa-sync-alt"></i></button>
  <ng-content></ng-content>
  <div class="ms-auto">
    <app-input-searcher [debounceTimeOut]="700" (insertedValue)="insertedValue($event)" [form]="form"
      [property]="searchProperty" [placeholder]="staticTextService.placeholderSearch"
      [showUseWildcard]="true" [useWildcards]="useWildcards" (toggleWildcards)="doToggleWildcards($event)">
      </app-input-searcher>
  </div>
</div>
<ng-template #tipContentSearch><span>{{ 'GRID.SEARCH-DATA' | translate }}</span></ng-template>
<ng-template #tipContentFilter><span>{{ 'GRID.APPLY-SAVED-STATE' | translate }}</span></ng-template>
<ng-template #tipContentRefresh><span>{{ 'GRID.REFRESH-GRID' | translate }}</span></ng-template>
<ng-template #tipContentExport><span>{{ 'GRID.EXCEL-EXPORT' | translate }}</span></ng-template>


