<div class="d-flex">

  <button type="button" class="btn btn-light pl-2 pr-2 mr-3" (click)="onRefresh()" [ngbTooltip]="tipContentRefresh">
    <i class="fas fa-sync-alt"></i></button>
  <ng-content></ng-content>
  <div class="ml-auto">
    <app-input-searcher [debounceTimeOut]="700" (insertedValue)="insertedValue($event)" [form]="form"
      [property]="searchProperty" [placeholder]="staticTextService.placeholderSearch"
      [showUseWildcard]="true" [useWildcards]="useWildcards" (toggleWildcards)="doToggleWildcards($event)">
      </app-input-searcher>
  </div>
</div>
<ng-template #tipContentSearch><span i18n>Search data</span></ng-template>
<ng-template #tipContentFilter><span i18n>Apply saved state or save new</span></ng-template>
<ng-template #tipContentRefresh><span i18n>Refresh grid</span></ng-template>
<ng-template #tipContentExport><span i18n>Export in excel</span></ng-template>


