<div class="d-flex align-items-center">
  <div *ngIf="!hideEditDelete">
    <button container="body" placement="bottom" [openDelay]="500" triggers="hover" [ngbTooltip]="setToolTip('edit')" 
        type="button" class="btn btn-link text-danger bg-transparent" (click)="editItem(params)"><i class="far fa-pencil"></i></button>
    <button container="body" placement="bottom" [openDelay]="500" triggers="hover" [ngbTooltip]="setToolTip('delete')" 
        type="button" class="btn btn-link text-danger bg-transparent" (click)="deleteItem(params)"><i class="far fa-trash"></i></button>
  </div>
  <div *ngIf="hideEditDelete">
    <button container="body" placement="bottom" [openDelay]="500" triggers="hover" [ngbTooltip]="setToolTip('save')"
        type="button" class="btn btn-link text-danger bg-transparent" (click)="saveItem(params)"><i class="far fa-check"></i></button>
    <button container="body" placement="bottom" [openDelay]="500" triggers="hover" [ngbTooltip]="setToolTip('cancel')"
        type="button" class="btn btn-link text-danger bg-transparent" (click)="cancelItem(params)"><i class="far fa-ban"></i></button>
  </div>
</div>
