<div class="container-fluid pt-3 h-100 border-bottom">
  <form [formGroup]="form">

    <fieldset [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll">
      <app-input-tag label="Status" [property]="statusesProperty" [form]="form"
        [autocompleteItemsAsObjects]="meterUnitStatuses$ | async" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll" i18n-label>
      </app-input-tag>

   <!--   <div class="form-row">
        <div class="col-6">
          <app-select-input label="Read status" [form]="form" [property]="operationProperty"  [selectOptions]="operatorsList$" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll" i18n-label>
          </app-select-input>
        </div>
        <div class="col-3">
          <app-input-numeric [label]="'&nbsp;'" [form]="form" [property]="value1Property" [showSpinners]="false" [decimals]="2" [min]="0" [max]="100"
          [format]="'#.## \\%'" [step]="1" [isReadOnly]="false" [allowShowError]="false"></app-input-numeric>
        </div>
        <div class="col-3" *ngIf="form.get(operationProperty).value != null &&  form.get(operationProperty).value.id === 'In Range'">
          <app-input-numeric [label]="'&nbsp;'" [form]="form" [property]="value2Property" [showSpinners]="false" [decimals]="2" [min]="0" [max]="100"
          [format]="'#.## \\%'" [step]="1" [isReadOnly]="false" [allowShowError]="false"></app-input-numeric>
        </div>
      </div>-->
      <div class="form-row text-danger" *ngIf="!form.valid">
        <div class="col-6"></div>
        <div class="col-6"><i class="far fa-info-circle"></i><span class="small">{{errorValidatorReadStatusComponents()}}</span></div>
      </div>
      <app-select-input label="Vendor" [form]="form" [property]="vendorsProperty" [selectOptions]="meterUnitVendors$ | async" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll" i18n-label>
      </app-select-input>

      <app-input-tag label="Firmware" [allowCustomValues]="true" [property]="firmwareProperty" [form]="form" [autocompleteItemsAsObjects]="firmware$ | async" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll" i18n-label>
      </app-input-tag>

      <app-input-switch label="Show only Meter units with information of child (MBus)" [form]="form" [property]="showOnlyMeterUnitsWithMBusInfoProperty" i18n-label></app-input-switch>

      <app-input-tag label="Disconnector state" [property]="breakerStateProperty" [form]="form" [autocompleteItemsAsObjects]="breakerState$ | async" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll" i18n-label>
      </app-input-tag>

      <app-input-tag label="Tag" [property]="tagsProperty" [form]="form" [autocompleteItemsAsObjects]="meterUnitTags$ | async" [disabled]="gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll" i18n-label>
      </app-input-tag>

      <app-input-switch label="Show Meter Units without template" [form]="form" [property]="showMeterUnitsWithoutTemplateProperty" i18n-label></app-input-switch>
      <app-input-switch label="Show only image ready for activation" [form]="form" [property]="showOnlyImageReadyForActivationProperty" i18n-label></app-input-switch>

    </fieldset>
    <div class="d-flex justify-content-end" *ngIf="!gridSettingsSessionStoreService.getGridSettings(this.sessionNameForGridState).isSelectedAll">
      <button type="button" class="btn btn-link" (click)="clearButtonClicked()"><i class="far fa-times"></i><span i18n>Clear</span></button>
      <button type="submit" class="btn btn-primary bg-primary" (click)="applyButtonClicked()"><i class="far fa-check"></i><span i18n>Apply</span></button>
    </div>
    <br/>
  </form>
</div>
