<app-modal-template (dismiss)="onDismiss()">

  <div modal-header>{{'PLC-METER.TOU-CONFIG-TITLE' | translate }}
    ({{selectedRowsCount}} {{ 'COMMON.SELECTED' | translate }})
  </div>

  <div modal-body>
    <ng-container>
      <app-tou-config-select (rowSelected)="touConfigSelectionChanged($event)"></app-tou-config-select>
      <div class="help-block" *ngIf="noConfig">
        <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{configRequiredText}}</small>
      </div>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn text-secondary" (click)="cancel()">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button type="submit" class="btn btn-primary" (click)="save()">
          <span>{{ 'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

