<kendo-chart class="kendo-chart-column pe-3">
  <kendo-chart-category-axis baseUnit="days">
    <kendo-chart-category-axis-item [title]="{ text: title }" [maxDivisions]="20">
      <kendo-chart-category-axis-item-labels [culture]="culture" [dateFormats]="dateFormats"> </kendo-chart-category-axis-item-labels>
      <kendo-chart-value-axis-item>
        <kendo-chart-value-axis-item-labels> </kendo-chart-value-axis-item-labels>
      </kendo-chart-value-axis-item>
    </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-series>
    <kendo-chart-series-item [data]="formattedEvents" categoryField="timestamp" field="count" type="column">
      <kendo-chart-series-item-tooltip background="#ffffff">
        <ng-template let-dataItem="dataItem">
          <div style="text-align: center">
            <div class="text-black-50 small">
              <ng-container *ngIf="hours">
                {{ dataItem.timestamp | formatDate }}
              </ng-container>
              <ng-container *ngIf="!hours">
                {{ dataItem.timestamp }}
              </ng-container>
            </div>
            <div>{{ dataItem.count }}</div>
          </div>
        </ng-template>
      </kendo-chart-series-item-tooltip>
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>
