<div class="tw-m-10 tw-h-full">

  <div *ngIf="saveError" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong><span>{{ 'FORM.ERROR.DCU-ERROR' | translate }}</span></strong> <br /> {{saveError}}
  </div>

  <app-input-text [form]="form" [property]="nameProperty" label="NAME"></app-input-text>

  <div class="form-row">
    <div class="col-12">
      <app-input-text [form]="form" [property]="idNumberProperty" label="ID">
      </app-input-text>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12">
      <app-select-input [disabled]="true" [form]="form" [property]="vendorProperty"
                        label="VENDOR">
      </app-select-input>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12">
      <app-select-input [disabled]="true" [form]="form" [property]="typeProperty" label="TYPE">
      </app-select-input>
    </div>
  </div>

  <div *ngIf="credentialsVisible">
    <div class="form-row">
      <div class="col-12">
        <app-input-text [form]="form" [property]="userNameProperty" label="USERNAME"></app-input-text>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12">
      <app-input-text [form]="form" [property]="ipProperty" label="IP"></app-input-text>
    </div>
  </div>

  <div class="form-row">
    <div class="col-6">
      <app-input-text [form]="form" [property]="portProperty" label="PORT"></app-input-text>
    </div>
  </div>

  <div (click)="toggle()" aria-controls="collapse" aria-expanded="false" class="gray-color-dark text-normal pt-2"
       data-bs-toggle="collapse"
       data-target="#collapse" type="button">
    {{ 'COMMON.ADVANCED' | translate }}
    <i *ngIf="!opened" class="far fa-angle-down me-2"></i>
    <i *ngIf="opened" class="far fa-angle-up me-2"></i>
  </div>

  <div [ngClass]="opened ? 'show' : ''" class="collapse mt-3" id="collapse">
    <div class="form-row">
      <div class="col-6">
        <app-input-text [form]="form" [property]="externalIdProperty" label="EXTERNAL-ID">
        </app-input-text>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <div class="btn-group dropdown" dropdown>
      <button (click)="saveDcu()" class="btn btn-primary" type="submit">{{ 'BUTTON.SAVE' | translate }}</button>
    </div>
  </div>

</div>





