<app-modal-template (dismiss)="onDismiss()">

  <div modal-header>{{ 'DCU.EDIT-DCU' | translate }}</div>
  
  <div modal-body>
    <ng-container>


      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="saveError">
        <strong><span>{{ 'FORM.ERROR.DCU-ERROR' | translate }}</span></strong> <br /> {{saveError}}
      </div>

      <app-input-text [form]="form" [property]="nameProperty" label="NAME"></app-input-text>

      <div class="form-row">
        <div class="col-12">
          <app-input-text [form]="form" [property]="idNumberProperty" label="ID">
          </app-input-text>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          <app-select-input label="VENDOR" [form]="form" [property]="vendorProperty"
                            [disabled]="true">
          </app-select-input>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          <app-select-input label="TYPE" [form]="form" [property]="typeProperty" [disabled]="true">
          </app-select-input>
        </div>
      </div>

      <div *ngIf="credentialsVisible">
        <div class="form-row">
          <div class="col-6">
            <app-input-text [form]="form" [property]="userNameProperty" label="USERNAME"></app-input-text>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          <app-input-text [form]="form" [property]="ipProperty" label="IP"></app-input-text>
        </div>
        <div class="form-row">
          <div class="col-6">
            <app-input-text [form]="form" [property]="portProperty" label="PORT"></app-input-text>
          </div>
        </div>
      </div>

      <div type="button" data-bs-toggle="collapse" data-target="#collapse" aria-expanded="false"
           class="gray-color-dark text-normal pt-2"
           aria-controls="collapse" (click)="toggle()">
           {{ 'COMMON.ADVANCED' | translate }}
        <i *ngIf="!opened" class="far fa-angle-down me-2"></i>
        <i *ngIf="opened"  class="far fa-angle-up me-2"></i>
      </div>

      <div class="collapse mt-3" id="collapse" [ngClass]="opened ? 'show' : ''">
        <div class="form-row">
          <div class="col-6">
            <app-input-text [form]="form" [property]="externalIdProperty" label="EXTERNAL-ID">
            </app-input-text>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn text-secondary" (click)="cancel()">{{ 'BUTTON.CANCEL' | translate }}</button>
      <div dropdown class="btn-group dropdown">
        <button type="submit" class="btn btn-primary" (click)="saveDcu()">{{ 'BUTTON.SAVE' | translate }}</button>
      </div>
    </div>
  </div>
</app-modal-template>

