/******************************************************************
  Global styles for both custom sidebar and topbar compoments
******************************************************************/

.sidebar,
.topbar {
  .nav-item {

    // Customize Dropdown Arrows for Navbar
    &.dropdown {
      .dropdown-toggle {
        &::after {
          width: 1rem;
          text-align: center;
          float: right;
          vertical-align: 0;
          border: 0;
          font-weight: 900;
          font-family: unicons;
          content: '\e82d';
        }
      }

      &.show {
        .dropdown-toggle::after {
          content: '\e831';
        }
      }
    }
  }
}