.navbar {
  height: $topbar-base-height;

  margin-left: $sidebar-base-width;
  transition: margin-left .3s;
  width: auto;

  &.menu-collapsed {
    margin-left: $sidebar-collapsed-width !important;
  }

  .page-name {
    padding: 0;
    font-size: $h2-font-size;
    line-height: 1;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        i {
          font-size: $font-size-base * 1.8;
        }

        &.user {
          background-color: $navbar-dark-color;
          width: calc((#{$nav-link-padding-y} * 2) + (#{$font-size-base} * 1.5));
          color: rgba($body-color, .7);

          &:hover {
            background-color: $navbar-dark-hover-color;
            color: $body-color;
          }
        }
      }
    }
  }
}

.navbar.navbar-dark {
  background: $navbar-dark-bg;

  .page-name {
    color: $navbar-dark-brand-color;
  }

  .breadcrumb {
    .breadcrumb-item {
      color: $navbar-dark-color;

      &.active {
        color: $navbar-dark-color;
      }

      a {
        color: $navbar-dark-color;

        @include hover-focus {
          color: $navbar-dark-hover-color;
        }

        &.disabled {
          color: $navbar-dark-disabled-color;
        }
      }
    }
  }
}