/******************************************************************
  Sidebar
******************************************************************/

.sidebar {
  width: $sidebar-base-width;
  height: 100%;
  z-index: 200;
  position: fixed;
  overflow: visible;
  margin-left: $sidebar-fixed-width;
  padding-top: $spacer;

  .nav-item {
    position: relative;

    &:last-child {
      margin-bottom: $spacer;
    }

    .nav-link {
      text-align: left;
      padding: 0.5 * $spacer $spacer;
      width: $sidebar-base-width;
    }

   /* &.active {
      .nav-link {
        font-weight: $font-weight-bold;
      }
    }*/
  }

  hr.sidebar-divider {
    margin: 0 1rem 1rem;
  }

  .sidebar-version {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: fade-out($white, 0.5);
  }

  #sidebarToggle {
    left: calc(#{$sidebar-base-width} - (#{$input-height}/2));
    z-index: 201;
    display: block;

  }

  /************ Sidebar Toggled ****************/

  &.toggled {
    overflow: hidden;
    width: $sidebar-collapsed-width !important;
  }


  /************ Sidebar Color Variants ****************/

  // Sidebar Dark
  &.sidebar-dark {

    hr.sidebar-divider {
      border-top: 1px solid fade-out($white, 0.85);
    }

    .nav-item {
      
      .nav-link {
        color: $gray-400;

        &:hover {
          color: $gray-100;
          background-color: lighten($color: $gray-800, $amount: 5%);
          width:  calc(#{$sidebar-base-width} - 25px);          
        }
      }

      &.dropdown .arrow {
        position: absolute;
        top: 2px;
        right: 20px;
        line-height: 35px;
        font-size: 17px;
      }

      ul.dropdown-menu {
        margin-top: -5px; 
        padding-bottom: 10px;
        padding-left: 20px !important;  
        border: 0;      
        .nav-item {
          padding: 5px 0;

          > a {            
            padding: 0;
          }
        }
      }
      &.open {
        > a {
          color: $gray-400;

          .icon-holder {
            color: $gray-400;
          }

          > .arrow {
            @include transform(rotate(90deg));
          }
        }

        > .dropdown-menu {
          display: block;
          
          .dropdown-menu {
            padding-left: 20px;	
          }

          .arrow {
            line-height: 25px;
          }
        }
      }
  
      &.active {
        border-right: 3px solid $primary;
        > a {
          font-weight: $font-weight-bold;
          color:  $gray-200;
        }
        

        ul.dropdown-menu{         
          font-weight: none; 
          .nav-item.active > a {
            color: $gray-200;
            font-weight: $font-weight-bold;
          }
        }
      }
      
      a {
        color: $gray-700;
        @include transition(all 0.3s ease); 
        
        &:hover,
        &:focus {
          text-decoration: none;
          color: $gray-400;

          .icon-holder {
            color: $gray-400;
          }
        }
      }
      
    }

    // Color the sidebar toggler
    #sidebarToggle {
      color: $white;
      background-color: $gray-700;

      &:hover {
        background-color: $gray-900;
      }
    }
  }
}

/************* ANTIMATIONS *************/
.sidebar {
  transition: width .35s ease;
}

