.navbar-fixed-left {
  width: $sidebar-fixed-width;   
  position: fixed;
  border-radius: 0;
  min-height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(9,121,61,1) 0%, rgba(0,254,255,1) 100%);
}
.nav-fixed {        
  
 .text-rotate {          
    position: relative;  
    bottom: 10vh;
    color: white;  
    -webkit-transform-origin: left;
    -webkit-transform:rotate(-90deg) translateX(-100%);
  }
}

.sidebar-bottom-icons {
  position: absolute;  
  bottom: 10px;
  margin-left: 0px;  

  .i-circle {
    background-color: white;
    border-radius: 50%;
    border: 1x solid grey;
    padding:10px;
  }
}

.sidebar-icons {
  color: white;  
  color: fade-out($white, 0.1);
}
.sidebar-icons-top  {  
  position: absolute;  
  top: 40px;
  margin-left: 0px;      
}