/******************************************************************
  Sidebar
******************************************************************/

.sidebar {
  width: $sidebar-base-width;
  height: 100%;
  z-index: 200;
  position: fixed;
  overflow: visible;
  margin-left: $sidebar-fixed-width;
  padding-top: $spacer;

  .nav-item {
    position: relative;

    &:last-child {
      margin-bottom: $spacer;
    }

    .nav-link {
      text-align: left;
      padding: 0.5 * $spacer $spacer;
      width: $sidebar-base-width;
    }

    &.active {
      .nav-link {
        font-weight: $font-weight-bold;
      }
    }
  }

  hr.sidebar-divider {
    margin: 0 1rem 1rem;
  }

  .sidebar-version {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: fade-out($white, 0.5);
  }

  #sidebarToggle {
    left: calc(#{$sidebar-base-width} - (#{$input-height}/2));
    z-index: 201;
    display: block;

  }

  /************ Sidebar Toggled ****************/

  &.toggled {
    overflow: hidden;
    width: $sidebar-collapsed-width !important;
  }


  /************ Sidebar Color Variants ****************/

  // Sidebar Dark
  &.sidebar-dark {

    hr.sidebar-divider {
      border-top: 1px solid fade-out($white, 0.85);
    }

    .nav-item {
      .nav-link {
        color: $gray-400;

        &.active {
          color: $primary;
        }

        &:hover {
          color: $gray-100;
          background-color: lighten($color: $gray-800, $amount: 5%);
        }

      }

      &.active {
        .nav-link {
          color: $white;
        }
      }
    }

    // Color the sidebar toggler
    #sidebarToggle {
      color: $white;
      background-color: $gray-700;

      &:hover {
        background-color: $gray-900;
      }
    }
  }
}

/************* ANTIMATIONS *************/
.sidebar {
  transition: width .35s ease;
}

