/******************************************************************
  Sidebar
******************************************************************/

.sidebar {
  width: $sidebar-base-width;
  height: 100%;
  z-index: 200;
  position: fixed;
  overflow: visible;
  margin-left: $sidebar-fixed-width;
  padding-top: $spacer;

  .nav-item {
    position: relative;

    &:last-child {
      margin-bottom: $spacer;
    }

    .nav-link {
      text-align: left;
      padding: 0.5 * $spacer $spacer;
      width: $sidebar-base-width;
    }

    &.active {
      .nav-link {
        font-weight: $font-weight-bold;
      }
    }
  }

  hr.sidebar-divider {
    margin: 0 1rem 1rem;
  }

  .sidebar-version {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: fade-out($white, 0.5);
  }

  #sidebarToggle {
    width: $input-height;
    height: $input-height;
    text-align: center;
    cursor: pointer;
    color: $white;
    left: calc(#{$sidebar-base-width} - (#{$input-height}/2));
    z-index: 201;
    display: block;
    
    /*&.toggled {
      visibility: hidden;
      transition: visibility 0.8s ease-out;

      &.mouseover {
        visibility: visible;
      }
    }*/

    &:focus {
      outline: none;
    }
  }

  /************ Sidebar Toggled ****************/

  &.toggled {
    overflow: hidden;
    width: $sidebar-collapsed-width !important;

    .nav-item {

      .nav-link {

      }
    }
  }


  /************ Sidebar Color Variants ****************/

  // Sidebar Dark
  &.sidebar-dark {

    hr.sidebar-divider {
      border-top: 1px solid fade-out($white, 0.85);
    }

    .nav-item {
      .nav-link {
        color: $gray-400;

        &.active {
          color: $primary;
        }

        &:hover {
          color: $gray-100;
          background-color: lighten($color: $gray-800, $amount: 5%);
        }

      }

      &.active {
        .nav-link {
          color: $white;
        }
      }
    }

    // Color the sidebar toggler
    #sidebarToggle {
      background-color: $gray-700;
    }
  }
}

/************* ANTIMATIONS *************/
.sidebar {
  transition: width .35s ease;

  .nav-items.ng-enter {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition-delay: 5s;
  }

  .nav-items.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition-delay: 5s;
  }
  
  .nav-items.ng-enter,
  .nav-items.ng-leave.ng-leave-active {
    opacity: 0;
  }
  
  .nav-items.ng-leave,
  .nav-items.ng-enter.ng-enter-active {
    opacity: 1;
  }
}

