.navbar-fixed-left {
  width: $sidebar-fixed-width;
  position: fixed;
  border-radius: 0;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, $navbar-fixed-background-light 0%, $navbar-fixed-background-dark 100%);
}

.nav-fixed {

  .text-rotate {
    position: relative;
    bottom: 10vh;
    padding-top: 1rem;
    color: white;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
  }
}

.sidebar-bottom-icons {
  position: absolute;
  bottom: 1rem;
  left: 0.3rem;

  .i-circle {
    background-color: white;
    border-radius: 50%;
    border: 1x solid grey;
    padding: 10px;
  }
}

.sidebar-icons {
  color: fade-out($white, 0.1);
}

.sidebar-icons-top {
  position: absolute;
  top: 1rem;
  left: 0.3rem;
}

.uil {
  font-size: 2rem;

  &.icon-small {
    position: relative;
    left: -7px;
    top: -3px;
    font-size: 1.7rem;
  }
}

.sidebar-icons-user {
  color: white;
  color: fade-out($white, 0.1);
  margin-left: 0.2rem;
  font-size: 2.5rem;
}

.user-label {
  padding-top: 0.5rem;
  padding-left: 0.1rem;
}

.nav-fixed-title-font {
  font-family: 'Roboto Slab';
  font-weight: bold;
  color: $white;
}
