<app-modal-template (dismiss)="onDismiss()">

  <div [innerHTML]="'PLC-METER.SECURITY.RE-KEY-METER' | translate:{selectedRowsCount: selectedRowsCount}"
       modal-header></div>

  <div modal-body>
    <ng-container>
      <form [formGroup]="form" class="form-horizontal">
        <div *ngIf="!showSecondConfirm" class="form-row">
          <div class="col-12">
            <span>{{ 'PLC-METER.SECURITY.SELECT-KEY-TYPE' | translate }}</span>
          </div>
          <div class="col-12 pt-2">
            <app-select-input (selectedValueChanged)="keyTypeChanged($event)" [form]="form" [property]="keyTypeProperty"
                              [selectOptions]="keyTypes" label="KEY-TYPE">
            </app-select-input>
          </div>

          <div class="col-12 pt-2">
            <div class="alert alert-danger" role="alert">
              <i class="fas fa-exclamation-triangle me-2"></i>
              <span>{{ 'PLC-METER.SECURITY.METER-INOPERABLE-WARNING' | translate }}</span>
            </div>
          </div>
        </div>
        <div *ngIf="showSecondConfirm" class="form-row pt-2 text-center">
          <div class="col-12">
            <div class="card-body">
              <div
                [innerHTML]="'PLC-METER.SECURITY.RE-KEY-CONFIRM' | translate:{selectedKeyType: selectedKeyType.value}"
                class="small-title tw-pb-2"></div>
              <div class="text-secondary">{{ 'PLC-METER.SECURITY.METER-INOPERABLE-WARNING' | translate }}</div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button (click)="onDismiss()" class="btn text-secondary" type="button">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button (click)="onConfirm()" class="btn btn-primary" type="submit">
          <span>{{ 'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>
