<div [ngClass]="singleCalendar ? 'tw-pr-8' : ''" class="datetime-range-picker">

  <ngx-daterangepicker-material
    #datePicker
    (datesUpdated)="datesUpdated($event)"
    (rangeClicked)="updateRange($event)"
    [alwaysShowCalendars]="true"
    [autoApply]="true"
    [linkedCalendars]="!singleCalendar"
    [locale]="locale"
    [minDate]="minDate"
    [ranges]="!singleCalendar ? defaultRanges : null"
    [singleDatePicker]="singleCalendar"
    class="date-range-picker">
  </ngx-daterangepicker-material>

  <div [ngClass]="!singleCalendar ? 'padding-left' : 'tw-pl-10'">
    <div *ngIf="withTime" class="set-time d-flex align-items-center">
      <div class="text-normal-bold">
        {{ 'FORM.SET-TIME' | translate }}
      </div>

      <div class="tw-pl-4">
        <app-input-text (inputTextBlurValue)="setTime()" [form]="form" [inputType]="'time'" [property]="'startTime'"
                        label="Start-time"></app-input-text>
      </div>

      <div *ngIf="!singleCalendar" class="tw-pl-3">
        <app-input-text (inputTextBlurValue)="setTime()" [form]="form" [inputType]="'time'" [property]="'endTime'"
                        label="End-time"></app-input-text>
      </div>
    </div>

    <div *ngIf="!singleCalendar"
         class="buttons-container d-flex justify-content-between align-items-center padding-top-32">
      <button (click)="clear()" class="btn text-secondary"
              type="button">{{ 'BUTTON.CLEAR-SELECTION' | translate }}</button>
      <button (click)="close()" [disabled]="!form.valid" class="btn btn-primary"
              type="submit">{{ 'BUTTON.APPLY' | translate }}</button>
    </div>
  </div>
</div>
