<app-modal-template (dismiss)="onDismiss()">

  <div [innerHTML]="'PLC-METER.SET-DISPLAY-SETTINGS-SELECTED' | translate:{selectedRowsCount: selectedRowsCount}"
       modal-header></div>

  <div modal-body>
    <ng-container>
      <form [formGroup]="form" class="form-horizontal">

        <div class="alert alert-warning" role="alert">
          <i class="fas fa-exclamation-triangle me-2"></i>
          <span>{{ 'PLC-METER.CHANGE-REGISTER' | translate }}</span>
        </div>

        <div *ngIf="!dataLoaded || (groupList$?.length > 0)">
          <div class="form-row">
            <div class="col-12">
              <app-select-input (selectedValueChanged)="selectedValueChanged($event)" [disabled]="false" [form]="form"
                                [property]="groupListProperty"
                                [selectOptions]="groupList$" label="REGISTER-GROUP">
              </app-select-input>
            </div>
          </div>

          <div class="form-row mt-1">
            <div class="col-6">
              <div (dragover)="gridDragOver($event)" (drop)="gridDrop($event,'left')">
                <ag-grid-angular #agGrid
                                 (firstDataRendered)="onFirstDataRendered($event)" (gridReady)="onLeftGridReady($event)"
                                 [columnDefs]="columnDefsLeft"
                                 [modules]="modules"
                                 [pagination]="false"
                                 [rowData]="registerListLeft"
                                 [suppressMoveWhenRowDragging]="true"
                                 class="ag-theme-epoint scrollable draggable"
                                 style="width: 98%; height: 350px; overflow:auto;"
                                 suppressRowClickSelection="true"
                ></ag-grid-angular>
                <div *ngIf="noRegisterSelected && selectedGroup" class="help-block">
                  <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{requiredText}}</small>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div (dragover)="gridDragOver($event)" (drop)="gridDrop($event,'right')">
                <ag-grid-angular #agGrid2
                                 (firstDataRendered)="onFirstDataRendered($event)"
                                 (gridReady)="onRightGridReady($event)"
                                 [columnDefs]="columnDefsRight"
                                 [modules]="modules"
                                 [overlayNoRowsTemplate]="noRowsTemplate"
                                 [pagination]="false"
                                 [rowData]="registerListRight"
                                 class="ag-theme-epoint scrollable draggable"
                                 style="width: 98%; height: 350px; overflow:auto;"
                                 suppressRowClickSelection="true"
                ></ag-grid-angular>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="dataLoaded && (!groupList$ || groupList$.length === 0)" class="card text-center border-0 mt-5 mb-5">
          <div class="card-header border-0 bg-transparent">
            <i class="far fa-empty-set display-2 text-light font-weight-bold"></i>
          </div>
          <div class="card-body">
            <div class="small-title tw-pb-2">{{ 'COMMON.NO-DATA-FOUND' | translate }}</div>
            <div class="text-secondary">{{ 'PLC-METER.CHECK-DEVICE-TEMPLATE' | translate }}</div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button (click)="onDismiss()" class="btn text-secondary" type="button">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button (click)="onConfirm()" [disabled]="!dataLoaded || !groupList$ || groupList$.length === 0 || loading"
                class="btn btn-primary"
                type="submit">
          <span>{{ 'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

