<div class="form-group" [formGroup]="form">
  <label [attr.for]="property" *ngIf="label">
    {{label}}
    <span *ngIf="required"> *</span>
  </label>
  <kendo-combobox [name]="property"
    [disabled]="disabled"
    class="form-control"
    isRequired="false"
    [formControlName]="property"
    [data]="selectOptions"
    [defaultItem]="selection"
    [textField]="'value'"
    [valueField]="'id'"
    (valueChange)="valueChange($event)"
    (selectionChange)="selectionChange($event)"
  >
  </kendo-combobox>
  <!--Loop through errors-->
  <div class="help-block" *ngIf="showErrors()">
    <app-form-error [error]="formControl!.errors "></app-form-error>
  </div>
</div>
