<div [formGroup]="form" class="mb-3">
  <label *ngIf="label" [attr.for]="property">
    <ng-container *ngIf="label !== ' '; else blank">
      {{ 'FORM.' + label.toUpperCase() | translate }}
    </ng-container>
    <ng-template #blank>
      {{ '&nbsp;' }}
    </ng-template>
    <span *ngIf="required && label !== ' '"> *</span>
  </label>

  <kendo-combobox (click)="click()"
                  (selectionChange)="selectionChange($event)"
                  (valueChange)="valueChange($event)"
                  [attr.disabled]="disabled ? '' : null"
                  [clearButton]="clearButton"
                  [data]="selectOptions"
                  [defaultItem]="selection"
                  [disabled]="disabled"
                  [formControlName]="property"
                  [name]="property"
                  [textField]="'value'"
                  [valueField]="'id'"
                  class="form-control p-0"
                  isRequired="false"
  >
  </kendo-combobox>
  <!--Loop through errors-->
  <div *ngIf="showErrors()" class="help-block">
    <app-form-error [error]="formControl!.errors "></app-form-error>
  </div>
</div>
