<div class="tou-units-layout">
  <div class="tou-units-content">
    <app-add-time-unit
      [days]="daysCodeList"
      [title]="'TOU-CONFIG.WEEK-TABLES'"
      [type]="timeUnitEnum"
      [units]="weeks.units"
      (hasUnsavedChanges)="unsavedChangesEvent($event)"
    >
    </app-add-time-unit>
  </div>

  <div class="tou-units-buttons-container">
    <div class="tou-units-buttons tw-justify-end">
      <button (click)="previousStep()" class="btn btn-primary">< {{ 'TOU-CONFIG.DAY-TABLES' | translate }}</button>
      <button (click)="nextStep()" [disabled]="!isValid() || invalidForm" class="btn btn-primary">
        {{ 'TOU-CONFIG.SEASON-TABLES' | translate }} >
      </button>
    </div>
  </div>
</div>
