<app-modal-template (dismiss)="onDismiss()">

  <div modal-header>{{ 'DCU.FW-UPLOAD-UPGRADE' | translate }} ({{selectedRowsCount}} {{'COMMON.SELECTED' | translate }})</div>

  <div modal-body>
    <ng-container>
      <div class="form-row">
        <div class="col-12 expand-dropzone modal-dropzone">
          <app-file-select label="Image" [form]="form" [property]="imageProperty"
            [multiple]="false"
            [allowedExtensions]="allowedExt"
            [acceptExtensions]="acceptExtensions"
            (selectEvent)="selected($event)"
            [dropFileSelectSubtitle]="uploadDropSubtitle">
          ></app-file-select>
        </div>
      </div>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn text-secondary" (click)="cancel()">
        <span>{{'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown" *ngIf="!activate">
        <button type="submit" class="btn btn-primary" (click)="upgrade()">
          <span>{{'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
      <div class="btn-group dropdown" *ngIf="activate">
        <button type="submit" class="btn btn-primary" (click)="activateMU()">
          <span>{{'BUTTON.ACTIVATE' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

