<div [style.width.px]="addWidth()" class="sticky-header transparent-gray-line">

  <div [style.width.px]="addWidth()" class="tw-inline-flex tw-justify-between tw-items-center">

    <app-page-title
      [title]="'JOB.JOBS-OVERVIEW'"
      class="tw-h-28 tw-mt-10 tw--m-5"
    >
    </app-page-title>

    <div class="tw-mt-10 tw-pt-10 tw-pr-5">
      <div class="tw-inline-flex tw-justify-end">
        <div *ngIf="hasUserAddPermissions()" class="dropdown mr-3">
          <button (click)="addJob()" [disabled]="loading" class="btn btn-primary"> <!--btn-round-->
            <span>{{'COMMON.ADD' | translate }}</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row tw-pt-20">
  <app-data-table
    (linkClickedEvent)="linkClicked($event)"
    (pageChangedEvent)="loadMoreData($event)"
    (refreshButtonClickEvent)="getData()"
    (rowActionClickedEvent)="rowActionsClicked($event)"
    (searchInputChangedEvent)="searchData($event)"
    (switchClickedEvent)="jobStatusChanged($event)"
    (wildCardsEnabledEvent)="toggleWildcards($event)"
    *ngIf="gridData && areSettingsLoaded"
    [clientSideSearchAndFilters]="false"
    [excelExport]="true"
    [excelFileName]="'jobs_overview'"
    [fetchData]="true"
    [gridColumns]="jobColumns"
    [gridData]="gridData"
    [loading]="loading"
    [noDataText]="'COMMON.NO-DATA-FOUND'"
    [pageNumber]="pageNumber"
    [pageSize]="pageSize"
    [pageable]="true"
    [rowActions]="jobListRowActionsConfiguration"
    [rowHeight]="null"
    [scrollable]="'scrollable'"
    [searchText]="searchText"
    [showClearFiltersButton]="false"
    [showColumnChooser]="false"
    [sort]="sort"
    [sortable]="true"
    [tableHeight]="calculateHeight()"
    [totalCount]="totalCount"
    [wildCardsEnabled]="useWildcards"
    [wildCardsSearch]="true"
    [withFiltersIcon]="false"
    [withRefreshButton]="true"
    [withRowSelection]="false"
    [withSearch]="true">
  </app-data-table>
</div>
