<div #container class="form-group" [formGroup]="form" [ngClass]="{'has-error': showErrors()}">
  <label [attr.for]="property" *ngIf="label">
    {{label}}
    <span *ngIf="required"> *</span>
  </label>
  <kendo-multiselect
    [disabled]="disabled"
    class="form-control"
    [name]="property"
    [allowCustom]="allowCustomValues"
    [data]="autocompleteItemsAsObjectsWithFake"
    [formControlName]="property"
    [textField]="'value'"
    [valueField]="'fakeId'"
    [valueNormalizer]="valueNormalizer"
    (valueChange)="doValueChange($event)"
    (removeTag)="removeTag($event)"
    [valuePrimitive]="false"
  ></kendo-multiselect>
  <div class="help-block" *ngIf="showErrors()" class="error">
    <app-form-error [error]="formControl!.errors"></app-form-error>
  </div>
</div>
