<div #container [formGroup]="form" [ngClass]="{'has-error': showErrors()}" class="mb-3">
  <label *ngIf="label" [attr.for]="property">
    {{ 'FORM.' + label.toUpperCase()  | translate }}
    <span *ngIf="required"> *</span>
  </label>
  <label *ngIf="translationKey" [attr.for]="property">
    {{ translationKey.toUpperCase()  | translate }}
    <span *ngIf="required"> *</span>
  </label>
  <kendo-multiselect
    (removeTag)="removeTag($event)"
    (valueChange)="doValueChange($event)"
    [allowCustom]="allowCustomValues"
    [data]="autocompleteItemsAsObjectsWithFake"
    [disabled]="disabled"
    [formControlName]="property"
    [name]="property"
    [textField]="'value'"
    [valueField]="'fakeId'"
    [valueNormalizer]="valueNormalizer"
    [valuePrimitive]="false"
    class="form-control p-0"
  ></kendo-multiselect>
  <div *ngIf="showErrors()" class="help-block" class="error">
    <app-form-error [error]="formControl!.errors"></app-form-error>
  </div>
</div>
