.rounded-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 16px;
  height: 34px;
  border-radius: 32px;
  margin-bottom: 8px;
  color: #6f7072;
  border: 1px solid #a9abaf;

  &.selected {
    @apply tw-bg-primary;
    @apply tw-border-primary;
    @apply tw-border;
    @apply tw-border-solid;
    border-radius: 32px;
    color: #ffffff;
  }
}

.rounded-button-outlined {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 16px;
  height: 34px;

  @apply tw-border-primary;
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-text-primary;
  border-radius: 32px;
}

.save-update-btn {
  @apply tw-pointer-events-auto;
}
