.rounded-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 16px;
  height: 34px;
  border-radius: 32px;
  color: #6F7072;
  border: 1px solid #A9ABAF;

  // todo primary, variables ..
  &.violet {
    @apply tw-bg-primary;
    @apply tw-border-primary;
    @apply tw-border;
    @apply tw-border-solid;
    border-radius: 32px;
    color: #FFFFFF;
  }
}

.rounded-button-outlined {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 16px;
  height: 34px;


  @apply tw-border-primary;
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-text-primary;
  border-radius: 32px;
  // color: #981D78;
}

.days ::ng-deep .grid-row-button {
  bottom: -3px !important; // todo check
}
