<h3>{{ 'JOB.ALARM-NOTIFICATION.SUBTITLE' | translate }}</h3>
<div>{{ 'JOB.ALARM-NOTIFICATION.TEXT' | translate }}</div>

<div *ngIf="form">
  <div class="form-row mt-4">
    <div class="col-3">
      <app-input-switch [form]="form" [property]="isAlarmIdActiveProperty" label="Alarm-ID" (valueChanged)="inputSwitchChange($event, alarmIdsProperty)">
      </app-input-switch>
    </div>
    <div class="col-9">
      <app-input-tag [property]="alarmIdsProperty" [form]="form" [allowCustomValues]="true" [selected]="rules?.alarmIds">
      </app-input-tag>
    </div>
  </div>
  <div class="form-row">
    <div class="col-3">
      <app-input-switch [form]="form" [property]="isSeverityActiveProperty" label="Severity" (valueChanged)="inputSwitchChange($event, severitiesProperty)">
      </app-input-switch>
    </div>
    <div class="col-9">
      <app-input-tag [property]="severitiesProperty" [form]="form" [autocompleteItemsAsObjects]="severities" [selected]="rules?.severities">
        </app-input-tag>
    </div>
  </div>
  <div class="form-row">
    <div class="col-3">
      <app-input-switch [form]="form" [property]="isProtocolActiveProperty" label="Protocol" (valueChanged)="inputSwitchChange($event, protocolsProperty)">
      </app-input-switch>
    </div>
    <div class="col-9">
      <app-input-tag [property]="protocolsProperty" [form]="form" [autocompleteItemsAsObjects]="protocols" [selected]="rules?.protocols">
        </app-input-tag>
    </div>
  </div>
  <div class="form-row">
    <div class="col-3">
      <app-input-switch [form]="form" [property]="isManufacturerActiveProperty" label="Manufacturer" (valueChanged)="inputSwitchChange($event, manufacturersProperty)">
      </app-input-switch>
    </div>
    <div class="col-9">
      <app-input-tag [property]="manufacturersProperty" [form]="form" [autocompleteItemsAsObjects]="manufacturers" [selected]="rules?.manufacturers">
        </app-input-tag>
    </div>
  </div>
  <div class="form-row">
    <div class="col-3">
      <app-input-switch [form]="form" [property]="isSourceActiveProperty" label="Source" (valueChanged)="inputSwitchChange($event, sourcesProperty)">
      </app-input-switch>
    </div>
    <div class="col-9">
      <app-input-tag [property]="sourcesProperty" [form]="form" [autocompleteItemsAsObjects]="sources" [selected]="rules?.sources">
        </app-input-tag>
    </div>
  </div>
  <div class="form-row">
    <div class="col-3">
      {{'JOB.ALARM-NOTIFICATION.NOTIFICATION-TYPE' | translate }}
    </div>
    <div class="col-9">
      <app-select-input [property]="notificationTypeProperty" [form]="form" [selectOptions]="notificationTypes" (selectedValueChanged)="onNotificationTypeChanged($event)">
        </app-select-input>
    </div>
    <div class="help-block pb-2" *ngIf="noRuleActive">
      <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{'JOB.ALARM-NOTIFICATION.ONE-RULE' | translate }}</small>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12">
      <app-input-tag *ngIf="form?.controls?.notificationType?.value?.id == 1" [property]="addressesProperty" [form]="form" [allowCustomValues]="true" [translationKey]="'JOB.ALARM-NOTIFICATION.SEND-NOTIFICATIONS-TO'"
          [disabled]="false" [selected]="rules?.addresses">
      </app-input-tag>
      <app-input-text *ngIf="form?.controls?.notificationType?.value?.id == 2" [form]="form" [property]="webhookAddressProperty" label="Address">
      </app-input-text>
    </div>
  </div>
</div>
