<app-modal-template (dismiss)="onDismiss()">

  <div *ngIf="step === 0" modal-header i18n>Create a new job</div>
  <div *ngIf="step > 0" modal-header>{{title}} {{getSelectedRowsCount()}}</div>

  <div modal-body>
    <ng-container>
    <div id="step0" *ngIf="step === 0">
      <div class="form-row">
        <div class="col-12">
          <span i18n>To continue, select a job type, please.</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 add-job-grid">
          <div class="row">
            <div class="col-4 h-100 p-0 card-container {{addJobForUser.cssClasses}}" *ngFor="let addJobForUser of addJobsForUser">
              <app-add-job
                [jobParams]="addJobForUser"
                (addJob)="addJob($event)"
              ></app-add-job>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="step1" *ngIf="step === 1 && form">
      <div class="form-row">
        <div class="col-12">
          <app-input-switch [form]="form" [property]="activeProperty" i18n-label label="Active">
          </app-input-switch>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <app-input-text [form]="form" [property]="descriptionProperty" i18n-label label="Description">
          </app-input-text>
        </div>
      </div>
      <div class="form-row">
        <div class="col-4">
          <app-datetime-picker [form]="form" [property]="startAtProperty" i18n-label label="Start at">
          </app-datetime-picker>
        </div>
        <div class="col-4">
          <app-datetime-picker [form]="form" [property]="endAtProperty" i18n-label label="End at">
          </app-datetime-picker>
        </div>
      </div>

      <div class="form-row" *ngIf="showForLast()">
        <div class="col-2">
          <app-input-text [form]="form" [property]="intervalRangeProperty" i18n-label label="For-last">
          </app-input-text>
        </div>
        <div class="col-3">
          <app-select-input [form]="form" [property]="timeUnitProperty" label=" " [selectOptions]="jobsTimeUnits" [disabled]="false">
          </app-select-input>
        </div>
      </div>

      <app-cron-schedule [cronExpression]="cronExpression" #cronSchedule></app-cron-schedule>

      <div *ngIf="showIecPush()">
        <div class="form-row pt-3">
          <div class="col-12">
            <app-input-switch [form]="form" [property]="iecPushEnabledProperty" i18n-label label="Push to IEC">
            </app-input-switch>
          </div>
        </div>
      </div>
      <div *ngIf="showPointer()">
        <div class="form-row pt-3">
          <div class="col-12">
            <app-input-switch [form]="form" [property]="usePointerProperty" i18n-label label="Read from last value">
            </app-input-switch>
          </div>
        </div>
      </div>
    </div>
    <div id="step2" *ngIf="step === 2 && showRegisters">
      <app-registers-select (onSelectionChanged)="registerSelectionChanged($event)" [selectedJobId]="selectedJobId" [deviceFiltersAndSearch]="deviceFiltersAndSearch"></app-registers-select>
      <div class="help-block" *ngIf="noRegisters">
        <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{requiredText}}</small>
      </div>
    </div>

    <div id="step2" *ngIf="step === 2 && showConcentrators">
      <app-data-concentrator-units-select (onSelectionChanged)="dcuSelectionChanged($event)" [selectedJobId]="selectedJobId" [deviceFiltersAndSearch]="deviceFiltersAndSearch"></app-data-concentrator-units-select>
      <div class="help-block" *ngIf="noDCUs">
        <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{requiredText}}</small>
      </div>
    </div>

    <div id="step2" *ngIf="step === 2 && showAlarmNotification">
      <app-alarm-notification-rules #notificationRules [filter]="filter" [addresses]="addresses"
        [protocols]="protocols"
        [manufacturers]="manufacturers"
        [severities]="severities"
        [sources]="sources">
      </app-alarm-notification-rules>
    </div>

    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-link" (click)="cancel()" i18n>Cancel</button>
      <button *ngIf="step > 1" type="button" class="btn btn-secondary" (click)="next(-1)">
        <span i18n>Previous</span></button>

      <div dropdown class="btn-group dropdown" *ngIf="step === 2">
        <button type="submit" class="btn btn-primary" (click)="save(false)" i18n>Save</button>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" [ngbTooltip]="tipMoreSave">
        </button>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="save(true)" i18n>Save and Add another</a>
        </div>
      </div>

      <button *ngIf="step === 1" type="button" class="btn btn-primary" (click)="next(1)">
        <span i18n>Next</span></button>
    </div>
  </div>
</app-modal-template>

<ng-template #tipMoreSave><span i18n>More Save options</span></ng-template>
