<app-modal-template (dismiss)="onDismiss()">

  <div modal-header i18n>Reading Jobs</div>

  <div modal-body>
    <ng-container>

      <app-input-radio i18n-label label="Frequency" [form]="form" [property]="readOptionsProperty"
        name="readOptionsRadio" [options]="readOptions" box="'true'" (change)="changeReadOptionId()"
        (refresh)="changeReadOptionId()">
      </app-input-radio>

      <div class="form-row" *ngIf="show_nHours() || show_nMinutes()">
        <div class="col-3" *ngIf="show_nHours()">
          <div class="d-flex">
            <app-input-text [form]="form" [property]="nHoursProperty" i18n-label label="Read every" labelRight="hour(s)">
            </app-input-text>
          </div>
        </div>
        <div class="col-3" *ngIf="show_nHours() || show_nMinutes()">
          <div class="d-flex">
            <app-input-text [form]="form" [property]="nMinutesProperty" i18n-label label="Read every" labelRight="minute(s)" *ngIf="show_nMinutes()">
            </app-input-text>
            <app-input-text [form]="form" [property]="nMinutesProperty" i18n-label label=" " labelRight="minute(s)" *ngIf="show_nHours()">
            </app-input-text>
          </div>
        </div>
      </div>

      <app-input-multiselect *ngIf="showWeekDays()" i18n-label label="Week days" [form]="form"
        [property]="weekDaysProperty" name="weekDaysMultiselect" [options]="weekDays" [inline]="true">
      </app-input-multiselect>

      <div class="form-group" *ngIf="showMonthDays()">
        <label><span i18n>Days in month</span><sup> *</sup></label>
        <div class="d-flex flex-wrap">
          <button class="btn m-1 btn-days" [ngClass]="isDayInMonthSelected(i) ? 'btn-primary' : 'btn-outline-primary'"
            *ngFor="let item of [].constructor(31); let i = index" (click)="onDayInMonthClick(i)">
            <span>{{i+1}}</span>
          </button>
        </div>
        <div class="help-block" *ngIf="showMonthDays() && noMonthDays">
          <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{registersRequiredText}}</small>
        </div>
      </div>

      <div class="form-row" *ngIf="showTime()">
        <div class="col-2">
          <app-time-picker [form]="form" [property]="timeProperty" i18n-label label="Time">
          </app-time-picker>
        </div>
      </div>
      <div class="form-row" *ngIf="showDateTime()">
        <div class="col-3">
          <app-datetime-picker [form]="form" [property]="timeProperty" i18n-label label="Date time">
          </app-datetime-picker>
        </div>
      </div>
      <div class="form-row" *ngIf="showIec()">
        <div class="col-5">
          <app-input-switch [form]="form" [property]="iecProperty" i18n-label label="IEC">
          </app-input-switch>
        </div>
      </div>
      <div class="form-row">
        <div class="col-5">
          <app-input-switch [form]="form" [property]="usePointerProperty" i18n-label label="Use pointers">
          </app-input-switch>
        </div>
      </div>
      <div class="form-row">
        <div class="col-2">
          <app-input-text [form]="form" [property]="intervalRangeProperty" i18n-label label="For last">
          </app-input-text>
        </div>
        <div class="col-3">
          <app-select-input [form]="form" [property]="timeUnitProperty" label="_" [selectOptions]="jobsTimeUnits$ | async" [disabled]="false">
          </app-select-input>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <app-input-text [form]="form" [property]="descriptionProperty" i18n-label label="Description">
          </app-input-text>
        </div>
      </div>

      <hr>
      <app-registers-select (onSelectionChanged)="registerSelectionChanged($event)" [selectedJobId]="selectedJobId" [deviceFiltersAndSearch]="deviceFiltersAndSearch"></app-registers-select>
      <div class="help-block" *ngIf="noRegisters">
        <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{registersRequiredText}}</small>
      </div>


    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-link" (click)="cancel()"> <i class="far fa-times"></i><span
          i18n>Cancel</span></button>
      <div class="btn-group dropdown">
        <button type="submit" class="btn btn-primary" (click)="save(false)"><i class="far fa-save"></i><span
            i18n>Save</span></button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" [ngbTooltip]="tipMoreSave">
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="save(true)" i18n>Save and Add another</a>
        </div>
      </div>
    </div>
  </div>
</app-modal-template>

<ng-template #tipMoreSave><span i18n>More Save options</span></ng-template>
