.ag-theme-epoint {
  @include ag-theme-alpine(( // Colour of text and icons in primary UI elements like menus
      foreground-color: $body-color,

      // Colour of text in grid cells
      data-color: $body-color,

      alpine-active-color: $primary,

      // Colour of text and icons in UI elements that need to be slightly less emphasised to avoid distracting attention from data
      secondary-foreground-color: $text-muted,

      // Colour of text and icons in the header
      header-foreground-color: $gray-600,

      // Color of elements that can't be interacted with because they are in a disabled state
      disabled-foreground-color: $text-muted,

      // Background colour of the grid
      background-color: $white,

      // Background colour for all headers, including the grid header, panels etc
      header-background-color: $white,

      // Background colour for second level headings within UI components
      subheader-background-color: $gray-200,

      // Background for areas of the interface that contain UI controls, like tool panels and the chart settings menu
      control-panel-background-color: $white,

      // Background color of selected rows in the grid and in dropdown menus
      selected-row-background-color: $gray-200, //rgba($primary, .1),

      // Background colour applied to every other row or null to use background-color for all rows
      odd-row-background-color: transparent,

      // Background color when hovering over rows in the grid and in dropdown menus, or null for no rollover effect (note - if you want a rollover on one but not the other, set to null and use CSS to achieve the rollover)
      row-hover-color: $gray-200, //rgba($primary, .1),

      // Color to draw around selected cell ranges
      range-selection-border-color: transparent,

      // Background colour of selected cell ranges. Choosing a semi-transparent color (opacity of 0.1 to 0.5 works well) will ensure that it looks good when multiple ranges overlap.
      range-selection-background-color: transparent,

      // Background colour to apply to a cell range when it is copied from or pasted into
      range-selection-highlight-color: transparent,

      // Colour and thickness of the border drawn under selected tabs, including menus and tool panels
      selected-tab-underline-color: transparent,
      selected-tab-underline-width: 0,
      selected-tab-underline-transition-speed: null,

      // Background colour for cells that provide categories to the current range chart
      range-selection-chart-category-background-color: rgba($primary, 0.1),

      // Background colour for cells that provide data to the current range chart
      range-selection-chart-background-color: rgba($info, 0.1),

      // Rollover colour for header cells
      header-cell-hover-background-color: null,

      // Colour applied to header cells when the column is being dragged to a new position
      header-cell-moving-background-color: rgba($primary, 0.1),

      // Colour to apply when a cell value changes and enableCellChangeFlash is enabled
      value-change-value-highlight-background-color: rgba($primary, 0.5),

      // Colours to apply when a value increases or decreases in an agAnimateShowChangeCellRenderer cell
      value-change-delta-up-color: $success,
      value-change-delta-down-color: $danger,

      // Colour for the "chip" that repersents a column that has been dragged onto a drop zone
      chip-background-color: null,

      //
      // BORDERS
      //

      // Draw borders around most UI elements
      borders: true,

      // Draw borders around sidebar tabs so that the active tab appears connected to the current tool panel
      borders-side-button: null,

      border-radius: 0,

      // Colour for border around major UI components like the grid itself, headers, footers and tool panels
      border-color: $border-color,

      // Colour for borders used to separate elements within a major UI component
      secondary-border-color: $border-color,

      // Colour of the border between grid rows, or null to display no border
      row-border-color: $border-color,

      // Default border for cells. This can be used to specify the border-style and border-color properties e.g. `dashed red` but the border-width is fixed at 1px.
      cell-horizontal-border: none transparent,

      // Separator between columns in the header. Displays between all header cells For best UX, use either this or header-column-resize-handle but not both
      header-column-separator: false,
      header-column-separator-height: 100%,
      header-column-separator-width: 1px,
      header-column-separator-color: ag-derived(border-color, $opacity: 0.5),

      // Visible marker for resizeable columns. Displays in the same position as the column separator, but only when the column is resizeable. For best UX, use either this or header-column-separator but not both
      header-column-resize-handle: false,
      header-column-resize-handle-height: 50%,
      header-column-resize-handle-width: 1px,
      header-column-resize-handle-color: ag-derived(border-color, $opacity: 0.5),

      //
      // INPUTS
      //

      // Suppress styling of native widgets: . If you want to style these yourself, set this to true. If you only want to disable styling for some kinds of input, you can set this to true and e.g. @include ag-native-inputs((checkbox: false)) which will emit styles for all kinds of input except checkboxes.
      suppress-native-widget-styling: false,

      input-disabled-background-color: null,
      input-border-color: $border-color,

      checkbox-background-color: null,
      checkbox-border-radius: $border-radius,
      checkbox-checked-color: $primary,
      checkbox-unchecked-color: $border-color,
      checkbox-indeterminate-color: $border-color,

      input-focus-box-shadow: null,
      input-focus-border-color: null,

      //
      // SIZING / PADDING / SPACING
      //

      // grid-size is the main control for affecting how tightly data and UI elements are packed together. All padding and spacing in the grid is defined as a multiple of grid-size, so increasing it will make most components larger by increasing their internal white space while leaving the size of text and icons unchanged.
      grid-size: 5px,

      // The size of square icons and icon-buttons
      icon-size: $icon-size,

      // Fonts
      font-family: $font-family-base,
      font-size: $font-size-base,

      /*
      // The name of the font family you're using
      icon-font-family: $ag-theme-base-icon-font-family, // this var exported by ag-theme-base-font-vars.scss

      // A URI (data: URI or web URL) to load the icon font from. NOTE: if your icon font is already loaded in the app's HTML page, set this to null to avoid embedding unnecessry font data in the compiled theme.
      icons-data: $ag-theme-base-icons-data, // this var exported by ag-theme-base-font-vars.scss
      icons-font-codes: $ag-theme-base-icons-font-codes, // this var exported by ag-theme-base-font-vars.scss

      // cards are elements that float above the UI
      card-radius: ag-derived(border-radius),

      // the default card shadow applies to simple cards like column drag indicators and text editors
      card-shadow: none,
      */

      // override the shadow for popups - cards that contain complex UI, like menus and charts
      popup-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),

      icon-font-family: "Font Awesome 5 Pro",

      icons-data: null, // prevent default font frombeing embedded

      icons-font-codes: ("aggregation": "\f247",
        "arrows": "\f0b2",
        "asc": "\f062",
        "cancel": "\f057",
        "chart": "\f080",
        "checkbox-checked": "\f14a",
        "checkbox-indeterminate": "\f068",
        "checkbox-unchecked": "\f0c8",
        "color-picker": "\f576",
        "columns": "\f0db",
        "contracted": "\f146",
        "copy": "\f0c5",
        "cross": "\f00d",
        "desc": "\f063",
        "expanded": "\f0fe",
        "eye-slash": "\f070",
        "eye": "\f06e",
        "filter": "\f0b0",
        "first": "\f100",
        "grip": "\f58e",
        "group": "\f5fd",
        "last": "\f101",
        "left": "\f060",
        "linked": "\f0c1",
        "loading": "\f110",
        "maximize": "\f2d0",
        "menu": "\f0c9",
        "minimize": "\f2d1",
        "next": "\f105",
        "none": "\f338",
        "not-allowed": "\f05e",
        "paste": "\f0ea",
        "pin": "\f276",
        "pivot": "\f074",
        "previous": "\f104",
        "radio-button-off": "\f111",
        "radio-button-on": "\f058",
        "right": "\f061",
        "save": "\f0c7",
        "small-down": "\f107",
        "small-left": "\f104",
        "small-right": "\f105",
        "small-up": "\f106",
        "tick": "\f00c",
        "tree-closed": "\f105",
        "tree-indeterminate": "\f068",
        "tree-open": "\f107",
        "unlinked": "\f127",
      )));

  .ag-icon {
    font-weight: 400;
  }

  .ag-sort-descending-icon {
    margin-right: 0.5rem;
  }

  .ag-row {
    font-size: $font-size-base;
    z-index: 1;
  }

  .actions-button-cell {
    .btn-group-sm {
      display: none;
    }
  }

  .ag-row.ag-row-focus {
    z-index: 2;
  }

  .ag-row-hover {
    .actions-button-cell {
      display: block;
      color: $primary !important;
      z-index: 900;
      text-align: right;
     // border: none !important;
      .btn-group-sm {
        display: block;
      }
    }
  }
  
  .ag-root,
  .ag-root-wrapper,
  .ag-body-viewport,
  .ag-body-viewport-wrapper {
      overflow: visible !important;
  }

  .ag-header-row {
    font-size: $font-size-sm;
  }

  .ag-root-wrapper {
    border-width: $border-width 0 0 0;
    border-radius: 0;
  }

  .ag-paging-panel {
    border-top: none;
    font-size: $font-size-sm;
    color: $gray-600;
    flex-wrap: wrap;
    margin-left: 200px;

    &.ag-disabled {
      color: $text-muted;
    }
  }

  button {
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    text-align: center;
    white-space: $btn-white-space;
    padding: $btn-padding-y $btn-padding-x;
    font-size: $btn-font-size;
    line-height: $btn-line-height;
  }

  .ag-cell-value {
    width: 100%;
  }

  .ag-column-select-column-drag-handle {
    display: none;
  }

  .ag-column-panel-column-select {
    border-top: none;
  }

  /*.ag-side-bar {

    .ag-side-button {

      .ag-side-button-button {
        color: $gray-700 !important;
        font-weight: $font-weight-bold !important;
        font-size: $font-size-base;

        &:hover {
          color: $primary !important;
        }

        .ag-side-button-icon-wrapper {
          margin-bottom: $spacer/2;

          .ag-icon {
            font-size: $icon-size;
          }
        }
      }

      &.ag-selected {
        .ag-side-button-button {
          color: $primary !important;
        }
      }
    }

    .ag-tool-panel-wrapper {
      width: 400px;
      //border-right: none !important;

      >*:not(.ag-tool-panel-horizontal-resize) {
        width: 100%;
      }
    }
  }*/

  .ag-column-select-list {
    padding: $spacer;
  }

  .ag-column-select-header {
    padding: 0 $spacer;
  }

  .ag-checkbox-input-wrapper {
    border-color: $border-color;
    color: transparent;
    background-color: $white;
    @include border-radius($checkbox-radius);
    width: $checkbox-size;
    height: $checkbox-size;
    line-height: initial;
    border-width: $checkbox-border-width;
    border-style: solid;
    outline: 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-appearance: none;
    cursor: pointer;

    // Checkmark
    &::after {
      content: "";
    }

    &.ag-checked {
      border-color: $checkbox-checked-border;
      background-color: $checkbox-checked-bg;

      &::after {
        color: $white;
        content: "\e118";
        width: $checkbox-size;
        height: $checkbox-size;
        line-height: $checkbox-size;
        font-size: $checkbox-icon-size;
        font-family: "WebComponentsIcons", monospace;
        overflow: hidden;
        position: absolute;
        left: 2px;
      }
    }
  }

  .ag-cell-inline-editing {
    height: 100%;
    border: none !important;
  }
}
