.txt-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}

.rcorners3 {
  border-radius: 5px;
  padding: 1px;
}

.dx-pager .dx-page, .dx-pager .dx-page-size {
  font-size: 12px;
  border-radius: 2px;
}


.dx-pager .dx-page-sizes .dx-selection, .dx-pager .dx-pages .dx-selection {
  background-color: $primary;
}
