<div *ngIf="data" [style.width.px]="addWidth()" class="sticky-header">

  <div [style.width.px]="addWidth()" class="tw-inline-flex tw-justify-between tw-items-center">

    <app-page-title
      [backButton]="true"
      [routerUrl]="routerLinkUrl"
      [state]="data.deviceState"
      [subtitle]="'PROTOCOL.' + data.protocolType?.toUpperCase()"
      [title]="data.name ? data.name : data.serialNumber"
      [stateToolTipMessage]="stateToolTipMessage"
      class="tw-h-36 tw-mt-10 tw--m-5"
    >
    </app-page-title>

    <div *ngIf="data" class="tw-mt-10 tw-pr-5">

      <div *ngIf="data.deviceState.toLowerCase() !== DeviceStateEnum.INSTALLING.toString().toLowerCase()">
        <div [permissions]="[
        permissionMuManage,
        permissionManageJobs,
        permissionAssignTemplates,
        permissionFwUpgrade,
        permissionFwUpgrade,
        permissionDisconnectorConnect,
        permissionDisconnectorDisconnect,
        permissionDisconnectorGetState,
        permissionDisconnectorSetMode,
        permissionCiiActivate,
        permissionCiiDeactivate,
        permissionCiiState,
        permissionRelaysConnect,
        permissionRelaysDisconnect,
        permissionRelaysState,
        permissionRelaysSetMode
      ]" appHideIfAllPermissionsUnauthorized class="btn-group" dropdown>
          <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" dropdownToggle
                  id="operationsDropDown"
                  type="button"><span>{{ 'OPERATION.OPERATIONS' | translate }}</span></button>
          <div (click)="$event.stopPropagation();" *dropdownMenu class="dropdown-menu">
            <div [permission]="permissionManageJobs" appHideIfPermissionUnauthorized class="dropdown-item">
              <div class="dropdown-submenu">
                <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
                   href="javascript:void(0)"><span>{{ 'PLC-METER.JOB' | translate }}</span></a>
                <div class="dropdown-menu">
                  <div (click)="onScheduleReadJobs()" [permission]="permissionManageJobs"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'PLC-METER.CREATE-NEW-READING' | translate }}</span></a>
                  </div>
                  <div (click)="onScheduleMeterTimeSyncJobs()" [permission]="permissionManageJobs"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'PLC-METER.CREATE-NEW-TIME-SYNC' | translate }}</span></a>
                  </div>
                  <div (click)="onJobsAssignExisting()" [permission]="permissionManageJobs"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'PLC-METER.ASSIGN-EXISTING' | translate }}</span></a>
                  </div>
                </div>
              </div>
            </div>


            <div [permission]="permissionFwUpgrade" appHideIfPermissionUnauthorized class="dropdown-item">
              <div class="dropdown-submenu">
                <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
                   href="javascript:void(0)"><span>{{ 'PLC-METER.TEMPLATES' | translate }}</span></a>
                <div class="dropdown-menu">
                  <div (click)="onJobsTemplates()" [permission]="permissionAssignTemplates"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'PLC-METER.ASSIGN-CONFIGURATION' | translate }}</span></a>
                  </div>
                  <div (click)="onUpdateShortNames()"
                       [permission]="permissionUpdateShortNames"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'PLC-METER.UPDATE-SHORT-NAMES' | translate }}</span></a>
                  </div>
                  <!-- TODO -->
                </div>
              </div>
            </div>

            <!--            <div [permission]="permissionAssignTemplates" appHideIfPermissionUnauthorized>-->
            <!--              <a (click)="onJobsTemplates()" class="dropdown-item custom-hover-display"-->
            <!--                 href="javascript:void(0)"><span>{{ 'PLC-METER.TEMPLATES' | translate }}</span></a>-->
            <!--            </div>-->
            <!--            -->


            <div [permissionsAbove]="[permissionManageJobs, permissionAssignTemplates]"
                 [permissionsBelow]="[permissionFwUpgrade]"
                 appHideDividerIfPermissionsUnauthorized
                 class="dropdown-divider"></div>

            <div [permission]="permissionFwUpgrade" appHideIfPermissionUnauthorized class="dropdown-item">
              <div class="dropdown-submenu">
                <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
                   href="javascript:void(0)"><span>{{ 'PLC-METER.FW-UPGRADE-TITLE' | translate }}</span></a>
                <div class="dropdown-menu">
                  <div (click)="onUpgrade()" [permission]="permissionFwUpgrade" appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'PLC-METER.UPLOAD-IMAGE' | translate }}</span></a>
                  </div>
                  <div (click)="onActivateUpgrade()" [permission]="permissionFwUpgrade" appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'PLC-METER.ACTIVATE-IMAGE' | translate }}</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div [permissionsAbove]="[permissionFwUpgrade]" [permissionsBelow]="[permissionDisconnectorConnect,
                                 permissionDisconnectorDisconnect,
                                 permissionDisconnectorGetState,
                                 permissionDisconnectorSetMode,
                                 permissionCiiActivate,
                                 permissionCiiDeactivate,
                                 permissionCiiState,
                                 permissionRelaysConnect,
                                 permissionRelaysDisconnect,
                                 permissionRelaysState,
                                 permissionRelaysSetMode]"
                 appHideDividerIfPermissionsUnauthorized
                 class="dropdown-divider"></div>
            <div
              [permissions]="[permissionDisconnectorConnect, permissionDisconnectorDisconnect, permissionDisconnectorGetState, permissionDisconnectorSetMode]"
              appHideIfAllPermissionsUnauthorized
              class="dropdown-item">
              <div class="dropdown-submenu">
                <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
                   href="javascript:void(0)"><span>{{ 'PLC-METER.BREAKER.BREAKER' | translate }}</span></a>
                <div class="dropdown-menu">
                  <div (click)="onConnect()" [permission]="permissionDisconnectorConnect"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'COMMON.CONNECT' | translate }}</span></a>
                  </div>
                  <div (click)="onDisconnect()" [permission]="permissionDisconnectorDisconnect"
                       appHideIfPermissionUnauthorized class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'COMMON.DISCONNECT' | translate }}</span></a>
                  </div>
                  <div (click)="onDisconnectorStatus()" [permission]="permissionDisconnectorGetState"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'COMMON.STATE' | translate }}</span></a>
                  </div>
                  <div (click)="onDisconnectorMode()" [permission]="permissionDisconnectorSetMode"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'COMMON.MODE' | translate }}</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div [permissions]="[permissionCiiActivate, permissionCiiDeactivate, permissionCiiState]"
                 appHideIfAllPermissionsUnauthorized
                 class="dropdown-item">
              <div class="dropdown-submenu">
                <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
                   href="javascript:void(0)"><span>{{ 'COMMON.CII' | translate }}</span></a>
                <div class="dropdown-menu">
                  <div (click)="onCiiActivate()" [permission]="permissionCiiActivate" appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'COMMON.ACTIVATE' | translate }}</span></a>
                  </div>
                  <div (click)="onCiiDeactivate()" [permission]="permissionCiiDeactivate"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'COMMON.DEACTIVATE' | translate }}</span></a>
                  </div>
                  <div (click)="onCiiState()" [permission]="permissionCiiState" appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'COMMON.STATE' | translate }}</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              [permissions]="[permissionRelaysConnect, permissionRelaysDisconnect, permissionRelaysState, permissionRelaysSetMode]"
              appHideIfAllPermissionsUnauthorized
              class="dropdown-item">
              <div class="dropdown-submenu">
                <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
                   href="javascript:void(0)"><span>{{ 'COMMON.RELAYS' | translate }}</span></a>
                <div class="dropdown-menu">
                  <div (click)="onRelaysConnect()" [permission]="permissionRelaysConnect"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'COMMON.CONNECT' | translate }}</span></a>
                  </div>
                  <div (click)="onRelaysDisconnect()" [permission]="permissionRelaysDisconnect"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'COMMON.DISCONNECT' | translate }}</span></a>
                  </div>
                  <div (click)="onRelaysState()" [permission]="permissionRelaysState" appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'COMMON.STATE' | translate }}</span></a>
                  </div>
                  <div (click)="onRelaysSetMode()" [permission]="permissionRelaysSetMode"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'COMMON.MODE' | translate }}</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div [permissionsAbove]="[permissionDisconnectorConnect,
                                 permissionDisconnectorDisconnect,
                                 permissionDisconnectorGetState,
                                 permissionDisconnectorSetMode,
                                 permissionCiiActivate,
                                 permissionCiiDeactivate,
                                 permissionCiiState,
                                 permissionRelaysConnect,
                                 permissionRelaysDisconnect,
                                 permissionRelaysState,
                                 permissionRelaysSetMode]" [permissionsBelow]="[permissionTouUpload]"
                 appHideDividerIfPermissionsUnauthorized
                 class="dropdown-divider"></div>

            <div [permission]="permissionTouUpload" appHideIfPermissionUnauthorized href="javascript:void(0)">
              <a (click)="onTou()"
                 class="dropdown-item custom-hover-display"><span>{{ 'PLC-METER.TOU-UPLOAD' | translate }}</span></a>
            </div>
            <div [permissionsAbove]="[permissionTouUpload]" [permissionsBelow]="[permissionSetLimiter,
                                permissionSetMonitor,
                                permissionClearFF,
                                permissionSetDisplay,
                                permissionClearAlarms]"
                 appHideDividerIfPermissionsUnauthorized
                 class="dropdown-divider"></div>

            <div [permission]="permissionSyncTime" appHideIfPermissionUnauthorized>
              <a (click)="onSyncTime()" class="dropdown-item custom-hover-display"
                 href="javascript:void(0)"><span>{{ 'COMMON.SYNCHRONIZE-TIME' | translate }}</span></a>
            </div>

            <div [permissions]="[permissionSetLimiter, permissionReadMeter]" appHideIfAllPermissionsUnauthorized
                 class="dropdown-item">
              <div class="dropdown-submenu">
                <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
                   href="javascript:void(0)"><span>{{ 'COMMON.LIMITER' | translate }}</span></a>
                <div class="dropdown-menu">
                  <div (click)="onSetLimiter()" [permission]="permissionSetLimiter" appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'PLC-METER.SET-THRESHOLDS' | translate }}</span></a>
                  </div>
                  <div (click)="onReadLimiterThreshold()" [permission]="permissionReadMeter"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'PLC-METER.READ-THRESHOLDS' | translate }}</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div [permissions]="[permissionSetMonitor, permissionReadMeter]" appHideIfAllPermissionsUnauthorized
                 class="dropdown-item">
              <div class="dropdown-submenu">
                <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
                   href="javascript:void(0)"><span>{{ 'COMMON.MONITOR' | translate }}</span></a>
                <div class="dropdown-menu">
                  <div (click)="onSetMonitor()" [permission]="permissionSetMonitor" appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'PLC-METER.SET-THRESHOLDS' | translate }}</span></a>
                  </div>
                  <div (click)="onReadMonitorThreshold()" [permission]="permissionReadMeter"
                       appHideIfPermissionUnauthorized
                       class="dropdown-item">
                    <a href="javascript:void(0)"><span>{{ 'PLC-METER.READ-THRESHOLDS' | translate }}</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div [permission]="permissionClearFF" appHideIfPermissionUnauthorized>
              <a (click)="onClearFF()" class="dropdown-item custom-hover-display"
                 href="javascript:void(0)"><span>{{ 'PLC-METER.CLEAR-FF' | translate }}</span></a>
            </div>
            <div [permission]="permissionSetDisplay" appHideIfPermissionUnauthorized>
              <a (click)="onSetDisplaySettings()" class="dropdown-item custom-hover-display"
                 href="javascript:void(0)"><span>{{ 'PLC-METER.SET-DISPLAY-SETTINGS-TITLE' | translate }}</span></a>
            </div>
            <div [permission]="permissionClearAlarms" appHideIfPermissionUnauthorized>
              <a (click)="onClearAlarms()" class="dropdown-item custom-hover-display gray-light-line"
                 href="javascript:void(0)"><span>{{ 'PLC-METER.CLEAR-ALARMS' | translate }}</span></a>
            </div>
            <div [permission]="permissionReadMeter" appHideIfPermissionUnauthorized>
              <a (click)="onReadMeter()" class="dropdown-item custom-hover-display item-padding gray-light-line"
                 href="javascript:void(0)">
                <span>{{ 'COMMON.READ-METER' | translate }}</span></a>
            </div>
            <div [permission]="permissionMuManage" appHideIfPermissionUnauthorized>
              <a (click)="onDelete()" class="dropdown-item custom-hover-display item-padding"
                 href="javascript:void(0)">
                <span>{{ 'COMMON.DELETE' | translate }}</span></a>
            </div>

            <div [permission]="permissionMuManage" appHideIfPermissionUnauthorized>
              <a (click)="onEnable()" class="dropdown-item custom-hover-display item-padding"
                 href="javascript:void(0)">
                <span>{{ 'COMMON.ENABLE-METER' | translate }}</span></a>
            </div>

            <div [permission]="permissionMuManage" appHideIfPermissionUnauthorized>
              <a (click)="onDisable()" class="dropdown-item custom-hover-display item-padding"
                 href="javascript:void(0)">
                <span>{{ 'COMMON.DISABLE-METER' | translate }}</span></a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="data" class="tw-py-10 meter-units-tabs">

  <app-slide-out-component (closeButtonClickedEvent)="closeSlideOut()"
                           (confirmButtonClickedEvent)="update()"
                           [loading]="loadingMetadata || loading"
                           [title]="basicDetails ? 'COMMON.BASIC-DETAILS' : 'COMMON.COMMUNICATION-DETAILS'"
                           [visible]="openEdit">

    <app-edit-meter-unit-form [basicDetails]="basicDetails"
                              [data]="data"
                              [plcDevice]="isPlcDevice">
    </app-edit-meter-unit-form>
  </app-slide-out-component>

  <app-slide-out-component (closeButtonClickedEvent)="closeExtraDetails()"
                           (confirmButtonClickedEvent)="closeExtraDetails()"
                           [hideCloseButton]="true"
                           [primaryButtonText]="'BUTTON.CLOSE'"
                           [title]="deviceMetadata?.length > 0 ? 'COMMON.EDIT-EXTRA-DETAILS' : 'COMMON.ADD-EXTRA-DETAILS'"
                           [visible]="extraDetailsVisible">

    <div>
      <app-extra-details [deviceId]="deviceId" [slideOutOpen]="extraDetailsVisible"></app-extra-details>
    </div>
  </app-slide-out-component>


  <kendo-tabstrip [keepTabContent]="false" class="tw-pt-10 meters-tab">
    <kendo-tabstrip-tab [selected]="true"
                        title="{{ 'COMMON.OVERVIEW' | translate }}">
      <ng-template kendoTabContent>

        <div class="tw-py-10">
          <div class="tw-grid tw-grid-cols-1 xl:tw-grid-cols-2 3xl:tw-grid-cols-3 tw-gap-6">

            <app-card-item (buttonClickEvent)="editButtonClicked(true)"
                           [buttonIconName]="'edit-icon'"
                           [buttonLabel]="isEditVisible() ? 'BUTTON.EDIT' : ''"
                           [form]="detailsForm"
                           [paginationLimit]="6"
                           [showMoreButton]="true"
                           [title]="'COMMON.DETAILS'">
            </app-card-item>

            <app-card-item (buttonClickEvent)="editCustomProperties()"
                           [buttonIconName]="'edit-icon'"
                           [buttonLabel]="deviceMetadata?.length > 0 ? 'BUTTON.EDIT' : null"
                           [keyValueData]="deviceMetadata"
                           [keyValueFields]="['property', 'value']"
                           [loading]="loadingMetadata"
                           [paginationLimit]="7"
                           [showMoreButton]="deviceMetadata?.length > 7"
                           [title]="'COMMON.EXTRA-DETAILS'">
              <div>
                <div *ngIf="deviceMetadata?.length === 0 && !loadingMetadata"
                     class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-full tw-p-10">
                  <div class="tw-rounded-full tw-h-28 tw-w-28">
                    <div
                      class="
              tw-flex tw-flex-col tw-justify-center tw-items-center tw-rounded-full tw-h-20 tw-w-20
              relative-position
              tw-bg-lightestGray
            "
                    >
                      <img [src]="'assets/images/icons/no-details.svg'" class="tw-h-7" />
                    </div>
                  </div>
                  <div class="tw-font-bold tw-text-black tw-text-xl tw-mt-6">
                    {{ 'COMMON.NO-EXTRA-DETAILS' | translate }}
                  </div>
                  <button (click)="editCustomProperties()"
                          class="btn btn text-secondary btn-outline tw-mt-8 tw-border tw-border-primary">
                    + {{ 'BUTTON.ADD-NEW' | translate }}
                  </button>
                </div>
              </div>

            </app-card-item>

            <app-card-item (buttonClickEvent)="editButtonClicked(false)"
                           [buttonIconName]="'edit-icon'"
                           [buttonLabel]="isEditVisible() ? 'BUTTON.EDIT' : ''"
                           [form]="communicationForm"
                           [showMoreButton]="false"
                           [title]="'COMMON.COMMUNICATION-MODULE'">
            </app-card-item>

            <app-card-item [title]="'PLC-METER.TRANSFORMER-RATIO'">

              <div class="app-transformer-card-row tw-border-lightGray tw-border-b tw-border-solid">
                <div class="tw-text-darkGray tw-text-sm">
                  {{ 'PLC-METER.CURRENT-RATIO' | translate }}:
                </div>
                <div>
                  <div class="tw-text-black tw-text-sm tw-flex tw-justify-end">
                    1
                  </div>
                  <div class="transformer-gray-text tw-text-xs tw-inline-flex tw-m-1">
                    <img [src]="'assets/images/icons/calendar-icon-small.svg'"
                         class="tw-pr-2" />  {{ 'COMMON.VALID-FROM' | translate }}: 1.1.2000 00:00
                  </div>
                </div>
              </div>

              <div class="app-transformer-card-row">
                <div class="tw-text-darkGray tw-text-sm">
                  {{ 'PLC-METER.VOLTAGE-RATIO' | translate }}:
                </div>
                <div>
                  <div class="tw-text-black tw-text-sm tw-flex tw-justify-end">
                    1
                  </div>
                  <div class="transformer-gray-text tw-text-xs tw-inline-flex tw-m-1">
                    <img [src]="'assets/images/icons/calendar-icon-small.svg'"
                         class="tw-pr-2" />  {{ 'COMMON.VALID-FROM' | translate }}: 1.1.2000 00:00
                  </div>
                </div>
              </div>
            </app-card-item>
            <app-active-job-card-item [deviceId]="deviceId"></app-active-job-card-item>

          </div>

        </div>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab *ngIf="templateDto" title="{{ 'COMMON.CONFIGURATION' | translate }}">
      <ng-template kendoTabContent>
        <div class="tw-py-10">
          <app-json-viewer [objectToRender]="templateDto" [depth]="1"></app-json-viewer>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>
