<div class="row">
  <div class="col-4 ng-star-inserted">

    <div class="form-group" *ngIf="!editMode">
      <button class="btn btn-primary" (click)="editMeterUnit()">
        <i class="far fa-edit"></i><span i18n>Edit</span>
      </button>
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" id="operationsDropDown"
          data-toggle="dropdown"><span i18n>Operations</span></button>
        <div class="dropdown-menu">

          <button class="dropdown-item" type="button" [disabled]="true"><span i18n>Delete</span></button>

          <button appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUReadJobs"
            class="dropdown-item" type="button" (click)="onScheduleReadJobs()"><span i18n>Jobs</span>
          </button>

          <div class="dropdown-divider"></div>

          <button appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUUpgrade"
            class="dropdown-item" type="button" (click)="onUpgrade()"><span i18n>Upload image</span>
          </button>

          <button appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUUpgrade"
            class="dropdown-item" type="button" (click)="onActivateUpgrade()"><span i18n>Activate image</span>
          </button>

          <div class="dropdown-divider"></div>

          <button appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUConnect"
            class="dropdown-item" type="button" (click)="onConnect()"><span i18n>Connect</span>
          </button>

          <button appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUDisconnect"
            class="dropdown-item" type="button" (click)="onDisconnect()"><span i18n>Disconnect</span>
          </button>

          <button appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUBreakerStatus"
            class="dropdown-item" type="button" (click)="onBreakerStatus()"><span i18n>State</span>
          </button>

          <div class="dropdown-divider"></div>

          <button appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUTOU"
            class="dropdown-item" type="button" (click)="onTou()"><span i18n>TOU Upload</span>
          </button>

          <div class="dropdown-divider"></div>

          <button appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUSetLimiter"
            class="dropdown-item" type="button" (click)="onSetLimiter()"><span i18n>Limiter</span>
          </button>

          <button class="dropdown-item" type="button" [disabled]="true"><span i18n>Display</span></button>
          <button appHideIfActionUnauthorized [functionality]="formFunctionality" [action]="actionMUSetLimiter"
            class="dropdown-item" type="button" (click)="onSetMonitor()"><span i18n>Monitor</span></button>
          <button class="dropdown-item" type="button" [disabled]="true"><span i18n>Clear FF</span></button>
          <button class="dropdown-item" type="button" [disabled]="true"><span i18n>Clear Alarms</span></button>
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="editMode">
      <button type="button" class="btn btn-light" (click)="cancel()" i18n>Cancel</button>
      <button class="btn btn-primary" (click)="saveMeterUnit()">Save</button>
    </div>

    <div class="form-group" *ngIf="data">
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="saveError">
        <strong>Error saving Meter Unit!</strong> <br /> {{saveError}}
      </div>

      <div class="form-group">
        <div class="form-row mb-4">
          <div class="col" *ngIf="!editMode">
            <div><label i18n>Name</label></div>
            <div><span>{{form.get(nameProperty).value}}</span></div>
          </div>
          <div class="col" *ngIf="editMode">
            <app-input-text [form]="form" [property]="nameProperty" i18n-label label="Name">
            </app-input-text>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col" *ngIf="!editMode">
            <div><label i18n>Id</label></div>
            <div><span>{{form.get(idProperty).value}}</span></div>
          </div>
          <div class="col" *ngIf="editMode">
            <app-input-text [form]="form" [property]="idProperty" i18n-label label="ID">
            </app-input-text>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <div><label i18n>Mac</label></div>
            <div><span>{{form.get(macProperty).value}}</span></div>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <div><label i18n>Systitle</label></div>
            <div><span>{{form.get(systitleProperty).value}}</span></div>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <div><label i18n>State</label></div>
            <div><span>{{form.get(statusProperty).value}}</span></div>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <div><label i18n>Type</label></div>
            <div><span>{{form.get(typeProperty).value}}</span></div>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <div><label i18n>Manufacturer</label></div>
            <div><span>{{form.get(vendorProperty).value}}</span></div>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <div><label i18n>Template</label></div>
            <div><span>{{form.get(templateProperty).value}}</span></div>
          </div>
        </div>
        <div class="form-row mb-4">
          <div class="col" *ngIf="!editMode">
            <div><label i18n>Address</label></div>
            <div><span>{{form.get(addressProperty).value}}</span></div>
          </div>
          <div class="col" *ngIf="editMode">
            <app-input-text [form]="form" [property]="addressProperty" i18n-label label="Address">
            </app-input-text>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
