.dropdown-submenu > .dropdown-menu {
  left: auto;
  right: 130px;
}

.meters-tab {
  ::ng-deep .k-tabstrip-items {
    position: fixed;
    width: 100%;
    z-index: 30;
    top: 10.875rem;
    @apply tw-bg-white;
    margin-left: -2.5rem; // kendoUI tabs full screen line hack
    box-shadow: 0 4px 5px -5px #6F7072;
  }
}

.meters-tab {
  ::ng-deep li#k-tabstrip-tab-0 {
    margin-left: 2.5rem;
  }
}

.app-transformer-card-row {
  display: inline-flex;
  justify-content: space-between;
  @apply tw-h-16;
  padding: 10px 24px 10px 24px;
  width: 100%;
}

.transformer-gray-text {
  color: #B3B7BF;
}

.dropdown-menu {
  min-width: 180px;
}
