<label><span>{{ 'MENU.DCU' | translate }}</span><sup> *</sup></label>

<div class="d-flex justify-content-between align-items-center p-2 grid-actions">
  <div>
    <small *ngIf="selectedAtLeastOneRowOnGrid" class="text-primary"><strong>{{getSelectedRowsCount()}}
      <span>{{'COMMON.ITEMS-SELECTED' | translate }}</span></strong></small>
    <span *ngIf="selectedAtLeastOneRowOnGrid" class="text-secondary tw-mx-1">&middot;</span>
    <small class="text-secondary">{{totalCount}} <span>{{'COMMON.ITEMS-FOUND' | translate }}</span></small>
  </div>
  <app-input-searcher (insertedValue)="searchChange($event)" [debounceTimeOut]="300" [form]="form"
                      [placeholder]="staticTextService.placeholderSearch"
                      [property]="searchProperty"></app-input-searcher>
</div>

<ag-grid-angular #agGrid (columnVisible)="onColumnVisible($event)" (firstDataRendered)="onFirstDataRendered($event)"
                 (gridReady)="onGridReady($event)"
                 (paginationChanged)="onPaginationChange($event)"
                 (rowSelected)="onRowSelect($event)"
                 (selectionChanged)="selectionChanged()"
                 [cacheBlockSize]="pageSize"
                 [cacheOverflowSize]="agGridSettings.cacheOverflowSize"
                 [columnDefs]="columnDefs"
                 [domLayout]=agGridSettings.domLayout
                 [frameworkComponents]="frameworkComponents"
                 [gridOptions]="gridOptions" [icons]="icons"
                 [maxBlocksInCache]="1" [maxConcurrentDatasourceRequests]="agGridSettings.maxConcurrentDatasourceRequests"
                 [modules]="modules"
                 [multiSortKey]=agGridSettings.multiSortKey
                 [paginationPageSize]="pageSize" [pagination]=agGridSettings.pagination
                 [rowData]="rowData"
                 [rowSelection]=agGridSettings.rowSelection
                 [suppressRowClickSelection]=agGridSettings.suppressRowClickSelection
                 class="ag-theme-epoint"
                 style="width: 98%; height: 450px;"
                 suppressSizeToFit="agGridSettings.suppressSizeToFit"
>
</ag-grid-angular>
