<label><span i18n>Data Concentrator Units</span><sup> *</sup></label>

<div class="d-flex justify-content-between align-items-center p-2 grid-actions">
  <div>
    <small class="text-primary" *ngIf="selectedAtLeastOneRowOnGrid"><strong>{{getSelectedRowsCount()}} <span
          i18n>items selected</span></strong></small>
    <span class="text-secondary mx-1" *ngIf="selectedAtLeastOneRowOnGrid">&middot;</span>
    <small class="text-secondary">{{totalCount}} <span i18n>items found</span></small>

  </div>
  <app-input-searcher [debounceTimeOut]="300" (insertedValue)="searchChange($event)" [form]="form"
    [property]="searchProperty" [placeholder]="staticTextService.placeholderSearch"> </app-input-searcher>
</div>

<ag-grid-angular class="ag-theme-epoint" style="width: 98%; height: 450px;" #agGrid
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [modules]="modules"
  (gridReady)="onGridReady($event)"
  (rowSelected)="onRowSelect($event)"
  (firstDataRendered)="onFirstDataRendered($event)"
  [domLayout]=agGridSettings.domLayout
  [frameworkComponents]="frameworkComponents"
  suppressSizeToFit=agGridSettings.suppressSizeToFit
  [pagination]=agGridSettings.pagination [paginationPageSize]="pageSize"
  [multiSortKey]=agGridSettings.multiSortKey [cacheOverflowSize]="agGridSettings.cacheOverflowSize"
  [maxConcurrentDatasourceRequests]="agGridSettings.maxConcurrentDatasourceRequests"
  [cacheBlockSize]="pageSize"
  [maxBlocksInCache]="1" [gridOptions]="gridOptions"
  [suppressRowClickSelection]=agGridSettings.suppressRowClickSelection
  [rowSelection]=agGridSettings.rowSelection
  (selectionChanged)="selectionChanged()"
  (columnVisible)="onColumnVisible($event)"
  (paginationChanged)="onPaginationChange($event)"
  [icons]="icons"
  >
</ag-grid-angular>
