<div class="action-buttons tw-inline-flex">
  <div>
    <div
      [permissions]="[
        permissionManageJobs,
        permissionAssignTemplates,
        permissionFwUpgrade,
        permissionFwUpgrade,
        permissionDisconnectorConnect,
        permissionDisconnectorDisconnect,
        permissionDisconnectorGetState,
        permissionDisconnectorSetMode,
        permissionCiiActivate,
        permissionCiiDeactivate,
        permissionCiiState,
        permissionRelaysConnect,
        permissionRelaysDisconnect,
        permissionRelaysState,
        permissionRelaysSetMode
      ]"
      appHideIfAllPermissionsUnauthorized
      class="btn-group"
      dropdown
    >
      <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button">
        <span>{{ 'OPERATION.OPERATIONS' | translate }}</span>
      </button>
      <div class="dropdown-menu" style="min-width: 13rem">
        <div [permission]="permissionManageJobs" appHideIfPermissionUnauthorized class="dropdown-item">
          <div class="dropdown-submenu">
            <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle href="javascript:void(0)"
            ><span>{{ 'COMMON.JOBS' | translate }}</span></a
            >
            <div class="dropdown-menu">
              <div (click)="onScheduleReadJobs()" [permission]="permissionManageJobs" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'PLC-METER.CREATE-NEW-READING' | translate }}</span></a
                >
              </div>
              <div
                (click)="onScheduleMeterTimeSyncJobs()"
                [permission]="permissionManageJobs"
                appHideIfPermissionUnauthorized
                class="dropdown-item"
              >
                <a href="javascript:void(0)">
                  <span>{{ 'PLC-METER.CREATE-NEW-TIME-SYNC' | translate }}</span>
                </a>
              </div>
              <div
                (click)="onJobsAssignExisting()"
                [permission]="permissionManageJobs"
                appHideIfPermissionUnauthorized
                class="dropdown-item"
              >
                <a href="javascript:void(0)"
                ><span>{{ 'PLC-METER.ASSIGN-EXISTING' | translate }}</span></a
                >
              </div>
            </div>

            <div
              [permissionsAbove]="[permissionManageJobs, permissionAssignTemplates]"
              [permissionsBelow]="[permissionFwUpgrade]"
              appHideDividerIfPermissionsUnauthorized
            ></div>
          </div>
        </div>


        <div [permission]="permissionAssignTemplates" appHideIfPermissionUnauthorized class="dropdown-item">
          <div class="dropdown-submenu">
            <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle
               href="javascript:void(0)"
            ><span>{{ 'PLC-METER.TEMPLATES' | translate }}</span></a
            >
            <div class="dropdown-menu">
              <div
                (click)="onJobsTemplates()"
                [permission]="permissionAssignTemplates"
                appHideIfPermissionUnauthorized
                class="dropdown-item"
              >
                <a href="javascript:void(0)"
                ><span>{{ 'PLC-METER.ASSIGN-CONFIGURATION' | translate }}</span></a
                >
              </div>

              <div
                (click)="onUpdateShortNames()"
                [permission]="permissionUpdateShortNames"
                appHideIfPermissionUnauthorized
                class="dropdown-item"
              >
                <a href="javascript:void(0)"
                ><span>{{ 'PLC-METER.UPDATE-SHORT-NAMES' | translate }}</span></a
                >
              </div>
            </div>

            <div
              [permissionsAbove]="[permissionManageJobs, permissionAssignTemplates]"
              [permissionsBelow]="[permissionFwUpgrade]"
              appHideDividerIfPermissionsUnauthorized
            ></div>
          </div>
        </div>

        <div
          [permissionsAbove]="[permissionManageJobs, permissionAssignTemplates]"
          [permissionsBelow]="[permissionFwUpgrade]"
          appHideDividerIfPermissionsUnauthorized
          class="dropdown-divider"
        ></div>

        <div [permission]="permissionFwUpgrade" appHideIfPermissionUnauthorized class="dropdown-item">
          <div class="dropdown-submenu">
            <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle href="javascript:void(0)"
            ><span>{{ 'PLC-METER.FW-UPGRADE-TITLE' | translate }}</span></a
            >
            <div class="dropdown-menu">
              <div (click)="onUpgrade()" [permission]="permissionFwUpgrade" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'PLC-METER.UPLOAD-IMAGE' | translate }}</span></a
                >
              </div>
              <div (click)="onActivateUpgrade()" [permission]="permissionFwUpgrade" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'PLC-METER.ACTIVATE-IMAGE' | translate }}</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          [permissionsAbove]="[permissionFwUpgrade]"
          [permissionsBelow]="[
            permissionDisconnectorConnect,
            permissionDisconnectorDisconnect,
            permissionDisconnectorGetState,
            permissionDisconnectorSetMode,
            permissionCiiActivate,
            permissionCiiDeactivate,
            permissionCiiState,
            permissionRelaysConnect,
            permissionRelaysDisconnect,
            permissionRelaysState,
            permissionRelaysSetMode
          ]"
          appHideDividerIfPermissionsUnauthorized
          class="dropdown-divider"
        ></div>
        <div
          [permissions]="[
            permissionDisconnectorConnect,
            permissionDisconnectorDisconnect,
            permissionDisconnectorGetState,
            permissionDisconnectorSetMode
          ]"
          appHideIfAllPermissionsUnauthorized
          class="dropdown-item"
        >
          <div class="dropdown-submenu">
            <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle href="javascript:void(0)"
            ><span>{{ 'PLC-METER.BREAKER.BREAKER' | translate }}</span></a
            >
            <div class="dropdown-menu">
              <div (click)="onConnect()" [permission]="permissionDisconnectorConnect" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'COMMON.CONNECT' | translate }}</span></a
                >
              </div>
              <div
                (click)="onDisconnect()"
                [permission]="permissionDisconnectorDisconnect"
                appHideIfPermissionUnauthorized
                class="dropdown-item"
              >
                <a href="javascript:void(0)"
                ><span>{{ 'COMMON.DISCONNECT' | translate }}</span></a
                >
              </div>
              <div
                (click)="onDisconnectorStatus()"
                [permission]="permissionDisconnectorGetState"
                appHideIfPermissionUnauthorized
                class="dropdown-item"
              >
                <a href="javascript:void(0)"
                ><span>{{ 'COMMON.STATE' | translate }}</span></a
                >
              </div>
              <div
                (click)="onDisconnectorMode()"
                [permission]="permissionDisconnectorSetMode"
                appHideIfPermissionUnauthorized
                class="dropdown-item"
              >
                <a href="javascript:void(0)"
                ><span>{{ 'COMMON.MODE' | translate }}</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          [permissions]="[permissionCiiActivate, permissionCiiDeactivate, permissionCiiState]"
          appHideIfAllPermissionsUnauthorized
          class="dropdown-item"
        >
          <div class="dropdown-submenu">
            <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle href="javascript:void(0)"
            ><span>{{ 'COMMON.CII' | translate }}</span></a
            >
            <div class="dropdown-menu">
              <div (click)="onCiiActivate()" [permission]="permissionCiiActivate" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'COMMON.ACTIVATE' | translate }}</span></a
                >
              </div>
              <div (click)="onCiiDeactivate()" [permission]="permissionCiiDeactivate" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'COMMON.DEACTIVATE' | translate }}</span></a
                >
              </div>
              <div (click)="onCiiState()" [permission]="permissionCiiState" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'COMMON.STATE' | translate }}</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          [permissions]="[permissionRelaysConnect, permissionRelaysDisconnect, permissionRelaysState, permissionRelaysSetMode]"
          appHideIfAllPermissionsUnauthorized
          class="dropdown-item"
        >
          <div class="dropdown-submenu">
            <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle href="javascript:void(0)"
            ><span>{{ 'COMMON.RELAYS' | translate }}</span></a
            >
            <div class="dropdown-menu">
              <div (click)="onRelaysConnect()" [permission]="permissionRelaysConnect" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'COMMON.CONNECT' | translate }}</span></a
                >
              </div>
              <div
                (click)="onRelaysDisconnect()"
                [permission]="permissionRelaysDisconnect"
                appHideIfPermissionUnauthorized
                class="dropdown-item"
              >
                <a href="javascript:void(0)"
                ><span>{{ 'COMMON.DISCONNECT' | translate }}</span></a
                >
              </div>
              <div (click)="onRelaysState()" [permission]="permissionRelaysState" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'COMMON.STATE' | translate }}</span></a
                >
              </div>
              <div (click)="onRelaysSetMode()" [permission]="permissionRelaysSetMode" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'COMMON.MODE' | translate }}</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          [permissionsAbove]="[
            permissionDisconnectorConnect,
            permissionDisconnectorDisconnect,
            permissionDisconnectorGetState,
            permissionDisconnectorSetMode,
            permissionCiiActivate,
            permissionCiiDeactivate,
            permissionCiiState,
            permissionRelaysConnect,
            permissionRelaysDisconnect,
            permissionRelaysState,
            permissionRelaysSetMode
          ]"
          [permissionsBelow]="[permissionTouUpload]"
          appHideDividerIfPermissionsUnauthorized
          class="dropdown-divider"
        ></div>
        <div [permission]="permissionTouUpload" appHideIfPermissionUnauthorized>
          <a (click)="onTou()" class="dropdown-item custom-hover-display" href="javascript:void(0)"
          ><span>{{ 'PLC-METER.TOU-UPLOAD' | translate }}</span></a
          >
        </div>
        <div
          [permissionsAbove]="[permissionTouUpload]"
          [permissionsBelow]="[permissionSetLimiter, permissionSetMonitor, permissionClearFF, permissionSetDisplay, permissionClearAlarms]"
          appHideDividerIfPermissionsUnauthorized
          class="dropdown-divider"
        ></div>

        <div [permission]="permissionSyncTime" appHideIfPermissionUnauthorized>
          <a (click)="onSyncTime()" class="dropdown-item custom-hover-display" href="javascript:void(0)"
          ><span>{{ 'COMMON.SYNCHRONIZE-TIME' | translate }}</span></a
          >
        </div>

        <div [permissions]="[permissionSetLimiter]" appHideIfAllPermissionsUnauthorized class="dropdown-item">
          <div class="dropdown-submenu">
            <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle href="javascript:void(0)"
            ><span>{{ 'COMMON.LIMITER' | translate }}</span></a
            >
            <div class="dropdown-menu">
              <div (click)="onSetLimiter()" [permission]="permissionSetLimiter" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'PLC-METER.SET-THRESHOLDS' | translate }}</span></a
                >
              </div>
              <div
                (click)="onReadLimiterThreshold()"
                [permission]="permissionReadMeter"
                appHideIfPermissionUnauthorized
                class="dropdown-item"
              >
                <a href="javascript:void(0)"
                ><span>{{ 'PLC-METER.READ-THRESHOLDS' | translate }}</span></a
                >
              </div>
            </div>
          </div>
        </div>

        <div [permissions]="[permissionSetMonitor]" appHideIfAllPermissionsUnauthorized class="dropdown-item">
          <!-- TODO permissions -->
          <div class="dropdown-submenu">
            <a class="dropdown-toggle disabled" data-bs-toggle="dropdown" dropdownToggle href="javascript:void(0)"
            ><span>{{ 'COMMON.MONITOR' | translate }}</span></a
            >
            <div class="dropdown-menu">
              <div (click)="onSetMonitor()" [permission]="permissionSetMonitor" appHideIfPermissionUnauthorized
                   class="dropdown-item">
                <a href="javascript:void(0)"
                ><span>{{ 'PLC-METER.SET-THRESHOLDS' | translate }}</span></a
                >
              </div>
              <div
                (click)="onReadMonitorThreshold()"
                [permission]="permissionReadMeter"
                appHideIfPermissionUnauthorized
                class="dropdown-item"
              >
                <a href="javascript:void(0)"
                ><span>{{ 'PLC-METER.READ-THRESHOLDS' | translate }}</span></a
                >
              </div>
            </div>
          </div>
        </div>

        <div [permission]="permissionClearFF" appHideIfPermissionUnauthorized>
          <a (click)="onClearFF()" class="dropdown-item custom-hover-display" href="javascript:void(0)"
          ><span>{{ 'PLC-METER.CLEAR-FF' | translate }}</span></a
          >
        </div>
        <div [permission]="permissionSetDisplay" appHideIfPermissionUnauthorized>
          <a (click)="onSetDisplaySettings()" class="dropdown-item custom-hover-display" href="javascript:void(0)"
          ><span>{{ 'PLC-METER.SET-DISPLAY-SETTINGS-TITLE' | translate }}</span></a
          >
        </div>
        <div [permission]="permissionClearAlarms" appHideIfPermissionUnauthorized>
          <a (click)="onClearAlarms()" class="dropdown-item custom-hover-display gray-line" href="javascript:void(0)"
          ><span>{{ 'PLC-METER.CLEAR-ALARMS' | translate }}</span></a
          >
        </div>
        <div [permission]="permissionMuManage" appHideIfPermissionUnauthorized>
          <a (click)="onEnableMeter()" class="dropdown-item custom-hover-display item-padding" href="javascript:void(0)"
          ><span>{{ 'COMMON.ENABLE-METER' | translate }}</span></a
          >
        </div>
        <div [permission]="permissionMuManage" appHideIfPermissionUnauthorized>
          <a (click)="onDisableMeter()" class="dropdown-item custom-hover-display item-padding"
             href="javascript:void(0)"
          ><span>{{ 'COMMON.DISABLE-METER' | translate }}</span></a
          >
        </div>
        <div>
          <a (click)="onReadMeter()" class="dropdown-item custom-hover-display item-padding" href="javascript:void(0)"
          ><span>{{ 'COMMON.READ-METER' | translate }}</span></a
          >
        </div>
      </div>
    </div>

    <div
      [permissions]="[permissionSecurityActivateHls, permissionSecurityRekey, permissionSecurityChangePassword]"
      appHideIfAllPermissionsUnauthorized
      class="btn-group ps-2"
      dropdown
    >
      <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button">
        <span>{{ 'PLC-METER.SECURITY.SECURITY' | translate }}</span>
      </button>
      <div class="dropdown-menu" style="min-width: 13rem">
        <div [permission]="permissionSecurityActivateHls" appHideIfPermissionUnauthorized>
          <a (click)="onSecurityActivateHls()" class="dropdown-item custom-hover-display" href="javascript:void(0)"
          ><span>{{ 'PLC-METER.SECURITY.ACTIVATE-HLS-TITLE' | translate }}</span></a
          >
        </div>
        <div
          [permissionsAbove]="[permissionSecurityActivateHls]"
          [permissionsBelow]="[permissionSecurityRekey, permissionSecurityChangePassword]"
          appHideDividerIfPermissionsUnauthorized
          class="dropdown-divider"
        ></div>
        <div [permission]="permissionSecurityRekey" appHideIfPermissionUnauthorized>
          <a (click)="onSecurityRekey()" class="dropdown-item custom-hover-display" href="javascript:void(0)"
          ><span>{{ 'PLC-METER.SECURITY.REKEY' | translate }}</span></a
          >
        </div>
        <div [permission]="permissionSecurityChangePassword" appHideIfPermissionUnauthorized>
          <a (click)="onSecurityChangePassword()" class="dropdown-item custom-hover-display" href="javascript:void(0)"
          ><span>{{ 'PLC-METER.SECURITY.CHANGE-PASSWORD-TITLE' | translate }}</span></a
          >
        </div>
      </div>
    </div>

    <div
      [permissions]="[permissionMuManage, permissionDeleteMeterData]"
      appHideIfAllPermissionsUnauthorized
      class="btn-group ps-2"
      dropdown
    >
      <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button">
        <span>{{ 'PLC-METER.DELETE.DELETE' | translate }}</span>
      </button>
      <div class="dropdown-menu" style="min-width: 13rem">
        <div [permission]="permissionMuManage" appHideIfPermissionUnauthorized>
          <a (click)="onDelete()" class="dropdown-item custom-hover-display" href="javascript:void(0)"
          ><span>{{ 'PLC-METER.DELETE.METER' | translate }}</span></a
          >
        </div>
        <div [permission]="permissionDeleteMeterData" appHideIfPermissionUnauthorized>
          <a (click)="onDeleteData()" class="dropdown-item custom-hover-display" href="javascript:void(0)"
          ><span>{{ 'PLC-METER.DELETE.DATA' | translate }}</span></a
          >
        </div>
      </div>
    </div>
  </div>

  <button
    (click)="onExportData()"
    [permission]="permissionDataExport"
    appHideIfPermissionUnauthorized
    class="btn btn-primary tw-ml-2"
    href="javascript:void(0)"
  >
    {{ 'BUTTON.EXPORT' | translate }}
  </button>

  <!--  <button *ngIf="false" [disabled]="true" class="btn btn-primary" type="button">-->
  <!--    <i class="far fa-tags"></i>-->
  <!--    <span>{{ 'COMMON.TAGS' | translate }}</span>-->
  <!--  </button>-->
  <!--  <button *ngIf="false" [disabled]="true" class="btn btn-primary" type="button">-->
  <!--    <i class="far fa-chart-bar" disabled></i>-->
  <!--    <span>{{ 'COMMON.DATA' | translate }}</span>-->
  <!--  </button>-->
</div>
