<kendo-tabstrip (tabSelect)="onTabSelect($event)" [keepTabContent]="false" class="cron">
  <kendo-tabstrip-tab [title]="tabStripTitleMinutes" [selected]="selectedFrequency === freq.Minutes">
    <ng-template kendoTabContent>
      <div>
        <div class="d-flex">
          <label class="label-left">{{ 'COMMON.EVERY' | translate }}</label>
          <div class="col-2">
            <app-select-input i18n-label label="Minutes" [form]="form" [property]="minutesMinutesProperty" [selectOptions]="everyMinutes"
              [disabled]="false">
            </app-select-input>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Minutes)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="tabStripTitleHourly" [selected]="selectedFrequency === freq.Hourly">
    <ng-template kendoTabContent>
      <div>
        <div class="d-flex">
          <label class="label-left">{{ 'COMMON.EVERY' | translate }}</label>
          <div class="col-2">
            <app-select-input label="Hours" [form]="form" [property]="hourlyHoursProperty" [selectOptions]="everyHours"
              [disabled]="false">
            </app-select-input>
          </div>
          <label class="label-left">:</label>
          <div class="col-2">
            <app-select-input label="Minutes" [form]="form" [property]="hourlyMinutesProperty" [selectOptions]="minutes"
              [disabled]="false">
            </app-select-input>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Hourly)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="tabStripTitleDaily" [selected]="selectedFrequency === freq.Daily">
    <ng-template kendoTabContent>
      <div>
        <div class="d-flex">
          <app-input-radio class="label-left" [form]="form" [property]="dailyFrequencyProperty" [options]="dailyOptionEvery"></app-input-radio>
          <div class="col-2">
            <app-select-input label="Days" [form]="form" [property]="dailyEveryDaysProperty" [selectOptions]="everyDays"
              [disabled]="false">
            </app-select-input>
          </div>
          <label class="label-left">@</label>
          <div class="col-2">
            <app-select-input label="Hours" [form]="form" [property]="dailyEveryHoursProperty" [selectOptions]="hours"
              [disabled]="false">
            </app-select-input>
          </div>
          <label class="label-left">:</label>
          <div class="col-2">
            <app-select-input label="Minutes" [form]="form" [property]="dailyEveryMinutesProperty" [selectOptions]="minutes"
              [disabled]="false">
            </app-select-input>
          </div>
        </div>
        <div class="d-flex">
          <app-input-radio class="label-left" [form]="form" [property]="dailyFrequencyProperty" [options]="dailyOptionWeekday"></app-input-radio>
          <div class="col-2">
            <app-select-input label="Hours" [form]="form" [property]="dailyWeekdayHoursProperty" [selectOptions]="hours"
              [disabled]="false">
            </app-select-input>
          </div>
          <label class="label-left">:</label>
          <div class="col-2">
            <app-select-input label="Minutes" [form]="form" [property]="dailyWeekdayMinutesProperty" [selectOptions]="minutes"
              [disabled]="false">
            </app-select-input>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Daily)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="tabStripTitleWeekly" [selected]="selectedFrequency === freq.Weekly">
    <ng-template kendoTabContent>
      <div>
        <app-input-multiselect label="Week-days" [form]="form"
          [property]="weekDaysProperty" name="weekDaysMultiselect" [options]="weekDays" [inline]="true">
        </app-input-multiselect>
        <div class="d-flex">
          <label class="label-left">@</label>
          <div class="col-2">
            <app-select-input label="Hours" [form]="form" [property]="weeklyHoursProperty" [selectOptions]="hours"
              [disabled]="false">
            </app-select-input>
          </div>
          <label class="label-left">:</label>
          <div class="col-2">
            <app-select-input label="Minutes" [form]="form" [property]="weeklyMinutesProperty" [selectOptions]="minutes"
              [disabled]="false">
            </app-select-input>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Weekly)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="tabStripTitleMonthly" [selected]="selectedFrequency === freq.Monthly">
    <ng-template kendoTabContent>
      <div>
        <label><span>{{ 'JOB.CRON-SCHEDULE.DAYS-IN-MONTH' | translate }}</span><sup> *</sup></label>
        <div class="d-flex flex-wrap">
          <button class="btn btn-days" [ngClass]="isDayInMonthSelected(i+1) ? 'btn-secondary' : 'btn-outline-secondary'"
            *ngFor="let item of [].constructor(31); let i = index" (click)="onDayInMonthClick(i+1)">
            <span>{{i+1}}</span>
          </button>
        </div>
        <div class="help-block" *ngIf="!isNoMonthDaysValid()">
          <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{ 'COMMON.REQUIRED-FIELD' | translate }}</small>
        </div>
        <div class="d-flex mt-3">
          <label class="label-left">@</label>
          <div class="col-2">
            <app-select-input label="Hours" [form]="form" [property]="monthlyHoursProperty" [selectOptions]="hours"
              [disabled]="false">
            </app-select-input>
          </div>
          <label i18n class="label-left">:</label>
          <div class="col-2">
            <app-select-input label="Minutes" [form]="form" [property]="monthlyMinutesProperty" [selectOptions]="minutes"
              [disabled]="false">
            </app-select-input>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Monthly)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="tabStripTitleAdvanced" [selected]="selectedFrequency === freq.Advanced">
    <ng-template kendoTabContent>
      <div>
        <div class="col-3">
          <app-input-text label="Expression" [form]="form" [property]="advancedCronProperty">
          </app-input-text>
          <div class="help-block" *ngIf="!isAdvancedCronValid()">
            <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{ 'JOB.CRON-SCHEDULE.EXPRESSION-INVALID' | translate }}</small>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Advanced)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
