<kendo-tabstrip (tabSelect)="onTabSelect($event)" [keepTabContent]="false" class="cron">
  <kendo-tabstrip-tab [selected]="selectedFrequency === freq.Minutes" [title]="'COMMON.MINUTES' | translate">
    <ng-template kendoTabContent>
      <div>
        <div class="d-flex">
          <label class="label-left tw-pr-2">{{ 'COMMON.EVERY' | translate }}</label>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="minutesMinutesProperty"
                              [selectOptions]="everyMinutes"
                              label="Minutes">
            </app-select-input>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Minutes)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [selected]="selectedFrequency === freq.Hourly" [title]="'COMMON.HOURLY' | translate">
    <ng-template kendoTabContent>
      <div>
        <div class="d-flex">
          <label class="label-left tw-pr-2">{{ 'COMMON.EVERY' | translate }}</label>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="hourlyHoursProperty" [selectOptions]="everyHours"
                              label="Hours">
            </app-select-input>
          </div>
          <label class="label-left tw-pr-2">:</label>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="hourlyMinutesProperty" [selectOptions]="minutes"
                              label="Minutes">
            </app-select-input>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Hourly)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [selected]="selectedFrequency === freq.Daily" [title]="'COMMON.DAILY' | translate">
    <ng-template kendoTabContent>
      <div>
        <div class="d-flex">
          <app-input-radio [form]="form" [options]="dailyOptionEvery" [property]="dailyFrequencyProperty"
                           class="label-left tw-pr-2"></app-input-radio>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="dailyEveryDaysProperty" [selectOptions]="everyDays"
                              label="Days">
            </app-select-input>
          </div>
          <label class="label-left tw-pr-2">@</label>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="dailyEveryHoursProperty" [selectOptions]="hours"
                              label="Hours">
            </app-select-input>
          </div>
          <label class="label-left tw-pr-2">:</label>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="dailyEveryMinutesProperty"
                              [selectOptions]="minutes"
                              label="Minutes">
            </app-select-input>
          </div>
        </div>
        <div class="d-flex">
          <app-input-radio [form]="form" [options]="dailyOptionWeekday" [property]="dailyFrequencyProperty"
                           class="label-left tw-pr-2"></app-input-radio>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="dailyWeekdayHoursProperty" [selectOptions]="hours"
                              label="Hours">
            </app-select-input>
          </div>
          <label class="label-left tw-pr-2">:</label>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="dailyWeekdayMinutesProperty"
                              [selectOptions]="minutes"
                              label="Minutes">
            </app-select-input>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Daily)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [selected]="selectedFrequency === freq.Weekly" [title]="'COMMON.WEEKLY' | translate">
    <ng-template kendoTabContent>
      <div>
        <app-input-multiselect [form]="form" [inline]="true"
                               [options]="weekDays" [property]="weekDaysProperty" label="Week-days"
                               name="weekDaysMultiselect">
        </app-input-multiselect>
        <div class="d-flex">
          <label class="label-left tw-pr-2">@</label>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="weeklyHoursProperty" [selectOptions]="hours"
                              label="Hours">
            </app-select-input>
          </div>
          <label class="label-left tw-pr-2">:</label>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="weeklyMinutesProperty" [selectOptions]="minutes"
                              label="Minutes">
            </app-select-input>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Weekly)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [selected]="selectedFrequency === freq.Monthly" [title]="'COMMON.MONTHLY' | translate">
    <ng-template kendoTabContent>
      <div>
        <label><span>{{ 'JOB.CRON-SCHEDULE.DAYS-IN-MONTH' | translate }}</span><sup> *</sup></label>
        <div class="d-flex flex-wrap">
          <button (click)="onDayInMonthClick(i+1)" *ngFor="let item of [].constructor(31); let i = index"
                  [ngClass]="isDayInMonthSelected(i+1) ? 'btn-secondary' : 'btn-outline-secondary'" class="btn btn-days">
            <span>{{i + 1}}</span>
          </button>
        </div>
        <div *ngIf="!isNoMonthDaysValid()" class="help-block">
          <i class="far fa-info-circle text-danger"></i><small
          class="text-danger">{{ 'COMMON.REQUIRED-FIELD' | translate }}</small>
        </div>
        <div class="d-flex mt-3">
          <label class="label-left tw-pr-2">@</label>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="monthlyHoursProperty" [selectOptions]="hours"
                              label="Hours">
            </app-select-input>
          </div>
          <label class="label-left tw-pr-2">:</label>
          <div class="col-2">
            <app-select-input [disabled]="false" [form]="form" [property]="monthlyMinutesProperty"
                              [selectOptions]="minutes"
                              label="Minutes">
            </app-select-input>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Monthly)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [selected]="selectedFrequency === freq.Advanced" [title]="'COMMON.ADVANCED' | translate">
    <ng-template kendoTabContent>
      <div>
        <div class="col-3">
          <app-input-text [form]="form" [property]="advancedCronProperty" label="Expression">
          </app-input-text>
          <div *ngIf="!isAdvancedCronValid()" class="help-block">
            <i class="far fa-info-circle text-danger"></i><small
            class="text-danger">{{ 'COMMON.EXPRESSION-INVALID' | translate }}</small>
          </div>
        </div>
        <span class="text-bottom-right">{{getCronDescription(freq.Advanced)}}</span>
      </div>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
