.sticky-header {
  height: 9rem;
}

.bottom-line {
  border-bottom: 1px solid #CED2D9;
}


.tou-layout {
  height: calc(100vh - 144px);
  display: grid;
  grid-template-columns: 212px 1fr;
  grid-template-areas:
    "menu content"
    "menu content";
  padding-top: 40px;
}

.tou-menu {
  height: calc(100vh - 144px);
  border-right: 1px solid #CED2D9;
}

::ng-deep .input-error-text {
  position: absolute;
}
