<body id="page-top" [ngClass]="{'sidebar-toggled': app.layout.isMenuCollapsed}">
  <app-action-preventer>
  </app-action-preventer>


  <!-- Page Wrapper -->
  <div id="wrapper">
    
    <!-- Fixed sidebar -->
    <app-side-fixed-nav></app-side-fixed-nav>

    <!-- Sidebar -->
    <ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar"
      [ngClass]="{'toggled': app.layout.isMenuCollapsed && !isMouseOverNav}" (mouseover)="mouseOverNav()"
      (mouseleave)="mouseLeavesNav()">
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="row mt-4">
        <div class="col-2">
          <i *ngIf=" !app.layout.isMenuCollapsed || isMouseOverNav"
            class='uil uil-building sidebar-icons sidebar-title'></i>
          <!-- <span class="sidebar-icons sidebar-title" *ngIf="!app.layout.isMenuCollapsed || isMouseOverNav">Eles</span> -->
        </div>

        <li class="nav-item dropdown" *ngIf=" !app.layout.isMenuCollapsed || isMouseOverNav">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n>{{selectedCompany.value}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" *ngFor="let company of companies$ | async" href="#company/{{company.id}}">{{company.value}}</a>
          </div>
        </li>

        <div class="col-1 text-right d-none d-md-inline" [ngClass]="{'nav-button-hidden': app.layout.isMenuCollapsed && !isMouseOverNav}">
          <button class="rounded-circle border-0"
            [ngClass]="{'toggled': app.layout.isMenuCollapsed, 'mouseover': isMouseOverNav}" id="sidebarToggle"
            (click)="app.layout.isMenuCollapsed = !app.layout.isMenuCollapsed">
            <!-- <i class='uil uil-arrows-h-alt icon-small'></i> -->
            <i class='uil icon-small'
              [ngClass]="{'uil-shrink': !app.layout.isMenuCollapsed, 'uil-arrows-h-alt': app.layout.isMenuCollapsed}"></i>
          </button>
        </div>
      </div>

      <app-sidebar [items]="sidebarItems" [isMenuCollapsed]="app.layout.isMenuCollapsed && !isMouseOverNav">
      </app-sidebar>
    </ul>

    <div id="content-wrapper" [ngClass]="{'menu-collapsed': app.layout.isMenuCollapsed}">
      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid" >
          <!-- Page -->
          <router-outlet></router-outlet>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->
    
  </div>
  <!-- End of Page Wrapper -->
</body>
