<body id="page-top" [ngClass]="{'sidebar-toggled': app.layout.isMenuCollapsed}">
  <app-action-preventer>
  </app-action-preventer>


  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Fixed sidebar -->
    <!-- deprecated -->
    <!--<app-side-fixed-nav></app-side-fixed-nav>-->
    <!-- Fixed top -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top justify-content-between"
      [ngClass]="{'menu-collapsed': app.layout.isMenuCollapsed}">
      <div>
        <app-breadcrumb></app-breadcrumb>
      </div>
      <app-top-fixed-nav></app-top-fixed-nav>
    </nav>


    <!-- Sidebar -->
    <div class="sidebar sidebar-light shadow d-flex flex-column"
      [ngClass]="{'toggled': app.layout.isMenuCollapsed && !isMouseOverNav}" (mouseover)="mouseOverNav()"
      (mouseleave)="mouseLeavesNav()">

      <div class="brand d-flex align-items-center mb-4">
        <div class="ml-2" *ngIf="app.layout.isMenuCollapsed && !isMouseOverNav">
          <img class="brand-logo" [src]="getMenuMainLogoUrl()">
        </div>


        <div @navItemsTrigger *ngIf="!app.layout.isMenuCollapsed || isMouseOverNav"
            class="ml-3 brand-name">
            <img [src]="getSmallLogoUrl()">
        </div>
        <div @navItemsTrigger class="ml-auto mr-3"  *ngIf="!app.layout.isMenuCollapsed || isMouseOverNav">
          <a class="sidebar-light p-0" [ngClass]="{'text-black-50': app.layout.isMenuCollapsed }" href="javascript:void(0);"
            (click)="doToggleMenu()" [ngbTooltip]="tipContentMenu">
            <i class="far fa-bars m-0"></i>
          </a>
        </div>

      </div>
      <!-- Sidebar Toggler (Sidebar) -->

      <div @navItemsTrigger class="mb-2 px-3 py-2" *ngIf="!app.layout.isMenuCollapsed || isMouseOverNav">
        <i class="far fa-building mr-2"></i>
        <strong>{{organisation}}</strong>
      </div>

      <ul @navItemsTrigger class="navbar-nav" *ngIf="!app.layout.isMenuCollapsed || isMouseOverNav">
        <app-sidebar [items]="sidebarItems"></app-sidebar>
      </ul>

      <div @navItemsTrigger class="mt-auto sidebar-version text-center"
        *ngIf="!app.layout.isMenuCollapsed || isMouseOverNav">
        <small>{{version}}</small><br />
        <small>{{getAppTitle()}} powered by Metricsx</small><br />
        <small>© 2020. All rights reserved</small>
      </div>
    </div>

    <div id="content-wrapper" [ngClass]="{'menu-collapsed': app.layout.isMenuCollapsed}">
      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page -->
          <router-outlet></router-outlet>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
</body>

<ng-template #tipContentMenu><span i18n>Pin/collapse menu</span></ng-template>
