<nav class="navbar navbar-dark bg-primary position-fixed">
  <div class="d-flex flex-column w-100 h-100">
    <a class="navbar-icon mb-auto" href="#">     
      <img [src]="getMenuMainLogoUrl()" style='height: 80%; width: 80%; object-fit: contain'>
    </a>
    <div class="rotate d-flex align-items-center">     
      <img class="navbar-title display-5" [src]="getSmallLogoUrl()">
    </div>
    <div class="mt-auto">
      <a class="navbar-icon d-block" href="#">
        <i class="far fa-border-all"></i>
      </a>
      <div class="btn-group dropup">
        <a class="navbar-icon mt-3 d-block" id="dropdownMenuLang" href="#" data-flip="true" data-toggle="dropdown" data-display="static">
          <i class="fal fa-language"></i>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuLang">       
            <li role="presentation"><a class="dropdown-item" href="#" ><span i18n>English</span></a></li>                  
            <li role="presentation"><a class="dropdown-item" href="#" ><span i18n>Slovenian</span></a></li>        
            <li role="presentation"><a class="dropdown-item" href="#" ><span i18n>Czech</span></a></li>        
            <li role="presentation"><a class="dropdown-item" href="#" ><span i18n>German</span></a></li>        
        </ul>
      </div>
      <div class="btn-group dropup">
        <a class="bg-white h5 user rounded-circle mt-3 text-center" id="dropdownMenu1" href="#" data-flip="true" data-toggle="dropdown" data-display="static">
          <span>{{initials}}</span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <h6 class="dropdown-header">{{userName}}</h6>
          <li role="presentation"><a class="dropdown-item" href="#" (click)="profile()"><span i18n>Profile</span></a></li>                  
          <li role="presentation"><a class="dropdown-item" href="#" (click)="logout()"><span i18n>Log out</span></a></li>        
        </ul>
      </div>

    </div>
  </div>
</nav>