
<div class="nav-fixed">
  <nav  class="navbar navbar-inverse navbar-fixed-left">
    <div class="sidebar-icons sidebar-icons-top">    
      <i class="fas fa-project-diagram fa-2x"></i>    
    </div>
    <div class="ml-2">
      <div class="navbar-brand text-rotate">
        <h2>advance | HSE</h2>
      </div >                 
    </div>          
    
    <div class="sidebar-bottom-icons">      
      <p><span class="">
        <i class="fas fa-border-all fa-2x sidebar-icons"></i></span></p>
      <p><span class="">
          <i class="fas fa-cog fa-2x sidebar-icons"></i></span></p>
      <span class="">    
       <i class="fas fa-circle fa-2x sidebar-icons"></i>
        <strong class="fa-stack-1x">MD</strong>
      </span>      
    </div>    
  </nav>

</div>