
<div class="nav-fixed">
  <nav class="navbar navbar-inverse navbar-fixed-left">
    <div class="sidebar-icons sidebar-icons-top">
      <i class='uil uil-share-alt'></i>
    </div>
    <div class="ml-2">
      <div class="navbar-brand text-rotate">
        <h2 class="nav-fixed-title-font">advance&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;HSE</h2>
      </div>
    </div>
    <div class="sidebar-bottom-icons">
      <p><span>
          <i class='uil uil-apps sidebar-icons'></i>
        </span></p>
      <p><span>
          <i class='uil uil-cog sidebar-icons'></i></span></p>
      <span>
        <i class="fas fa-circle fa-2x sidebar-icons-user"></i>
        <strong class="fa-stack-1x user-label">MD</strong>
      </span>
    </div>
  </nav>

</div>
