<ul class="navbar-nav">

  <div class="tw-inline-flex tw-justify-items-center tw-items-center">
    <div class="btn-group dropstart">
      <li class="nav-item"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          role="button"
          href="javascript:void(0);"
          id="dropdownUser"
      ><a class="nav-link user rounded-circle text-center">
        <small><strong>{{ initials }}</strong></small>
      </a></li>

      <ul class="dropdown-menu">
        <li class="profile-dialog m-2">
          <div class="row">
            <div class="col-4 d-flex p-0 my-auto align-items-center justify-content-center">
              <div class="rounded-circle text-center">{{initials}}</div>
            </div>
            <div class="col-8">
              <h5 [ngbTooltip]="company" [openDelay]="500" class="text-truncate mt-1"
                  placement="left">{{ company }}</h5>
              <h2 [ngbTooltip]="userName" [openDelay]="500" class="text-truncate" placement="left">{{userName}}</h2>
              <h5 [ngbTooltip]="email" [openDelay]="500" class="text-truncate" placement="left">{{email}}</h5>
              <h5 class="logout mt-3"><a (click)="profile()"
                                         href="#"><span>{{ 'COMMON.PROFILE' | translate }}</span></a>
              </h5>
              <h5 class="logout mt-3"><a (click)="logout()"
                                         href="#"><span>{{ 'COMMON.SIGN-OUT' | translate }}</span></a>
              </h5>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>

</ul>
