<div class="row">
  <div *ngIf="!hideFilter" [formGroup]="form" class="col-2 filter-shadow-container">
    <div class="filter-shadow">
      <div class="mb-3">
        <div class="d-flex mb-3 mt-2">
          <h4
            [openDelay]="500"
            class="mb-0 text-truncate"
            container="body"
            ngbTooltip="{{ 'FORM.REGISTER' | translate }}"
            placement="bottom"
          >
            {{ 'FORM.REGISTER' | translate }}
          </h4>
          <button (click)="clickShowHideFilter()" *ngIf="false" aria-label="Close" class="btn-close ms-auto" type="button"></button>
        </div>
        <div>
          <app-input-searcher
            (insertedValue)="insertedSearchValue($event)"
            [debounceTimeOut]="700"
            [form]="form"
            [property]="registerSearchProperty"
            placeholder="{{ 'COMMON.SEARCH' | translate }}"
          ></app-input-searcher>
        </div>
      </div>
      <div class="mb-3 filter-scroll-registers">
        <div *ngFor="let g of registerGroups">
          <app-input-radio
            (selectionChanged)="changeRegisterOptionId()"
            [form]="form"
            [label]="g.groupName"
            [options]="g.registerOptions"
            [property]="registerProperty"
            [showTooltip]="true"
            [translateLabel]="false"
            style="white-space: nowrap"
          >
          </app-input-radio>
        </div>
      </div>
    </div>
  </div>

  <!-- CHECK RANGES -->
  <div [ngClass]="{ 'col-10': !hideFilter, 'col-12': hideFilter }" class="pe-0">
    <div class="me-3">
      <div class="d-flex">
        <button
          (click)="clickShowHideFilter()"
          *ngIf="false"
          [ngClass]="{ active: !hideFilter }"
          [ngbTooltip]="hideShowFilters"
          class="btn btn-light tw-pl-3 pe-3 position-relative me-3"
          type="button"
        >
          <i class="far fa-ellipsis-v"></i>
        </button>

        <div class="mt-2">
          <h3 class="mb-0">{{ selectedRegister ? selectedRegister.name : ('PLC-METER.REGISTER.NO-REGISTER-SELECTED' | translate) }}</h3>
        </div>
        <div class="ms-auto">
          <button
            (click)="onRefresh()"
            [ngbTooltip]="tipContentRefresh"
            [openDelay]="500"
            class="btn btn-light ps-2 pe-2 me-0"
            placement="left"
            type="button"
          >
            <i class="far fa-redo"></i>
          </button>
        </div>
      </div>
      <app-date-range-picker (valueChange)="onRefresh()" [endProperty]="endDateProperty" [form]="form" [startProperty]="startDateProperty">
      </app-date-range-picker>
    </div>

    <div class="mu-registers-body-scroll">
      <div *ngIf="!isRegisterSelected" class="card text-center border-0 mt-5">
        <div class="card-header border-0 bg-transparent">
          <i class="far fa-empty-set display-2 text-light font-weight-bold"></i>
        </div>
        <div class="card-body">
          <div class="small-title font-weight-bold pb-2">{{ 'PLC-METER.REGISTER.NO-REGISTER-SELECTED' | translate }}</div>
          <div class="text-secondary">{{ 'PLC-METER.REGISTER.SELECT-REGISTER' | translate }}</div>
        </div>
      </div>
      <div *ngIf="isRegisterSelected && !isDataFound" class="card text-center border-0 mt-5">
        <div class="card-header border-0 bg-transparent">
          <i class="far fa-empty-set display-2 text-light font-weight-bold"></i>
        </div>
        <div class="card-body">
          <div class="small-title pb-2">{{ 'COMMON.NO-DATA-FOUND' | translate }}</div>
          <div class="text-secondary">{{ 'PLC-METER.REGISTER.NO-AVAILABLE-DATA' | translate }}</div>
          <div class="text-secondary">{{ 'PLC-METER.REGISTER.CHANGE-TIME' | translate }}</div>
        </div>
      </div>

      <div *ngIf="isDataFound">
        <div class="row mt-4">
          <div *ngIf="!isEvent" class="col-12">
            <app-registers-chart [categories]="chartCategories" [chartData]="chartData" [unit]="unit"></app-registers-chart>
          </div>
          <div *ngIf="isEvent" class="col-12">
            <h4 class="pt-2">{{ 'PLC-METER.REGISTER.NUMBER-OF-EVENTS' | translate }}</h4>
            <app-registers-column-chart [eventsByTimestamp]="eventsByTimestamp" [hours]="hours"></app-registers-column-chart>
          </div>
        </div>
        <div class="row mt-4">
          <div
            [ngClass]="{
              'col-12': (!showStatistics || !registerStatisticsData) && !isEvent,
              'col-8': showStatistics && registerStatisticsData && !isEvent,
              'col-6': isEvent
            }"
          >
            <app-registers-grid [categorization]="categorization" [rowData]="rowData"></app-registers-grid>
          </div>
          <div *ngIf="showStatistics && !isEvent && registerStatisticsData" class="col-4">
            <app-registers-statistics [data]="registerStatisticsData"></app-registers-statistics>
          </div>
          <div *ngIf="isEvent" class="col-6">
            <h4>{{ 'PLC-METER.REGISTER.EVENT-TYPE' | translate }}</h4>
            <app-registers-pie-chart [eventsById]="eventsById"></app-registers-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #hideShowFilters
  ><span>{{ 'PLC-METER.REGISTER.SHOW-HIDE-REGISTERS' | translate }}</span></ng-template
>
<ng-template #tipContentRefresh
  ><span>{{ 'PLC-METER.REGISTER.REFRESH-DATA' | translate }}</span></ng-template
>
