input[type=search]+.far.fa-search {
  position: absolute;
  right: .5rem;
  top: 0;
  height: $input-height;
  line-height: $input-height;
}

input[type=search]:focus+.far.fa-search,
input[type=search]:hover+.far.fa-search {
  display: none;
}

.k-combobox {
  .k-select {
    background: none;

    &:hover {
      background: none;
      color: $primary;
    }
  }

  > :hover .k-select, .k-state-hover .k-select {
    background: none;
  }
}

.k-multiselect-wrap {
  .k-button {
    background-image: none;
    background-color: $gray-100;
  }
}

.ng-invalid.ng-dirty > .k-dropdown-wrap {
  border-color: transparent;
}

