input[type=search] + .uil.uil-search {
  position: absolute;
  right: .5rem;
  top: 0;
  height: $input-height;
  line-height: $input-height;
}

input[type=search]:focus + .uil.uil-search,
input[type=search]:hover + .uil.uil-search {
  display: none;
}