input[type=search] {
  background-color: $gray-300;
  border-width: 0;
  box-shadow: none;
  position: relative;
  // padding-right:3.2rem !important;

  +.far.fa-search {
    position: absolute;
    right: .5rem;
    top: 0;
    height: $input-height;
    line-height: $input-height;
  }

  &:focus, &:hover {
    background-color: darken($gray-300, 7.5%);

    +.far.fa-search {
      display: none;
    }
  }
}

input[type=search].wildcard {
  padding-right:2rem !important;

  ~a .fas.fa-star-of-life {
    top:0;
    height: $input-height;
    line-height: $input-height;
    position: absolute;
    right: 0.5rem;
  }

  ~.far.fa-search {
    position:absolute;
    right: 2rem;
    top: 0;
    height: $input-height;
    line-height: $input-height;
  }

  &:focus, &:hover {
    background-color: darken($gray-300, 7.5%);

    ~.far.fa-search {
      display: none;
    }
  }
}

/*
.ng-invalid.ng-dirty > .k-dropdown-wrap {
  border-color: transparent;
}
*/

.k-switch {
  flex:none;

  &.k-switch-on {
    .k-switch-handle {
      left: calc(100% - 2em);
    }

    .k-switch-container {
      background-color: $success;
    }
  }

  &.k-switch-off .k-switch-container {
    background-color: $gray-300;
  }
}

.k-datetime-container .k-datetime-wrap {
  width: 22em;
}

.k-calendar-infinite .k-calendar-header {
  margin-right: 0;
}

.expand-dropzone .k-dropzone {
  height: 300px;
  display: block !important;
}

.expand-dropzone .k-dropzone {
  height: 300px;
  display: block !important;
}

.expand-dropzone {
  .k-upload {
    display: none !important;
  }
}

.expand-dropzone {
  .file-select {
    .k-select {
      display: none !important;
    }
  }
}


.expand-dropzone  .k-upload-button {
  margin-right:calc(50% - 58px);
  margin-top: 110px;
  margin-bottom:20px;
}

.expand-dropzone .k-dropzone-hint {
  text-align: center;
  position:absolute;
  top:0;
}

.ag-paging-panel-selection {
  .k-dropdown {
    font-size:0.875rem;
    height:26px;
    width:47px;
    margin-top:0.5rem;

    .k-input {
      padding: 0 0.3rem;
      height:1.67rem;
      width:30px;
    }

    .k-select {
      padding-left: 0;
      padding-right: 0.1rem;
      font-size: 0.875rem;
      width:12px;
    }

    .k-icon {
      font-size: 0.875rem;
      margin:0;
    }
  }
  .form-group {
    margin-bottom: 0;
  }

}

.k-clear-value {
  padding-top: 0.5rem;
}

.k-widget.form-control .k-input {
  padding: 0.5rem 0.75rem;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.625rem;
}

.k-checkbox::before {
  background-size: 100%;
}

.expand-dropzone {

  .dropzone-custom {
    height: 300px;
    border:2px dashed $gray-400;
    border-radius:8px;
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: $gray-200;

    &.hover-mouse-down {
      background-color: $gray-300;
    }

    a {
      color: $primary;
      text-decoration: underline;
    }

    .title {
      color: $gray-600;
      font-size: 18px;
      font-weight: bold;
    }
    .subtitle {
      color: $gray-500;
      font-weight: bold;
    }

    .k-progressbar .k-state-selected {
      background-color: $secondary;
    }

    .fa-file {
      color: $gray-500;
      font-size: 34px;
    }

    .fa-cloud-upload-alt {
      color: $gray-500;
      font-size: 43px;
    }

    .fa-stack {
      font-size:22px;

      i.fas.fa-exclamation-triangle{
        color: $danger;
        left: 24px;
        top: 10px;
        font-size: 28px;
      }

      i.fas.fa-cloud-upload-alt {
        margin-left:0px;
      }
    }
  }
  &.modal-dropzone {
    .dropzone-custom {
      height: 200px;
    }
  }
}

