<app-modal-template (dismiss)="onDismiss()">

  <div modal-header
       [innerHTML]="'PLC-METER.JOBS.ASSIGN-EXISTING-JOBS' | translate:{selectedRowsCount: selectedRowsCount}"></div>

  <div modal-body>
    <ng-container>
      <form class="form-horizontal" [formGroup]="form">
        <div class="form-row">
          <div class="col-12">
            <app-jobs-select [jobTypes]="[2,7]" (onSelectionChanged)="jobSelectionChanged()"></app-jobs-select>
            <div class="help-block mt-3" *ngIf="noJobsSelected">
              <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{selectionRequiredText}}</small>
            </div>
          </div>
        </div>
        <div class="text-danger" *ngIf="errMsg.length > 0"><small>{{errMsg}}</small></div>
      </form>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn text-secondary" (click)="onDismiss()">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button type="submit" class="btn btn-primary" [disabled]="loading" (click)="onAssignExisting()">
          <span>{{ 'BUTTON.ASSIGN' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

