$primary: #5FC581;
$secondary: #3E7FC1;

$success: #5FC45E;
$info: #009DDA;
$warning: #FFD166;
$danger: #F43670;

$navbar-dark-bg: linear-gradient(121deg, #8FE199 0%, #3593D7 100%);

// Kendo Charts
$orange:#E58634;

$series-a: $secondary;
$series-b: $warning;
$series-c: $success;
$series-d: $orange;
$series-e: $info;
$series-f: $danger;
