/* $primary: #37D7A8;
$success: #A2D54B;
$info: #01BEBE;
$warning: #FFAE58;
$danger: #F15972;

$navbar-fixed-background-light: #55E59B;
$navbar-fixed-background-dark: #00BDBE;
 */


$primary: #2ec39b;
$success: #A2D54B;
$info: #2ec39b;
$warning: #FFAE58;
$danger: #F15972;

$navbar-fixed-background-light: #50ca8b;
$navbar-fixed-background-dark: #00a4a5;