

<div class="row text-primary"><h2 class="m-3">Devextreme sample</h2></div>
<div class="row">
  <button type="col button" class="btn btn-primary m-3" (click)="onRefresh()">Refresh grid</button>
  <button type="col button" class="btn btn-secondary m-3">Secondary</button>
  <div class="col-8">&nbsp;</div>
</div>
<div class="bg-white dx-viewport">
  <dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [columns]="columns"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [remoteOperations]="true"
  [focusStateEnabled]="true">
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-pager
  alignment="left"
  [showPageSizeSelector]="true"
  [allowedPageSizes]="[10, 20, 50]"
  [showNavigationButtons]="true">
</dxo-pager>
<dxo-state-storing 
        [enabled]="true" 
        type="custom" 
        [customLoad]="loadState"
        [customSave]="saveState">
    </dxo-state-storing>
<div *dxTemplate="let item of 'item'">
  <ng-template [ngTemplateOutlet]="template || defaultTemplate" [ngTemplateOutletContext]="{item: item}"></ng-template>
</div>
</dx-data-grid>
</div>
<ng-template  #template let-item="item">
  custom - {{item.value}}
</ng-template>
