<div class="d-flex align-items-center" container="body" [openDelay]="1000" placement="bottom"
  [ngbTooltip]="setToolTip(params.value)">
  <i class="far fa-pause-circle text-warning" *ngIf="!params.value"></i>
  <i class="far fa-play-circle text-success" *ngIf="params.value"></i>
  <span class="text-truncate flex-shrink-1 text-warning" *ngIf="!params.value">{{ 'JOB.ACTIVE-JOB.PENDING' | translate }}</span>
  <span class="text-truncate flex-shrink-1 text-success" *ngIf="params.value">{{ 'JOB.ACTIVE-JOB.DOWNLOADING-PACKAGES' | translate }}</span>
</div>
