<div class="form-row">
  <div class="col-12 expand-dropzone">
      <app-file-select [form]="form" [property]="fileProperty"
          [multiple]="false"
          [allowedExtensions]="allowedExt"
          [acceptExtensions]="acceptExtensions"
          (selectEvent)="selected($event)"
          (removeEvent)="removed($event)"
          (fileValid)="isFileValid($event)"
          [dropFileSelectSubtitle]="uploadDropSubtitle">
       </app-file-select>
  </div>
</div>

<div class="d-flex justify-content-start">
  <div class="btn-group dropdown">
    <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!jsonString || !fileValid">
      <span>{{ 'BUTTON.IMPORT' | translate }}</span></button>
  </div>
</div>

