<app-modal-template (dismiss)="onDismiss()">

  <div [innerHTML]="'PLC-METER.SET-LIMITER' | translate:{selectedRowsCount: selectedRowsCount}" modal-header></div>

  <div modal-body>
    <ng-container>
      <form [formGroup]="form" class="form-horizontal">
        <div class="form-row">
          <div class="col-12">
            <app-select-input [form]="form" [property]="registerProperty" [selectOptions]="registers$" label="REGISTER">
            </app-select-input>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <app-input-numeric [allowShowError]="true" [form]="form" [isReadOnly]="false"
                               [label]="'Threshold-normal'"
                               [max]="null" [min]="0"
                               [property]="tresholdNormalProperty" [showSpinners]="false" [step]="0"
                               ></app-input-numeric>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <app-input-numeric [allowShowError]="true" [form]="form" [isReadOnly]="false"
                               [label]="'Threshold-emergency'"
                               [max]="null" [min]="0"
                               [property]="tresholdEmergencyProperty" [showSpinners]="false" [step]="0"
                               ></app-input-numeric>
          </div>
        </div>
        <!--<div class="form-row">
          <div class="col-12">
            <app-input-numeric [label]="'Minimal over threshold duration'" [form]="form" [property]="minOverTresholdDurationProperty" [showSpinners]="false" [decimals]="0" [decimals]="0" [min]="0" [max]="4294967295"
              [format]="'#'" [step]="1" [isReadOnly]="false" [allowShowError]="true" i18n-label labelRight=""></app-input-numeric>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <app-input-numeric [label]="'Minimal under threshold duration'" [form]="form" [property]="minUnderTresholdDurationProperty" [showSpinners]="false" [decimals]="0" [decimals]="0" [min]="0" [max]="4294967295"
              [format]="'#'" [step]="1" [isReadOnly]="false" [allowShowError]="true" i18n-label labelRight=""></app-input-numeric>
          </div>
        </div>-->
        <div *ngIf="form.errors && form.errors['atLeastOneRequired'] == true" class="text-danger"><small>
          <span>{{ 'PLC-METER.SET-ONE-THRESHOLD' | translate }}</span></small></div>
      </form>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button (click)="onDismiss()" class="btn text-secondary" type="button">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button (click)="onSet()" [disabled]="loading" class="btn btn-primary" type="submit">
          <span>{{ 'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

