::ng-deep .k-grid table tr:hover {
  &:hover {
    .grid-row-button {
      visibility: visible;
    }
  }
}

::ng-deep .k-grid td {
  border-width: 0;
  height: 44px;
  line-height: 12px;
  padding: 0 0 0 16px;

  &.no-padding {
    padding: 0 !important;
  }

  &.bold-text {
    font-weight: bold;
  }
}

::ng-deep .k-grid {
  border-width: 0;
}

::ng-deep .k-grid th {
  border-width: 0;
  background-color: white;
  @apply tw-text-mediumGray;
  @apply tw-text-xs;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}

::ng-deep .k-grid .k-alt {
  background-color: transparent;
}

::ng-deep .k-grid .k-switch {
  transform: scale(0.65);
}

::ng-deep .k-grid {
  label.grid-label {
    min-width: 62%;
    display: inline-block;
    font-size: 14px !important;
    color: black;
    font-weight: 400;
  }
}

::ng-deep .k-grid-pager {
  background-color: white;
}

::ng-deep .k-toolbar {
  background-color: white;
}

.grid-row-button {
  @apply tw-inline-flex;
  @apply tw-justify-between;
  @apply tw-py-2;
  @apply tw-px-2;
  @apply tw-rounded;
  @apply tw-border-lightGray;
  @apply tw-border-solid;
  @apply tw-bg-white;
  @apply tw-shadow;
  @apply tw-cursor-pointer;
  visibility: hidden;
  position: relative;
  bottom: 40px;
  width: 6rem;
  left: calc(100% - 6.4rem);
  //left: 62%;
}

.green {
  color: #37A350;
  padding: 3px 8px;
  width: 73px;
  background: rgba(55, 163, 80, 0.1);
  border-radius: 2px;
}

.fixed-height {
  min-height: 39.6875rem;
}

.min-height {
  min-height: 30vh;
}

::ng-deep .k-button, .k-button-secondary {
  @apply tw-rounded;
  @apply tw-border-mediumGray;
  @apply tw-border-solid;
  border-radius: 2px;
  background-color: white;
}

::ng-deep .k-dropdown .k-dropdown-wrap {
  @apply tw-rounded;
  @apply tw-border-mediumGray;
  @apply tw-border-solid;
  border-radius: 2px;
  background-color: white;
}

::ng-deep .k-button:hover, .k-button.k-state-hover, .k-button-secondary:hover, .k-button-secondary.k-state-hover {
  background-color: transparent;
}

::ng-deep span.k-icon {
  color: #CED2D9;
}

::ng-deep .k-toolbar {
  border-bottom: 0 !important;
}

.gray-border {
  @apply tw-rounded-sm;
  @apply tw-border-mediumGray;
  @apply tw-border-solid;
  @apply tw-border;
}

//kendo toolbar position over the chart hack
.with-chart.visible ::ng-deep kendo-grid-toolbar.k-toolbar.k-grid-toolbar {
  position: relative;
  bottom: 27.3rem;
  margin-left: 28.5rem;
}

.with-chart.hidden ::ng-deep kendo-grid-toolbar.k-toolbar.k-grid-toolbar {
  position: relative;
  bottom: 11.2rem;
  margin-left: 28.5rem;
}

.grid-cell-text {
  height: 44px;
  line-height: 44px;
  width: 96%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.max-height-385 {
  max-height: 385px;
}
