<kendo-grid (pageChange)="pageChange($event)"
            [data]="gridView"
            [loading]="loading"
            [pageSize]="pageSize"
            [pageable]="pageable"
            [rowClass]="rowClass"
            [scrollable]="scrollable"
            [skip]="skip"
            class="kendo-grid"> <!-- style="height: 60vh" -->

  <kendo-grid-column *ngFor="let column of gridColumns; let i = index"
                     [class]="column.class"
                     [field]="column.field"
                     [title]="column.translationKey | translate"
                     [width]="column.width ? column.width : null">

    <ng-template class="kendo-grid-cell" kendoGridCellTemplate let-dataItem>

      <!--- no type defined is string -->
      <ng-container *ngIf="!column.type">
        {{ dataItem[column.field] }}
      </ng-container>

      <ng-container *ngIf="column.type === columnType.SWITCH">
        <kendo-switch (valueChange)="switchValueChanged(dataItem.id, $event)"
                      [checked]="dataItem[column.field]"></kendo-switch>
      </ng-container>

      <ng-container *ngIf="column.type === columnType.DATE">
        <div>
          {{ dataItem[column.field] | date }}
          <ng-container *ngIf="!dataItem[column.field]">
            Not defined
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="column.type === columnType.DATE_TIME">
        <div>
          {{ dataItem[column.field] | formatDateTime }}
          <ng-container *ngIf="!dataItem[column.field]">
            Not defined
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="column.type === columnType.COLORED_ENUM">
        <label [ngClass]="colorExist(dataItem[column.field], column.coloredValues)">
          {{ dataItem[column.field] }}
        </label>
      </ng-container>

      <ng-container *ngIf="rowActions.length > 0 && i +1   === gridColumns.length" class="no-padding">
        <div class="grid-row-button">
          <img (click)="onRowActionClick(action.actionName, dataItem.id)"
               *ngFor="let action of rowActions"
               [src]="'assets/images/icons/' + action.iconName + '.svg'" class="tw-h-4 tw-px-2" />
        </div>
      </ng-container>
    </ng-template>

  </kendo-grid-column>
</kendo-grid>


<!--<kendo-grid [data]="gridData" [rowClass]="rowClass" class="kendo-grid">-->
<!--  <kendo-grid-column [title]="'FORM.ACTIVE' | translate" [width]="80" field="active">-->
<!--    <ng-template kendoGridCellTemplate let-dataItem>-->
<!--      <kendo-switch [checked]="dataItem.active"></kendo-switch>-->
<!--    </ng-template>-->
<!--  </kendo-grid-column>-->
<!--  <kendo-grid-column [title]="'FORM.NAME' | translate" field="type">-->
<!--  </kendo-grid-column>-->
<!--  <kendo-grid-column [title]="'FORM.NEXT-START' | translate" field="nextRun">-->
<!--    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">-->
<!--      <label class="grid-label">-->
<!--        {{ dataItem.nextRun | formatDateTime }}-->
<!--        <ng-container *ngIf="!dataItem.nextRun">-->
<!--          Not defined-->
<!--        </ng-container>-->
<!--      </label>-->
<!--      &lt;!&ndash;                      Row: {{ rowIndex }} /&ndash;&gt;-->
<!--      &lt;!&ndash;                      <strong>{{ dataItem.id }}</strong>&ndash;&gt;-->
<!--      <div class="grid-row-button"> &lt;!&ndash;(click)="onRowActionClick(dataItem.id)" &ndash;&gt;-->
<!--        <img [src]="'assets/images/icons/settings-icon.svg'" class="h-4" />-->
<!--        <img [src]="'assets/images/icons/play-icon.svg'" class="h-4" />-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </kendo-grid-column>-->
<!--</kendo-grid>-->
