<div [formGroup]="form" [ngClass]="{'mb-3': !isInline}">
  <label *ngIf="label" [attr.for]="property">
    {{ 'FORM.' + label.toUpperCase() | translate }}
    <sup *ngIf="required"> *</sup>
  </label>
  <kendo-datetimepicker
    (blur)="onBlur()" (valueChange)="onValueChange($event)" [formControlName]="property"
    [format]="'dd.MM.yyyy'"
    [max]="max"
    [min]="min"
    [name]="property"
    [placeholder]="'-'"
    [readonly]="readonly"
    class="form-control p-0"
  ></kendo-datetimepicker>
  <!--Loop through errors-->
  <div *ngIf="showErrors()" class="help-block">
    <app-form-error [error]="formControl!.errors "></app-form-error>
  </div>
</div>
