<div *ngIf="params.data && params.data.metersValue" class="text-left row">
  <div class="col-1 text-left text-primary mr-0">{{params.data.metersValue}}</div>
  <div *ngIf="params.data && params.data.metersUp" class="col-2 text-success align-right">
    <i class='uil uil-arrow-up text-left'></i><span class="small text-success">{{params.data.metersPercent}} %</span>
  </div>
  <div *ngIf="params.data &&  !params.data.metersUp" class="col-2 text-danger align-right">
    <i class='uil uil-arrow-down text-left text-danger'></i>
    <span class="small text-danger">{{params.data.metersPercent}} %</span>
  </div>
</div>

<div *ngIf="params.data &&  !params.data.metersValue" class="text-left text-secondary"><span i18n>{{notAvailableText}}</span></div>