<div *ngIf="params.data && params.data.metersValue" class="d-flex">
  <a>{{params.data.metersValue}}</a>
  <div *ngIf="params.data && params.data.metersUp" class="ml-auto text-success">
    <i class="uil uil-arrow-up"></i>
    <small>{{params.data.metersPercent}} %</small>
  </div>
  <div *ngIf="params.data && !params.data.metersUp" class="ml-auto text-danger">
    <i class="uil uil-arrow-down"></i>
    <small>{{params.data.metersPercent}} %</small>
  </div>
</div>

<div *ngIf="params.data && !params.data.metersValue" class="text-muted"><span i18n>{{notAvailableText}}</span></div>