<div class="tou-units-layout">

  <div class="tou-units-content">
    <app-add-time-unit [title]="'TOU-CONFIG.DAY-TABLES'"
                       [type]="timeUnitEnum"
                       [units]="days.units"
                       (hasUnsavedChanges)="unsavedChangesEvent($event)">
    </app-add-time-unit>
  </div>

  <div class="tou-units-buttons-container">

    <div class="tou-units-buttons">
      <button (click)="previousStep()"
              class="btn btn-primary">< {{ 'TOU-CONFIG.BASICS' | translate }}
      </button>
      <button (click)="nextStep()" [disabled]="!isValid() || invalidForm"
              class="btn btn-primary">{{ 'TOU-CONFIG.WEEK-TABLES' | translate }} >
      </button>
    </div>
  </div>

</div>