<div class="form-row mb-2 ps-2">
  <button (click)="dateRangeChanged()" [ngbTooltip]="tipContentRefresh" class="btn btn-light ps-2 pe-2 me-2"
          type="button"><i class="fas fa-sync-alt"></i></button>
  <div class="col-5">
    <app-date-range-picker
      (valueChange)="dateRangeChanged()"
      [endProperty]="endTimeProperty"
      [form]="form"
      [startProperty]="startTimeProperty">
    </app-date-range-picker>
  </div>
</div>

<div class="content-body-scroll">
  <div>
    <ag-grid-angular #agGrid
                     (firstDataRendered)="onFirstDataRendered($event)"
                     (gridReady)="onGridReady($event)"

                     (gridSizeChanged)="gridSizeChanged()"
                     (paginationChanged)="onPaginationChange($event)"
                     [cacheBlockSize]="selectedPageSize.id"
                     [cacheOverflowSize]="2"
                     [columnDefs]="columnDefs"
                     [frameworkComponents]="frameworkComponents"
                     [gridOptions]="gridOptions"
                     [localeText]="localeText"
                     [maxBlocksInCache]="1"
                     [maxConcurrentDatasourceRequests]="2"
                     [modules]="modules"
                     [overlayLoadingTemplate]="overlayLoadingTemplate"
                     [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                     [paginationPageSize]="selectedPageSize.id"
                     [pagination]="true"
                     [rowData]="rowData"

                     [suppressColumnVirtualisation]="true"
                     class="ag-theme-epoint custom-paging"
                     domLayout="autoHeight"
                     style="width: 100%; height: calc(100% - 25px);"
                     suppressRowClickSelection="true"
                     suppressSizeToFit="true"
    >
    </ag-grid-angular>
    <div class="ag-paging-panel-selection d-flex">
      <div class="ms-auto">
        <app-select-dropdown (selectedValueChanged)="pageSizeChanged($event)" [disabled]="false" [form]="form"
                             [property]="pageSizeProperty" [selectOptions]="pageSizes">
        </app-select-dropdown>
      </div>
    </div>
  </div>
</div>

<ng-template #tipContentRefresh><span>{{'COMMON.REFRESH-ALARMS' | translate }}</span></ng-template>
