<div class="form-row mb-2 pl-2">
  <button type="button" class="btn btn-light pl-2 pr-2 mr-2" (click)="dateRangeChanged()" [ngbTooltip]="tipContentRefresh"><i class="fas fa-sync-alt"></i></button>
  <div class="col-5">
    <app-date-range-picker
      [startProperty]="startTimeProperty"
      [endProperty]="endTimeProperty"
      [form]="form"
      (valueChange)="dateRangeChanged()">
    </app-date-range-picker>
  </div>
</div>

<div class="content-body-scroll">
  <div>
    <ag-grid-angular class="ag-theme-epoint custom-paging"
      style="width: 100%; height: calc(100% - 25px);"
      #agGrid

      [rowData]="rowData"
      [columnDefs]="columnDefs"
      domLayout="autoHeight"
      [frameworkComponents]="frameworkComponents"
      [modules]="modules"
      (gridReady)="onGridReady($event)"
      suppressRowClickSelection="true"
      [pagination]="true"
      [paginationPageSize]="selectedPageSize.id"
      [cacheBlockSize]="selectedPageSize.id"
      suppressSizeToFit="true"
      [cacheOverflowSize]="2"
      [maxConcurrentDatasourceRequests]="2"
      [maxBlocksInCache]="1"
      [gridOptions]="gridOptions"
      [localeText]="localeText"

      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      [overlayLoadingTemplate]="overlayLoadingTemplate"
      (paginationChanged)="onPaginationChange($event)"
      (firstDataRendered)="onFirstDataRendered($event)"
      [suppressColumnVirtualisation]="true"
      (gridSizeChanged)="gridSizeChanged()"
      >
    </ag-grid-angular>
    <div class="ag-paging-panel-selection d-flex">
      <div class="ml-auto">
        <app-select-dropdown [form]="form" [property]="pageSizeProperty" [selectOptions]="pageSizes"
          [disabled]="false" (selectedValueChanged)="pageSizeChanged($event)">
        </app-select-dropdown>
      </div>
    </div>
  </div>
</div>

<ng-template #tipContentRefresh><span>{{'ALARMS.REFRESH-ALARMS' | translate }}</span></ng-template>
