<form [formGroup]="form">

  <div class="range-picker-container">
        <div class="d-flex range-field" [ngClass]="{'focused': focused }" #anchorTextbox>
          <div class="edge-content left">
            <i class="pl-2 far fa-calendar"></i>
          </div>
          <kendo-dateinput [formControlName]="startProperty" [placeholder]="startDatePlaceholder" [format]="format" class="left-date" (valueChange)="dateChanged()" (focus)="onDateFocus()" (blur)="onDateBlur()">
          </kendo-dateinput>
          <div class="separator">
            -
          </div>
          <kendo-dateinput [placeholder]="endDatePlaceholder" [formControlName]="endProperty" [format]="format" class="right-date" (valueChange)="dateChanged()" (focus)="onDateFocus()" (blur)="onDateBlur()">
          </kendo-dateinput>
          <div class="edge-content right">
            <a (click)="togglePopup()"><i class="pr-2 far fa-angle-down" style="cursor:pointer;"></i></a>
          </div>
        </div>
        <div class="help-block" *ngIf="showErrors()">
          <div *ngFor="let error of errors">
            <i class="far fa-info-circle text-danger"></i><small class="text-danger">{{error}}</small>
          </div>
        </div>

    <kendo-popup [ngStyle]="{width: popupWidth}" #popup [anchor]="anchorTextbox" *ngIf="show">
      <div (onFocus)="show = true" (onBlur)="show = false" class="w-100 pl-2 pr-2">
        <div class="range-picker-popup">
          <div class="form-row">
            <div class="range-50">
              <app-datetime-picker #datePickerStart [form]="form" [property]="startProperty" label="Start" (valueChange)="dateChanged()">
              </app-datetime-picker>
            </div>
            <div class="range-separator">
              <i class="fas fa-minus"></i>
            </div>
            <div class="range-50">
              <app-datetime-picker #datePickerEnd [form]="form" [property]="endProperty" label="End" (valueChange)="dateChanged()">
              </app-datetime-picker>
            </div>
          </div>
          <div class="form-row mb-2">
            <div class="range-50">
              <button class="btn btn-secondary w-100" i18n (click)="setRange(1)">{{ 'DAY.TODAY' | translate }}</button>
            </div>
            <div class="range-separator">
            </div>
            <div class="range-50">
              <button class="btn btn-secondary w-100" i18n (click)="setRange(2)">{{ 'DAY.YESTERDAY' | translate }}</button>
            </div>
          </div>
          <div class="form-row mb-2">
            <div class="range-50">
              <button class="btn btn-secondary w-100" i18n (click)="setRange(3)">{{ 'DAY.LAST-7-DAYS' | translate }}</button>
            </div>
            <div class="range-separator">
            </div>
            <div class="range-50">
              <button class="btn btn-secondary w-100" i18n (click)="setRange(4)">{{ 'DAY.LAST-30-DAYS' | translate }}</button>
            </div>
          </div>
          <div class="form-row mb-1">
            <div class="range-50">
              <button class="btn btn-secondary w-100" i18n (click)="setRange(5)">{{ 'DAY.CURRENT-MONTH' | translate }}</button>
            </div>
            <div class="range-separator">
            </div>
            <div class="range-50">
              <button class="btn btn-secondary w-100" i18n (click)="setRange(6)">{{ 'DAY.LAST-MONTH' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </kendo-popup>
  </div>
</form>
