// Tailwind currently disabled - datatable border issue
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "styles/font-awsome/css/all.min.css";
@import "styles/material";
//
@import 'brand';

/* import Bootstrap files */
@import "styles/../../node_modules/bootstrap/scss/functions";
@import "styles/../../node_modules/bootstrap/scss/mixins";
@import "styles/variables";
//
@import "styles/../../node_modules/@progress/kendo-theme-bootstrap/dist/all.scss";
//
@import "styles/navs";
//
@import "styles/kendoUI";
@import "styles/ag-grid";
//
@import "styles/custom-style";
@import "styles/global";
//
// TODO CHECK IF SOMETHING IS NOT USED
@import 'styles/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// TEMP DIRTY HACKS BS4->BS5 migration
.form-group {
  margin-bottom: 1rem;
}

//.border-left {
//  border-left: 1px solid #ced2d9 !important;
//}

.k-multiselect .k-multiselect-wrap, .k-dropdowntree .k-multiselect-wrap {
  border-width: 0;
}

.k-combobox .k-dropdown-wrap {
  border-style: none;
}

.k-numerictextbox .k-numeric-wrap {
  border-style: none;
}

// tailwind border issue
*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: hidden;
}

