<div id="modal-container">
  <div class="modal-header">
    <h3 class="modal-title">
      <ng-content select="[modal-header]"></ng-content>
    </h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()">
    </button>
  </div>
  <div *ngIf="!loading">
    <div class="modal-body">
      <ng-content select="[modal-body]"></ng-content>
    </div>
    <div class="modal-footer">
      <ng-content select="[modal-footer]"> </ng-content>
    </div>
  </div>
  <div *ngIf="loading" class="tw-flex tw-justify-center tw-items-center tw-h-40">
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
