<div *ngIf="modalTitle" class="modal-header modal-md">
  <div *ngIf="warningIcon" class="modal-warning">
    <img [src]="'assets/images/icons/warning-icon.svg'" class="me-3" />
  </div>
  <h3 class="modal-title">{{ modalTitle | translate }}</h3>

  <button *ngIf="!hideCloseButton" (click)="dismiss()" aria-label="Close" class="btn-close" type="button">
    <span aria-hidden="true"></span>
  </button>
</div>

<div class="modal-body small-title">

  <div *ngIf="showSecondConfirm" class="form-row pt-2 text-center">
    <div class="col-12">
      <div class="card-body">
        <div class="small-title tw-pb-2">{{ confirmMessage | translate }}</div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!showSecondConfirm">

    {{ modalBody | translate }}

    <div *ngIf="alertText || dangerText" class="alert alert-danger mt-3 tw-text-sm" role="alert">
      <div *ngIf="dangerText" class="tw-pb-2">
        <i class="fas fa-exclamation-triangle me-2"></i>
        <span>{{ dangerText | translate }}</span>
      </div>
      <span class="text-danger">{{ alertText | translate }}</span>
    </div>

    <div *ngIf="checkboxLabel" class="d-flex justify-content-between gray-line gray-line-top tw-py-3 mt-4">
      <div class="modal-checkbox-label text-normal">
        {{ checkboxLabel | translate }}
      </div>
      <div>
        <kendo-switch (valueChange)="onValueChanged($event)"
                      [(ngModel)]="checkboxValue"></kendo-switch>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal-footer">
  <button (click)="dismiss()" *ngIf="!withoutCancelButton" class="btn text-secondary"
          type="button"> {{ btnCancelText | translate }}
  </button>
  <button (click)="confirm()" class="btn btn-primary" type="button">{{ btnConfirmText | translate }}</button>
</div>
