<div id="modal-container">
  <div class="modal-header">
    <h3 class="modal-title">
      <ng-content select="[modal-header]"></ng-content>
    </h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()">
    </button>
  </div>
  <div *ngIf="!loading">
    <div class="modal-body">
      <ng-content select="[modal-body]"></ng-content>
    </div>
    <div class="modal-footer">
      <ng-content select="[modal-footer]"></ng-content>
    </div>
  </div>
  <div *ngIf="loading" class="tw-flex tw-justify-center tw-items-center tw-h-40">
    <app-no-data [loading]="loading" [loadingDataText]="false"></app-no-data>
  </div>
</div>
