<div class="modal-header gray-line" *ngIf="modalTitle">
  <div class="modal-warning" *ngIf='warningIcon'>
    <img src="../../../assets/images/icons/warning-icon.svg" class="mr-3" />
  </div>
  <h3 class="modal-title">{{modalTitle}}</h3>

  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body big-text">{{modalBody}}</div>

<div class="modal-footer">
  <button type="button" class="btn btn-link" (click)="dismiss()" i18n>Cancel</button>
  <button type="button" class="btn btn-primary" (click)="confirm()" i18n>{{btnConfirmText}}</button>
</div>
