<app-modal-template (dismiss)="onDismiss()">

    <div modal-header i18n>Change password</div>
  
    <div modal-body>
      <ng-container *ngIf="form">
        <div class="form-row">
          <div class="col">
            <app-input-text [inputType]="'password'" [form]="form" [property]="oldPasswordPropety" i18n-label label="Old password">
            </app-input-text>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <app-input-text [inputType]="'password'" [form]="form" [property]="newPasswordPropety" i18n-label label="New password">
            </app-input-text>
            <div class="position-absolute fixed-top d-flex flex-row-reverse"> 
              <i class="fa fa-exclamation-circle text-secondary mr-1 position-relative"  [ngbTooltip]="tipContent" container="body" placement="auto"></i>
            </div>          
          </div>          
        </div>
        <div class="form-row">
          <div class="col">
            <app-input-text [inputType]="'password'" [form]="form" [property]="repeatPasswordPropety" i18n-label label="Repeat password">
            </app-input-text>            
          </div>
        </div>
      </ng-container>
    </div>
  
    <div modal-footer>
      <button type=" button" class="btn btn-outline-primary" (click)="save()" i18n>Save</button>
    </div>
  </app-modal-template>

  <ng-template #tipContent>
    <span i18n>
    <div class="text-sm-left">
      Your password must have:
      <ul>
          <li>a minimum 8 character</li>
          <li>upper and lower letters</li>
          <li>a number</li>
          <li>yout password cannot match your email address</li>
        </ul>
    </div>
    </span>
  </ng-template>