<div class="modal-header modal-md" *ngIf="modalTitle">
  <div class="modal-warning" *ngIf="warningIcon">
    <img [src]="'assets/images/icons/warning-icon.svg'" class="me-3" />
  </div>
  <h3 class="modal-title">{{ modalTitle | translate }}</h3>

  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true"></span>
  </button>
</div>

<div class="modal-body small-title">

  <div class="form-row pt-2 text-center" *ngIf="showSecondConfirm">
    <div class="col-12">
      <div class="card-body">
        <div class="small-title pb-1">{{ confirmMessage | translate }}</div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!showSecondConfirm">
    {{ modalBody | translate }}

    <div *ngIf="checkboxLabel" class="d-flex justify-content-between gray-line gray-line-top py-3 mt-4">
      <div class="modal-checkbox-label text-normal">
        {{ checkboxLabel | translate }}
      </div>
      <div>
        <kendo-switch [(ngModel)]="checkboxValue"
                      (valueChange)="onValueChanged($event)"></kendo-switch>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal-footer">
  <button type="button" class="btn text-secondary" (click)="dismiss()">{{ 'BUTTON.CANCEL' | translate }}</button>
  <button type="button" class="btn btn-primary" (click)="confirm()">{{ btnConfirmText | translate }}</button>
</div>
