<app-modal-template (dismiss)="onDismiss()">

  <div modal-header i18n>Add Data Concentrator Unit</div>

  <div modal-body>
    <ng-container>

      <kendo-tabstrip (tabSelect)="onTabSelect($event);" [keepTabContent]="true">
        <kendo-tabstrip-tab [title]="getTabTitleBasic" [selected]="true">
          <ng-template kendoTabContent>


      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="saveError">
        <strong><span i18n>Error saving DCU!</span></strong> <br/> {{saveError}}
      </div>

      <app-input-text [form]="form" [property]="nameProperty" i18n-label label="Name"></app-input-text>

      <div class="form-row">
        <div class="col-6">
          <app-input-text [form]="form" [property]="idNumberProperty" i18n-label label="Id (serial number)">
          </app-input-text>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          <app-input-text [form]="form" [property]="externalIdProperty" i18n-label label="External Id">
          </app-input-text>
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          <app-input-text [form]="form" [property]="ipProperty" i18n-label label="IP"></app-input-text>
        </div>
      </div>

      <app-select-input i18n-label label="Vendor" [form]="form" [property]="vendorProperty" [selectOptions]="dcuVendors"
        [disabled]="false" (selectedValueChanged)="onVendorChanged($event)">
      </app-select-input>

      <div class="form-row">
        <div class="col-4">
          <app-select-input i18n-label label="Type" [form]="form" [property]="typeProperty" [selectOptions]="dcuTypes$ | async"
            [disabled]="false" (selectedValueChanged)="onTypeChanged($event)">
          </app-select-input>
        </div>
      </div>

      <div *ngIf="credentialsVisible">
        <div class="form-row">
          <div class="col-6">
            <app-input-text [form]="form" [property]="userNameProperty" i18n-label label="Username"></app-input-text>
          </div>
        </div>
      </div>

      <app-input-tag i18n-label label="Tag" [property]="tagsProperty" [form]="form" [autocompleteItemsAsObjects]="dcuTags$ | async"
        [disabled]="false" [allowCustomValues]="true">
      </app-input-tag>

      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="getTabTitleJobs">
      <ng-template kendoTabContent>
        <div class="form-row">
          <div class="col-12 p-0">
            <div>
              <app-jobs-select [jobTypes]="[1,3,4,5]"></app-jobs-select>
            </div>
          </div>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-link" (click)="cancel()" i18n>Cancel</button>
      <div dropdown class="btn-group dropdown">
        <button type="submit" class="btn btn-primary" (click)="save(false)" i18n>Save</button>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" [ngbTooltip]="tipMoreSave">
        </button>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" (click)="save(true)" i18n>Save and Add another</a>
        </div>
      </div>
    </div>
  </div>
</app-modal-template>

<ng-template #tipMoreSave><span i18n>More Save options</span></ng-template>
