<div *ngIf="!noData">
  <div class="mb-2">
    <div class="mb-2 grid-actions">
      <app-action-form (searchChange)=searchData($event) (refresh)="refreshGrid()" class=""
                       [useWildcards]="useWildcards" (toggleWildcards)="toggleWildcards($event)">
        <div *ngIf="selectedAtLeastOneRowOnGrid">
          <button [appHideIfAuthorizedReadonly]="formFunctionality" type="button" class="btn btn-primary"
                  (click)="onRemoveFromJob()"><i class="far fa-calendar"></i>
            <span>{{ 'JOB.REMOVE' | translate }}</span></button>
        </div>
      </app-action-form>
    </div>
  </div>
  <!-- ag-grid -->
  <div class="list-for-job-body-scroll">
    <div>
      <ag-grid-angular class="ag-theme-epoint custom-paging" style="width: 100%; height: calc(100% - 25px);" #agGrid
                       [domLayout]=agGridSettings.domLayout
                       [localeText]="localeText"
                       [modules]="modules"
                       [icons]="icons"
                       [pagination]=agGridSettings.pagination
                       [paginationPageSize]=agGridSettings.paginationPageSize
                       [multiSortKey]=agGridSettings.multiSortKey
                       [cacheOverflowSize]="agGridSettings.cacheOverflowSize"
                       [maxConcurrentDatasourceRequests]="agGridSettings.maxConcurrentDatasourceRequests"
                       [frameworkComponents]="frameworkComponents"
                       [cacheBlockSize]=agGridSettings.paginationPageSize
                       [maxBlocksInCache]="1"
                       [gridOptions]="gridOptions"
                       [columnDefs]="columns"
                       [suppressRowClickSelection]=agGridSettings.suppressRowClickSelection
                       [rowSelection]=agGridSettings.rowSelection
                       [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                       [overlayLoadingTemplate]="overlayLoadingTemplate"
                       [suppressColumnVirtualisation]="true"
                       (selectionChanged)="onSelectionChanged()"
                       (gridReady)="onGridReady($event)"
                       (columnVisible)="onColumnVisible($event)"
                       (toolPanelVisibleChanged)="toolPanelChanged($event)"
                       (paginationChanged)="onPaginationChange($event)"
                       (rowSelected)="onRowSelect($event)"
                       (firstDataRendered)="onFirstDataRendered($event)"
                       (gridSizeChanged)="gridSizeChanged()">
      </ag-grid-angular>
      <div class="ag-paging-panel-selection">
        <div class="p-2 ms-1" *ngIf="getSelectedCount() > 0">
          <div class="me-3" *ngIf="!checkSelectedAll() && getSelectedCount() > 0">
            <small class="link text-secondary">{{getSelectedCount()}}
              <strong><span>{{ 'COMMON.ITEMS-SELECTED' | translate }}</span> &middot;
                <a class="text-primary" href="javascript:void(0);" (click)="selectAll()">
                  <span>{{ 'COMMON.SELECT-ALL' | translate }}</span>({{totalCount}})</a> &middot;
                <a class="text-primary" href="javascript:void(0);" (click)="deselectAll()">
                  <span>{{ 'COMMON.ITEMS-SELECTED' | translate }}</span></a>
              </strong>
            </small>
          </div>

          <div class="me-3" *ngIf="checkSelectedAll()">
            <small class="link text-secondary"><strong><span>{{ 'COMMON.ALL' | translate }}</span>
              ({{getTotalCountWithoutExcludedDisplay()}}) <span>{{ 'COMMON.ITEMS-SELECTED' | translate }}</span> &middot;
              <a class="text-primary" href="javascript:void(0);" (click)="deselectAll()">
                <span>{{ 'COMMON.ITEMS-SELECTED' | translate }}</span></a></strong></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #tipMoreSave><span>{{ 'COMMON.MORE-OPTIONS' | translate }}</span></ng-template>
