<div *ngIf="!noData">
  <div class="mb-2">
    <div class="mb-2 grid-actions">
      <app-action-form (refresh)="refreshGrid()" (searchChange)=searchData($event)
                       (toggleWildcards)="toggleWildcards($event)"
                       [useWildcards]="useWildcards" class="">
        <div *ngIf="selectedRows().length > 0">
          <button (click)="onRemoveFromJob()" class="btn btn-primary"
                  type="button">
            <span>{{ 'JOB.REMOVE' | translate }}</span></button>
        </div>
      </app-action-form>
    </div>
  </div>
  <!-- ag-grid -->
  <div class="list-for-job-body-scroll">
    <div>
      <ag-grid-angular #agGrid (columnVisible)="onColumnVisible($event)"
                       (firstDataRendered)="onFirstDataRendered($event)"
                       (gridReady)="onGridReady($event)"
                       (gridSizeChanged)="gridSizeChanged()"
                       (paginationChanged)="onPaginationChange($event)"
                       (rowSelected)="onRowSelect($event)"
                       (selectionChanged)="onSelectionChanged()"
                       (toolPanelVisibleChanged)="toolPanelChanged($event)"
                       [cacheBlockSize]=agGridSettings.paginationPageSize
                       [cacheOverflowSize]="agGridSettings.cacheOverflowSize"
                       [columnDefs]="columns"
                       [domLayout]=agGridSettings.domLayout
                       [frameworkComponents]="frameworkComponents"
                       [gridOptions]="gridOptions"
                       [icons]="icons"
                       [localeText]="localeText"
                       [maxBlocksInCache]="1"
                       [maxConcurrentDatasourceRequests]="agGridSettings.maxConcurrentDatasourceRequests"
                       [modules]="modules"
                       [multiSortKey]=agGridSettings.multiSortKey
                       [overlayLoadingTemplate]="overlayLoadingTemplate"
                       [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                       [paginationPageSize]=agGridSettings.paginationPageSize
                       [pagination]=agGridSettings.pagination
                       [rowSelection]=agGridSettings.rowSelection
                       [suppressColumnVirtualisation]="true"
                       [suppressRowClickSelection]=agGridSettings.suppressRowClickSelection
                       class="ag-theme-epoint custom-paging"
                       style="width: 100%; height: calc(100% - 25px);">
      </ag-grid-angular>
      <div class="ag-paging-panel-selection">
        <div class="p-2 ms-1">
          ({{getTotalCountWithoutExcludedDisplay()}}) <span>{{ 'COMMON.ITEMS-SELECTED' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #tipMoreSave><span>{{ 'COMMON.MORE-OPTIONS' | translate }}</span></ng-template>
