<div class="card shadow">
  <div class="card-body">
    <form *ngIf="form">
      <fieldset [appDisableIfAuthorizedReadonly]="formFunctionality">
        <div class="row">
          <div class="col-6">
            <app-input-text [form]="form" [property]="firstNameProperty" i18n-label label="Name" required>
            </app-input-text>
          </div>
          <div class="col-6">
            <app-input-text [form]="form" [property]="lastNameProperty" i18n-label label="Last name" required>
            </app-input-text>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <app-input-text [form]="form" [property]="userNameProperty" i18n-label label="User name" required>
            </app-input-text>
          </div>
          <div class="col-6">
            <app-input-text [form]="form" [property]="emailProperty" i18n-label label="Email" required>
            </app-input-text>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <app-select-input [form]="form" i18n-label label="Access type" [property]="accessTypeIdProperty"
              [selectOptions]="accessTypes$ | async">
            </app-select-input>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <app-input-text [form]="form" [property]="gsmNumberProperty" i18n-label label="Gsm number">
            </app-input-text>
          </div>
          <div class="col-6">
            <app-input-text [form]="form" [property]="officeNumberProperty" i18n-label label="Office number">
            </app-input-text>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="row">
      <div class="col-auto ml-auto">
        <button [appHideIfAuthorizedReadonly]="formFunctionality" class="btn btn-outline-primary"
          (click)="onSaveClicked()"><i class="fa fa-save"></i><span i18n>Save</span></button>
      </div>
    </div>
  </div>
</div>