<div class="d-flex justify-content-between align-items-center p-2 grid-actions">
  <div>
    <small *ngIf="selectedAtLeastOneRowOnGrid" class="text-primary"><strong>{{getSelectedRowsCount()}}
      <span>{{ 'COMMON.ITEMS-SELECTED' | translate }}</span></strong></small>
    <span *ngIf="selectedAtLeastOneRowOnGrid" class="text-secondary tw-mx-1">&middot;</span>
    <small class="text-secondary">{{totalCount}} <span>{{ 'COMMON.ITEMS-FOUND' | translate }}</span></small>

  </div>
  <app-input-searcher (insertedValue)="searchChange($event)" [debounceTimeOut]="300" [form]="form"
                      [placeholder]="staticTextService.placeholderSearch"
                      [property]="searchProperty"></app-input-searcher>
</div>

<ag-grid-angular #agGrid (firstDataRendered)="onFirstDataRendered($event)" (gridReady)="onGridReady($event)"
                 (rowSelected)="onRowSelect($event)"
                 (selectionChanged)="selectionChanged($event)"
                 [cacheBlockSize]="100"
                 [cacheOverflowSize]="0"
                 [columnDefs]="columnDefs"
                 [frameworkComponents]="frameworkComponents"
                 [gridOptions]="gridOptions"
                 [icons]="icons"
                 [maxBlocksInCache]="1"
                 [modules]="modules"
                 [ngStyle]="{'height': height}"
                 [rowData]="rowData"
                 [rowSelection]=agGridSettings.rowSelection
                 class="ag-theme-epoint scrollable"
                 pagination="false"
                 style="width: 100%;"
                 suppressRowClickSelection="true"
                 suppressSizeToFit="false">
</ag-grid-angular>
