<app-modal-template (dismiss)="onDismiss()">

  <div modal-header [innerHTML]="'PLC-METER.BREAKER.SET-BREAKER-MODE' | translate:{selectedRowsCount: selectedRowsCount}"></div>

  <div modal-body>
    <ng-container>
      <form class="form-horizontal" [formGroup]="form">
        <div class="form-row">
          <div class="col-12">
            <app-select-input label="DISCONNECTOR-MODE" [form]="form" [property]="disconnectorModeProperty" [selectOptions]="disconnectorModes" required>
            </app-select-input>
          </div>
        </div>
        <div class="text-danger" *ngIf="errMsg.length > 0"><small>{{errMsg}}</small></div>
      </form>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn text-secondary" (click)="onDismiss()">
        <span>{{ 'BUTTON.CANCEL' | translate }}</span>
      </button>
      <div class="btn-group dropdown">
        <button type="submit" class="btn btn-primary" (click)="onSet()">
          <span>{{ 'BUTTON.CONFIRM' | translate }}</span></button>
      </div>
    </div>
  </div>
</app-modal-template>

