<app-modal-template (dismiss)="onDismiss()">

  <div modal-header>{{ 'JOB.ACTIVE-JOB.TITLE' | translate }}</div>

  <div modal-body>
    <div class="d-flex justify-content-between mb-5">
      <div class="gray-box">
        <div class="box-data">
          <div class="large-text-bold">
            <div class="spinner-border text-secondary" role="status" *ngIf="loading">
              <span class="sr-only">Loading...</span>
            </div>
            <ng-container *ngIf="!loading">
              {{ activeJobs.totalJobs }}
            </ng-container>
          </div>
          <div class="tiny-text gray-color">{{ 'JOB.ACTIVE-JOB.TOTAL' | translate }}</div>
        </div>
      </div>

      <!-- TODO component -->
      <div class="gray-box">
        <div class="box-data">
          <div class="large-text-bold text-darkGray">
            <div class="spinner-border text-secondary" role="status" *ngIf="loading">
              <span class="sr-only">Loading...</span>
            </div>
            <ng-container *ngIf="!loading">
              {{ activeJobs.runningJobs }}
            </ng-container>
          </div>
          <div class="tiny-text gray-color">{{ 'JOB.ACTIVE-JOB.RUNNING' | translate }}</div>
        </div>
      </div>

      <div class="gray-box">
        <div class="box-data">
          <div class="large-text-bold gray-color-dark">
            <div class="spinner-border text-secondary" role="status" *ngIf="loading">
              <span class="sr-only">Loading...</span>
            </div>
            <ng-container *ngIf="!loading">
              {{ activeJobs.pendingJobs }}
            </ng-container>
          </div>
          <div class="tiny-text gray-color">{{ 'JOB.ACTIVE-JOB.PENDING' | translate }}</div>
        </div>
      </div>
    </div>

    <div class="custom-datatable">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" class="tiny-text gray-color">{{ 'JOB.ACTIVE-JOB.TYPE' | translate }}</th>
          <th scope="col" class="tiny-text gray-color">{{ 'JOB.ACTIVE-JOB.RUNNING-TIME' | translate }}</th>
          <th scope="col" class="tiny-text gray-color">{{ 'JOB.ACTIVE-JOB.STATE' | translate }}</th>
          <th scope="col" class="tiny-text gray-color">{{ 'JOB.ACTIVE-JOB.STATUS' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr  [ngClass]="i%2 == 0 ? 'gray-background':''" *ngFor="let job of activeJobs.jobs; let i = index;">
          <td>{{ job.jobName }}</td>
          <td>{{ job.lastUpdated | date:'medium' }}</td>
          <td>
            <img src="../../../assets/images/icons/{{job.state?.toLowerCase()}}-icon.svg" class="mr-3" />
          </td>
          <td>
            {{ job.status}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div modal-footer>
    <button type="button" class="btn btn-link" (click)="onDismiss()">{{ 'BUTTON.CLOSE' | translate }}</button>
  </div>
</app-modal-template>
