<app-modal-template (dismiss)="onDismiss()">

  <div modal-header>Active jobs</div>

  <div modal-body>
    <div class="d-flex justify-content-between mb-5">
      <div class="gray-box">
        <div class="box-data">
          <div class="large-text-bold">
            <div class="spinner-border text-secondary" role="status" *ngIf="loading">
              <span class="sr-only">Loading...</span>
            </div>
            <ng-container *ngIf="!loading">
              {{ activeJobs.totalJobs }}
            </ng-container>
          </div>
          <div class="tiny-text gray-color">Total jobs</div>
        </div>
      </div>

      <!-- TODO component -->
      <div class="gray-box">
        <div class="box-data">
          <div class="large-text-bold text-darkGray">
            <div class="spinner-border text-secondary" role="status" *ngIf="loading">
              <span class="sr-only">Loading...</span>
            </div>
            <ng-container *ngIf="!loading">
              {{ activeJobs.runningJobs }}
            </ng-container>
          </div>
          <div class="tiny-text gray-color">Running</div>
        </div>
      </div>

      <div class="gray-box">
        <div class="box-data">
          <div class="large-text-bold gray-color-dark">
            <div class="spinner-border text-secondary" role="status" *ngIf="loading">
              <span class="sr-only">Loading...</span>
            </div>
            <ng-container *ngIf="!loading">
              {{ activeJobs.pendingJobs }}
            </ng-container>
          </div>
          <div class="tiny-text gray-color">Pending</div>
        </div>
      </div>
    </div>

    <div class="custom-datatable">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" class="tiny-text gray-color">Type</th>
          <th scope="col" class="tiny-text gray-color">Running Time</th>
          <th scope="col" class="tiny-text gray-color">State</th>
          <th scope="col" class="tiny-text gray-color">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr [ngClass]="i%2 == 0 ? 'gray-background':''" *ngFor="let job of activeJobs.jobs; let i = index;">
          <td>{{ job.jobName }}</td>
          <td>{{ job.lastUpdated | date:'medium' }}</td>
          <td>
            <img src="assets/images/icons/{{job.state?.toLowerCase()}}-icon.svg" class="mr-3" />
          </td>
          <td>
            {{ job.status}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div modal-footer>
    <button type="button" class="btn text-secondary" i18n (click)="onDismiss()">Close</button>
  </div>
</app-modal-template>
