<div class="form-group" [formGroup]="form" [ngClass]="{'has-error': showErrors()}">

    <label [attr.for]="name" *ngIf="label">
        {{label}}
        <sup *ngIf="required"> *</sup>
    </label>

    <div class="multiselect" [ngClass]="{'multiselect-disabled': isReadOnly, 'd-flex flex-nowrap justify-content-start': inOneRow}" [id]="name">
        <div *ngFor="let option of options; let i = index;">
            <div>
                <input class="mr-1" type="checkbox" id="input-checkbox-{{i}}"
                    [checked]="isOptionChecked(option)" value="isOptionChecked(option)" [readonly]="isReadOnly" kendoCheckBox>

                <label for="{{option.id}}" class="mr-3"
                    (click)="selectedValue(option, isOptionChecked(option))">{{option.value}}</label>
            </div>
        </div>
    </div>

    <!--Loop through errors-->
    <div class="help-block" *ngIf="showErrors()">
        <app-form-error [error]="formControl!.errors "></app-form-error>
    </div>
</div>
