.app-card-header {
  @apply tw-inline-flex;
  @apply tw-bg-lightestGray;
  @apply tw-rounded-t-md;
  @apply tw-w-full;
  @apply tw-h-16;
  @apply tw-p-5;
  @apply tw-items-center;
  @apply tw-justify-between;
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-border-lightGray;
}

.app-card-button {
  @apply tw-inline-flex;
  @apply tw-rounded;
  @apply tw-items-center;
  @apply tw-px-2;
  @apply tw-py-1;
}

.app-card-body {
  @apply tw-border-lightGray;
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-border-t-0;
  @apply tw-border-b-0;

  &.map {
    @apply tw-border-b;
    @apply tw-rounded-b-md;
  }
}

.app-card-row {
  @apply tw-inline-flex;
  @apply tw-justify-between;
  @apply tw-px-6;
  @apply tw-w-full;
  @apply tw-h-12;
  @apply tw-items-center;
  @apply tw-border-b;
  @apply tw-border-solid;
  @apply tw-border-lightGray;
}

.app-card-show-more-button {
  @apply tw-w-full;
  @apply tw-h-14;
  @apply tw-text-primary;
  @apply tw-p-5;
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-rounded-b-md;
  @apply tw-border-lightGray;
  @apply tw-border-t-0;
  @apply tw-text-center;
  @apply tw-cursor-pointer;
}

.rounded-bottom-border {
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-rounded-b-md;
  @apply tw-border-lightGray;
}

.meter-status-item {
  @apply tw-inline-flex;
  @apply tw-justify-between;
  @apply tw-items-center;
  @apply tw-px-4;
  border-radius: 100px;
  width: 184px;
  height: 44px;
  margin-left: 30px;
  margin-bottom: 5px;
}

.bottom-border {
  @apply tw-border-lightGray;
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-rounded-b-md;
  @apply tw-border-t-0;
  height: 0.375rem;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.tag-item {
  padding: 3px 8px;
  line-height: 1rem;
  background-color: #E9BD4A;
  color: white;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 2px;
  height: 20px;
}

.tag-items {
  display: flex;
  flex-wrap: wrap;
}

// classes added because of tailwind JIT
.bg-installed {
  @apply tw-bg-installed;
}

.bg-installing {
  @apply tw-bg-installing;
}

.bg-awaiting {
  @apply tw-bg-awaiting;
}

.bg-blacklist {
  @apply tw-bg-blacklist;
}

.bg-blacklist {
  @apply tw-bg-blacklist;
}

.bg-disappeared {
  @apply tw-bg-disappeared;
}

.bg-lost {
  @apply tw-bg-lost;
}

.bg-deinstalled {
  @apply tw-bg-deinstalled;
}

.bg-other {
  @apply tw-bg-other;
}

.opacity {
  @apply tw-bg-opacity-20;
}

.leafet-map {
  height: 312px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
