.app-card-header {
  @apply tw-inline-flex;
  @apply tw-bg-lightestGray;
  @apply tw-rounded-t-md;
  @apply tw-w-full;
  @apply tw-h-20;
  @apply tw-p-5;
  @apply tw-items-center;
  @apply tw-justify-between;
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-border-lightGray;
}

.app-card-button {
  @apply tw-inline-flex;
  @apply tw-border-lightGray;
  @apply tw-rounded;
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-items-center;
  @apply tw-px-2;
  @apply tw-py-1;
}

.app-card-body {
  @apply tw-border-lightGray;
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-border-t-0;
  @apply tw-border-b-0;
}

.app-card-row {
  @apply tw-inline-flex;
  @apply tw-justify-between;
  @apply tw-px-6;
  @apply tw-w-full;
  @apply tw-h-12;
  @apply tw-items-center;
  @apply tw-border-b;
  @apply tw-border-solid;
  @apply tw-border-lightGray;
}

//.app-card-body :last-of-type {
//  @apply tw-rounded-b;
//}

.app-card-show-more-button {
  @apply tw-w-full;
  @apply tw-h-14;
  @apply tw-text-primary;
  @apply tw-p-5;
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-rounded-b-md;
  @apply tw-border-lightGray;
  @apply tw-border-t-0;
  @apply tw-text-center;
  @apply tw-cursor-pointer;
}

.rounded-bottom-border {
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-rounded-b-md;
  @apply tw-border-lightGray;
}

.meter-status-item {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  width: 184px;
  height: 44px;
  margin-left: 30px;
  @apply tw-px-4;
  margin-bottom: 5px;
  mix-blend-mode: multiply;

}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.bottom-border {
  @apply tw-border-lightGray;
  @apply tw-border;
  @apply tw-border-solid;
  @apply tw-rounded-b-md;
  height: 0.375rem;
  border-top: 0;
}

.bg-installed {
  @apply tw-bg-installed;
}

.bg-installing {
  @apply tw-bg-installing;
}

.bg-awaiting {
  @apply tw-bg-awaiting;
}

.bg-blacklist {
  @apply tw-bg-blacklist;
}

.bg-blacklist {
  @apply tw-bg-blacklist;
}

.bg-disappeared {
  @apply tw-bg-disappeared;
  &.opacity {
    @apply tw-bg-opacity-20;
  }
}

.bg-lost {
  @apply tw-bg-lost;
  &.opacity {
    @apply tw-bg-opacity-20;
  }
}

.bg-deinstalled {
  @apply tw-bg-deinstalled;
  &.opacity {
    @apply tw-bg-opacity-20;
  }
}

.bg-other {
  @apply tw-bg-other;
  &.opacity {
    @apply tw-bg-opacity-20;
  }
}

.opacity {
  @apply tw-bg-opacity-20;
}
