<div *ngIf="showSecurities && operationType === componentType.SECURITY"
     [permissions]="[permissionManageConcentrators]"
     appHideIfAllPermissionsUnauthorized class="btn-group"
     dropdown>
  <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" dropdownToggle id="securityDropDown"
          type="button"><span>{{ 'OPERATION.SECURITY' | translate }}</span></button>
  <div (click)="$event.stopPropagation();" class="dropdown-menu" style="min-width: 10rem">
    <div class="tw-pr-5">
      <a (click)="onReKeyHmac()" [permission]="permissionManageConcentrators"
         appHideIfPermissionUnauthorized class="dropdown-item custom-hover-display"
         href="javascript:void(0)"><span>{{ 'OPERATION.RE-KEY-HMAC' | translate }}</span></a>
      <a (click)="onReKeyConcentrator()" [permission]="permissionManageConcentrators && permissionReKey"
         appHideIfPermissionUnauthorized class="dropdown-item custom-hover-display"
         href="javascript:void(0)"><span>{{ 'OPERATION.RE-KEY-CONCENTRATOR' | translate }}</span></a>
    </div>
  </div>
</div>

<div *ngIf="showOperations && operationType === componentType.OPERATION"
     [permissions]="[permissionSynchronizeTime, permissionFwUpgrade, permissionDeviceDiscovery]"
     appHideIfAllPermissionsUnauthorized class="btn-group"
     dropdown>
  <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" dropdownToggle id="operationsDropDown"
          type="button"><span>{{ 'OPERATION.OPERATIONS' | translate }}</span></button>
  <div (click)="$event.stopPropagation();" class="dropdown-menu" style="min-width: 10rem">
    <div class="tw-pr-5">
      <a (click)="onSynchronizeTime()" [permission]="permissionSynchronizeTime"
         appHideIfPermissionUnauthorized class="dropdown-item custom-hover-display"
         href="javascript:void(0)"><span>{{ 'OPERATION.SYNCHRONIZE-TIME' | translate }}</span></a>
      <a (click)="onFwUpgrade()" [permission]="permissionFwUpgrade"
         appHideIfPermissionUnauthorized class="dropdown-item custom-hover-display"
         href="javascript:void(0)"><span>{{ 'OPERATION.FW-UPGRADE' | translate }}</span></a>
      <a (click)="onDeviceDiscovery()" [permission]="permissionDeviceDiscovery"
         appHideIfPermissionUnauthorized class="dropdown-item custom-hover-display"
         href="javascript:void(0)"><span>{{ 'OPERATION.DEVICE-DISCOVERY' | translate }}</span></a>
      <a (click)="onDelete()" *ngIf="type" [permission]="permissionDeviceDiscovery"
         appHideIfPermissionUnauthorized class="dropdown-item custom-hover-display"
         href="javascript:void(0)"><span>{{ 'COMMON.DELETE' | translate }}</span></a>
    </div>
  </div>
</div>
