<div *ngIf="showOperations" [permissions]="[permissionSynchronizeTime, permissionFwUpgrade, permissionDeviceDiscovery]" appHideIfAllPermissionsUnauthorized class="btn-group"
     dropdown>
  <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" dropdownToggle id="operationsDropDown"
          type="button"><span>{{ 'OPERATION.OPERATIONS' | translate }}</span></button>
  <div (click)="$event.stopPropagation();" *dropdownMenu class="dropdown-menu" style="min-width: 13rem">
    <div>
      <a (click)="onSynchronizeTime()" [permission]="permissionSynchronizeTime"
         appHideIfPermissionUnauthorized class="dropdown-item custom-hover-display"
         href="javascript:void(0)"><span>{{ 'OPERATION.SYNCHRONIZE-TIME' | translate }}</span></a>
      <a (click)="onFwUpgrade()" [permission]="permissionFwUpgrade"
         appHideIfPermissionUnauthorized class="dropdown-item custom-hover-display"
         href="javascript:void(0)"><span>{{ 'OPERATION.FW-UPGRADE' | translate }}</span></a>
      <a (click)="onDeviceDiscovery()" [permission]="permissionDeviceDiscovery"
         appHideIfPermissionUnauthorized class="dropdown-item custom-hover-display"
         href="javascript:void(0)"><span>{{ 'OPERATION.DEVICE-DISCOVERY' | translate }}</span></a>
    </div>
  </div>
</div>
